#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% set mgmt_vlan = "2253" %}
            {# asset tag logic, kinda silly but this could be a useful field to actually track #}
                {% if device_values.asset_0 is not defined %}
                    {% set asset_0 = "I'm too lazy to define my asset variable!" %}
                {% else %}
                    {% set asset_0 = device_values.asset_0 %}
                {% endif %}
                {% if device_values.asset_1 is not defined %}
                    {% set asset_1 = "I'm too lazy to define my asset variable!" %}
                {% else %}
                    {% set asset_1 = device_values.asset_1 %}
                {% endif %}
                {% if device_values.model is not defined %}
                    {% set model = "srx1500" %}
                {% else %}
                    {% set model = device_values.model %}
                {% endif %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set vlan20prefix = hub_values.v20prefix_v4 %}
                {% set vlan21prefix = hub_values.v21prefix_v4 %}
                {% set vlan20tuple_list = vlan20prefix.split('.') %}
                {% set vlan20 = vlan20tuple_list[0] ~ vlan20tuple_list[1] ~ vlan20tuple_list[2] %}
                {% set vlan21tuple_list = vlan21prefix.split('.') %}
                {% set vlan21 = vlan21tuple_list[0] ~ vlan21tuple_list[1] ~ vlan21tuple_list[2] %}
                {% set v6supernet = hub_values.v6_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set v6tuple_list = v6supernet.split(':') %}
                {% set cluster_id = device_name.split('-')[3] %}
                {% if ( device_values.a_management_v4 is defined ) %}
                    {% set a_management_v4 = device_values.a_management_v4 %}
                {% elif ( device_values.a_management_v4 is not defined ) and ( cluster_id == "001" ) %}
                    {% set a_management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.236" %}
                {% else %}
                    {% set a_management_v4 = "a_management_v4 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.b_management_v4 is defined ) %}
                    {% set b_management_v4 = device_values.b_management_v4 %}
                {% elif ( device_values.b_management_v4 is not defined ) and ( cluster_id == "001" ) %}
                    {% set b_management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.237" %}
                {% else %}
                    {% set b_management_v4 = "b_management_v4 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.a_management_v6 is defined ) %}
                    {% set a_management_v6 = device_values.a_management_v6 %}
                    {% set a_management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ a_management_v6.split('::')[1] %}
                {% elif ( device_values.a_management_v6 is not defined ) and ( cluster_id == "001" ) %}
                    {% set a_management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::236" %}
                    {% set a_management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ a_management_v6.split('::')[1] %}
                {% else %}
                    {% set a_management_v6 = "a_management_v6 NOT DEFINED" %}
                    {% set a_management_fe80 = "a_management_fe80 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.b_management_v6 is defined ) %}
                    {% set b_management_v6 = device_values.b_management_v6 %}
                    {% set b_management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ b_management_v6.split('::')[1] %}
                {% elif ( device_values.b_management_v6 is not defined ) and ( cluster_id == "001" ) %}
                    {% set b_management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::237" %}
                    {% set b_management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ b_management_v6.split('::')[1] %}
                {% else %}
                    {% set b_management_v6 = "b_management_v6 NOT DEFINED" %}
                    {% set b_management_fe80 = "b_management_fe80 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.v4loopback_addr is not defined ) and ( cluster_id == "001" ) %}
                    {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.81" %}
                {% elif ( device_values.v4loopback_addr is defined ) %}
                    {% set loopback_v4 = device_values.v4loopback_addr %}
                {% else %}
                    {% set loopback_v4 = "loopback_v4 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.v6loopback_addr is not defined ) and ( cluster_id == "001" ) %}
                    {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::81" %}
                {% elif ( device_values.v6loopback_addr is defined ) %}
                    {% set loopback_v6 = device_values.v6loopback_addr %}
                {% else %}
                    {% set loopback_v6 = "loopback_v6 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.netflow_exporter is not defined ) and ( cluster_id == "001" ) %}
                    {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.238" %}
                {% elif ( device_values.netflow_exporter is defined ) %}
                    {% set netflow = device_values.netflow_exporter %}
                {% else %}
                    {% set netflow = "netflow NOT DEFINED" %}
                {% endif %}
                {% if hub_values.netflow_collector is not defined %}
                    {% set netflow_collector = "172.22.253.73" %}
                {% else %}
                    {% set netflow_collector = hub_values.netlfow_collector %}
                {% endif %}
                {% if device_values.management_default_v4 is not defined %}
                    {% set manage_def_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.1" %}
                {% else %}
                    {% set manage_def_v4 = device_values.management_default_v4 %}
                {% endif %}
                {% if device_values.management_default_v6 is not defined %}
                    {% set manage_def_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":2253::1" %}
                {% else %}
                    {% set manage_def_v6 = device_values.management_default_v6 %}
                {% endif %}
                {% if ( device_values.vlan200v4 is not defined ) and ( cluster_id == "001" ) %}
                    {% set vlan200v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".0.1" %}
                {% elif ( device_values.vlan200v4 is defined ) %}
                    {% set vlan200v4 = device_values.vlan200v4 %}
                {% else %}
                    {% set vlan200v4 = "vlan200v4 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.vlan200v6 is not defined ) and ( cluster_id == "001" ) %}
                    {% set vlan200v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":200::1" %}
                    {% set vlan200fe80 = "fe80::200:" ~ vlan200v6.split('::')[1] %}
                {% elif ( device_values.vlan200v6 is defined ) %}
                    {% set vlan200v6 = device_values.vlan200v6 %}
                    {% set vlan200fe80 = "fe80::200:" ~ vlan200v6.split('::')[1] %}
                {% else %}
                    {% set vlan200v6 = "vlan200v6 NOT DEFINED" %}
                    {% set vlan200fe80 = "vlan200fe80 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.vlan20v4 is not defined ) and ( cluster_id == "001" ) %}
                    {% set vlan20v4 = vlan20tuple_list[0] ~ "." ~ vlan20tuple_list[1] ~ "." ~ vlan20tuple_list[2] ~ ".254" %}
                {% elif ( device_values.vlan20v4 is defined ) %}
                    {% set vlan20v4 = device_values.vlan20v4 %}
                {% else %}
                    {% set vlan20v4 = "vlan20v4 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.vlan21v4 is not defined ) and ( cluster_id == "001" ) %}
                    {% set vlan21v4 = vlan21tuple_list[0] ~ "." ~ vlan21tuple_list[1] ~ "." ~ vlan21tuple_list[2] ~ ".254" %}
                {% elif ( device_values.vlan21v4 is defined ) %}
                    {% set vlan21v4 = device_values.vlan21v4 %}
                {% else %}
                    {% set vlan21v4 = "vlan21v4 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.vlan20v6 is not defined ) and ( cluster_id == "001" ) %}
                    {% set vlan20v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":20::254" %}
                    {% set vlan20fe80 = "fe80::20:254" %}
                {% elif ( device_values.vlan20v6 is defined ) %}
                    {% set vlan20v6 = device_values.vlan20v6 %}
                    {% set vlan20fe80 = "fe80::20::" ~ vlan20v6.split("::")[1] %}
                {% else %}
                    {% set vlan20v6 = "vlan20v6 NOT DEFINED" %}
                    {% set vlan20fe80 = "vlan20fe80 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.vlan21v6 is not defined ) and ( cluster_id == "001" ) %}
                    {% set vlan21v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":21::254" %}
                    {% set vlan21fe80 = "fe80::21:254" %}
                {% elif ( device_values.vlan21v6 is defined ) %}
                    {% set vlan21v6 = device_values.vlan20v6 %}
                    {% set vlan21fe80 = "fe80::21:" ~ vlan21v6.split("::")[1] %}
                {% else %}
                    {% set vlan21v6 = "vlan21v6 NOT DEFINED" %}
                    {% set vlan21fe80 = "vlan21fe80 NOT DEFINED" %}
                {% endif %}
replace:
groups {
    node0 {
        system {
{% set hostname = inventory_hostname.rsplit('-0')[0] %}
            host-name {{ hostname }}-01a;
            tacplus-server {
                {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 source-address {{ a_management_v4 }};
                10.202.253.11 source-address {{ a_management_v4 }};
            }
            accounting {
                destination {
                    tacplus {
                        server {
                            {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 source-address {{ a_management_v4 }};
                            10.202.253.11 source-address {{ a_management_v4 }};
                        }
                    }
                }
            }
            syslog {
                source-address {{ a_management_v4 }};
            }
        }
        interfaces {
            fxp0 {
                description "Management Interface";
                unit 0 {
                    description "Management Interface";
                    family inet {
                        address {{ a_management_v4 }}/24;
                    }
                    family inet6 {
                        address {{ a_management_v6 }}/64 {
                            preferred;
                        }
                        address {{ a_management_fe80 }}/64;
                    }
                }
            }
        }
        snmp {
            description "AN:{{ asset_0 }}";
            trap-options {
                source-address {{ a_management_v4 }};
            }
        }
    }
    node1 {
        system {
{% set hostname = inventory_hostname.rsplit('-0')[0] %}
            host-name {{ hostname }}-01b;
            tacplus-server {
                {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 source-address {{ b_management_v4 }};
                10.202.253.11 source-address {{ b_management_v4 }};
            }
            accounting {
                destination {
                    tacplus {
                        server {
                            {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 source-address {{ b_management_v4 }};
                            10.202.253.11 source-address {{ b_management_v4 }};
                        }
                    }
                }
            }
            syslog {
                source-address {{ b_management_v4 }};
            }
        }
        interfaces {
            fxp0 {
                description "Management Interface";
                unit 0 {
                    description "Management Interface";
                    family inet {
                        address {{ b_management_v4 }}/24;
                    }
                    family inet6 {
                        address {{ b_management_v6 }}/64 {
                            preferred;
                        }
                        address {{ b_management_fe80 }}/64;
                    }
                }
            }
        }
        snmp {
            description "AN:{{ asset_1 }}";
            trap-options {
                source-address {{ b_management_v4 }};
            }
        }
    }
}
replace:
apply-groups "${node}";
replace:
system {
    login {
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class RANCID-Class {
            idle-timeout 15;
            permissions [ view view-configuration ];
        }
        user admin {
            full-name "Backdoor Admin Account";
            uid 1000;
            class super-user;
            authentication {
                encrypted-password "$5$2xP3n7.z$DwO0p8kgodMLeWaxmsi1oA7NPvAqcqoKGhKouK1DsU/"; ## SECRET-DATA
            }
        }
        user ansible {
            uid 2002;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBTVCLDfgt01MMJDPY32AHCNO2wFudG4T7JWQccGzHhZDjYGbK4Nw1taT6q1sCNf3eeW9MVJX8U802g39sgLiUCZ1AHHSItvjA/ezaAY45347/PG8xztEOU5BR6QaSAlk7WNLSSDh76NeF3lKmuuZjNhYKfo/hDAj8Z6JnytSV3TGxBhulNLrKQ5BLoUXnrvaVAOrOAgEMM6Qn+EqXXSEZ4LVH7T0Pth1KAgel8UHVWdHRnL/tUd6aKSD8MJx7UgtrBK1wqmTqzQdzjVZSpI7WvchQTvuhvF3iMTeeNW1RPU0W/kSX0g9JHcPS/ySj5xCkZKSFMFQvkFogP4cKN5iV kylemc@ironwood"; ## SECRET-DATA
            }
        }
        user crogers {
            full-name switchninja;
            uid 1337;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDS9O+DvCGv2i0SALUwdlK7PlwvlZugLY9VXH4SHMBh1tn4A8Kcn1fmpozdRQYU8ygbFr8NCEjCbFn2kHjYXmyr01lc+kn6OrBGW8wRtpsfnRk/N93GKYowhRIq86sZpgAeGo7UXkvZUrJOFlLPcCCdspBPX98aF7WSRTWv6S7/kFCXKunpRy+NlRTmwUDS09mkevxNU4kvkyFSYyz+Se55D0xOHaZyCFREUKjY1kGxjVo3dcdp2PiQqrrAwzhtZD+AP8OxOu+l+heCEDD0W0g68dk3+BhdOmny2F7AQmv3cXKu+xBUjmDT6R5Qdgpv7zvfbihIE3lPaBHzJxFjFJAeBXM6JPxpbilLtJ7mlRVkZoW5NahiaPsTtaB/sPSQNm5yYrAUzvQzipwPV6I/fKFkqhW2dgu+U/Hb1X+vSFcqD0UsEVJqee4QQopyp7b8EBMB3W2ZXKqsDeUMSR0X0WtrMcUlGStQsSTxbg9Uy07WvdzLmaRGm2r8WjGwXLsz46Exb/uEZwjGmlbOporVi8262FZAtfFLb2/Jl9jhkM+d6guliEDJqk8bd5J+0wmnYsehUCCitM+B4WG+xtY6jZK5ig75kHoo/bU/9rzmfUolP3CCSR0EudKnFPh4+0Bty1Qskkcfzg2hZq+fVHDmqeb0Od7sYkKyFiHBWrgxvSR2wQ== crogers@fastlane"; ## SECRET-DATA
            }
        }
        user kylemc {
            uid 2004;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOmi9gGUoW7cf396aT1PvjxICGMqyTMVArIOCwqYIfgxTZGtKVc9y9kZJICNq6i1vQcbZtMYntbJNYEMa/wKISy/Gdig1YLeCR+9x982/579YtbJthnOebjXZF+lBmXKTvzbbemj0/e5YMC7ASTCPB34wB7rzCecS0J298gK7UNXIedoAksMYLeAwXxmmMLmgDgXaQFVO29jarPRii5HWFk8jcotFbKvHKwi9lu5R5yaKAyPV5PJ0OUrveQXBKOogRD1yQZjUh+CJvdNnDd6zzBGEH+5nT4Am1ZEbHZt4iGLHVjSdZsPQzzZaxb+zIBk82qDMpFd38Hl1OB6kUnieUBDppnP+ztZx/ccB7Ijs8EzM6hVW6RzVhFZJrOyNiWnu0gXJwlt6LO9pAxEs/1KPSq6fsb5lpSZv5s24Tu6Ig/IMLRK/HQYHnQqwQSBLepor0Lur3yJc7JYA3AiwEbturtJXw096qn1JK82mOGi/Y8gTZBon+tNXwPfYK7H2GK4E= kylemc@ironwood-new"; ## SECRET-DATA
            }
        }
        user rancid {
            full-name "RANCID template for remote access";
            uid 2001;
            class RANCID-Class;
        }
        user remote {
            full-name "TACACS+ template for remote access";
            uid 2000;
            class super-user;
        }
       message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
    }
    root-authentication {
        encrypted-password "$5$hpNE3kb2$YI82sHv6QS0.u.ogLjW56VPUVpz1m6vCuGQlKT64bm9"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 3;
        }
        netconf {
            ssh;
        }
    }
    auto-snapshot;
    time-zone UTC;
    arp {
        aging-timer 10;
        passive-learning;
    }
    backup-router {{ manage_def_v4 }} destination 0.0.0.0/0;
    inet6-backup-router {{ manage_def_v6 }} destination ::0/0;
    internet-options {
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset drop-all-tcp;
    }
    authentication-order [ tacplus password];
    tacplus-server {
        {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            secret "$9$Y24DkfT36/t4aBREhvMs24ajqfT3pBRfT6ApOSy"; ## SECRET-DATA
            timeout 1;
        }
        10.202.253.11 {
            secret "$9$dBwaUk.5Qz6wYt0OByr-VwYJDk.5/t0k.Qn/AIR"; ## SECRET-DATA
            timeout 1;
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    syslog {
        archive size 10m files 10;
        user * {
            any emergency;
        }
        host 10.202.253.11 {
            any any;
        }
        file alarmd {
            daemon any;
            match-strings alarmd;
        }
        file ddos_protection {
            any any;
            match-strings DDOS_PROTOCOL_VIOLATION;
        }
        file rpd {
            any any;
            match-strings [ RPD_OSPF_ bgp_ ];
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        time-format year millisecond;
    }
    ntp {
        server 10.202.253.5;
        server 172.22.253.5;
        server 172.23.253.5;
    }
}
replace:
chassis {
    aggregated-devices {
        ethernet {
            device-count 3;
        }
    }
    cluster {
        control-link-recovery;
        reth-count 3;
        heartbeat-interval 1000;
        heartbeat-threshold 3;
        redundancy-group 1 {
            node 0 priority 110;
            node 1 priority 1;
            hold-down-interval 300;
            inactive: interface-monitor {
                xe-0/0/18 weight 255;
                xe-0/0/19 weight 255;
                xe-7/0/19 weight 255;
                xe-7/0/18 weight 255;
                xe-0/0/16 weight 255;
                xe-0/0/17 weight 255;
                xe-7/0/16 weight 255;
                xe-7/0/17 weight 255;
            }
        }
        redundancy-group 0 {
            node 0 priority 110;
            node 1 priority 1;
        }
    }
}
replace:
services {
    flow-monitoring {
        version9 {
            template v4 {
                flow-active-timeout 60;
                flow-inactive-timeout 60;
                template-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                option-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                ipv4-template;
            }
            template v6 {
                flow-active-timeout 60;
                flow-inactive-timeout 60;
                template-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                option-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                ipv6-template;
            }
        }
    }
}
replace:
security {
    log {
        utc-timestamp;
        format syslog;
        source-address {{ netflow }};
        transport {
            protocol udp;
        }
        stream se3-net-uti-001 {
            format syslog;
            category all;
            host {
                10.202.253.9;
                port 514;
            }
        }
    }
    address-book {
        global {
            address rfc1918-10 10.0.0.0/8;
            address rfc1918-172 172.16.0.0/12;
            address rfc1918-192 192.169.0.0/16;
            address-set rfc1918 {
                address rfc1918-10;
                address rfc1918-172;
                address rfc1918-192;
            }
{% set ns = namespace(count=1) %}
{% if device_values.in2out_policies is defined %}
{% for policy_name,policy_values in device_values.in2out_policies.items() %}
    {% if policy_values.src[0] != "any" %}
        {% for foo in policy_values.src %}
            address in2out_RULE{{ ns.count }}--{{ foo }} {{ foo }};
        {% endfor %}
    {% endif %}
    {% if policy_values.dst[0] != "any" %}
        {% for foo in policy_values.dst %}
            address in2out_RULE{{ ns.count }}--{{ foo }} {{ foo }};
        {% endfor %}
    {% endif %}
    {% set ns.count = ns.count + 1 %}
{% endfor %}
{% endif %}
{% if device_values.out2in_policies is defined %}
{% set ns = namespace(count=1) %}
{% for policy_name,policy_values in device_values.out2in_policies.items() %}
    {% if policy_values.src[0] != "any" %}
        {% for foo in policy_values.src %}
            address out2in_RULE{{ ns.count }}--{{ foo }} {{ foo }};
        {% endfor %}
    {% endif %}
    {% if policy_values.dst[0] != "any" %}
        {% for foo in policy_values.dst %}
            address out2in_RULE{{ ns.count }}--{{ foo }} {{ foo }};
        {% endfor %}
    {% endif %}
    {% set ns.count = ns.count + 1 %}
{% endfor %}
{% endif %}
        }
    }
    alg {
        dns disable;
        h323 disable;
        mgcp disable;
        msrpc disable;
        sunrpc disable;
        rtsp disable;
        sccp disable;
        sip disable;
        sql disable;
        talk disable;
        tftp disable;
        pptp disable;
    }
    forwarding-options {
        family {
            inet6 {
                mode flow-based;
            }
        }
    }
    flow {
        allow-embedded-icmp;
        tcp-mss {
            all-tcp {
                mss 1350;
            }
        }
        tcp-session {
            maximum-window 1M;
        }
    }
    nat {
        source {
{% if device_values.source_nats is defined %}
{% for nat_name,nat_values in device_values.source_nats.items() %}
            pool NATPOOL_{{ nat_name }} {
                routing-instance {
                    {{ hub_name }}-outside;
                }
                address {
    {% for foo in nat_values.nat_address %}
                    {{ foo }};
    {% endfor %}
                }
            }
{% endfor %}
            address-persistent;
            rule-set inside_to_outside_dynamic_nats {
                from zone {{ hub_name }}-default;
                to zone {{ hub_name }}-outside;
{% for nat_name,nat_values in device_values.source_nats.items() %}
                rule DNAT_{{ nat_name }} {
                    match {
                        source-address [ {% for foo in nat_values.src %}{{ foo }} {% endfor %}];
                        {% if ( nat_values.dst[0] is defined ) and ( nat_values.dst[0] != "any" ) %}
                        destination-address [ {% for foo in nat_values.dst %}{{ foo }} {% endfor %}];
                        {% endif %}
                    }
                    then {
                        source-nat {
                            pool {
                                NATPOOL_{{ nat_name }};
                            }
                        }
                    }
                }
{% endfor %}
            }
        }
{% endif %}
{% if device_values.static_nats is defined %}
        static {
            rule-set outside_to_any-static_nats {
                from zone {{ hub_name }}-outside;
    {% for nat_name,nat_values in device_values.static_nats.items() %}
                rule SNAT_{{ nat_name }} {
                    match {
                        destination-address {{ nat_values.nat_address }};
                    }
                    then {
                        static-nat {
                            prefix {
                                {{ nat_values.src }};
                                routing-instance {{ hub_name }}-outside;
                            }
                        }
                    }
                }
    {% endfor %}
            }
        }
{% endif %}
{# the following chunk will iterate through the nats as defined in device_values, then compare if they match against the vlan 20 or 21 interface and create a proxy-arp as necessary #}
        proxy-arp {
            interface reth1.20 {
                address {
{% if device_values.source_nats is defined %}
{% for nat_name,nat_values in device_values.source_nats.items() %}
    {% for nat in nat_values.nat_address %}
        {% set nat_tuple = nat.split('.') %}
        {% set nat_prefix = nat_tuple[0] ~ nat_tuple[1] ~ nat_tuple[2] %}
        {% if ( nat_prefix == vlan20 ) %}
                    {{ nat }};
        {% endif %}
    {% endfor %}
{% endfor %}
{% endif %}
{# this hot mess checks if a static nat definition exists, and if so, add the ip to proxy-arp #}
{% if device_values.static_nats is defined %}
    {% for static_name,static_values in device_values.static_nats.items() %}
        {% set nat_tuple = static_values.nat_address.split('.') %}
        {% set nat_prefix = nat_tuple[0] ~ nat_tuple[1] ~ nat_tuple[2] %}
        {% if ( nat_prefix == vlan20 ) %}
                    {{ static_values.nat_address }};
        {% endif %}
    {% endfor %}
{% endif %}
                }
            }
            interface reth1.21 {
                address {
{% if device_values.source_nats is defined %}
{% for nat_name,nat_values in device_values.source_nats.items() %}
    {% for nat in nat_values.nat_address %}
        {% set nat_tuple = nat.split('.') %}
        {% set nat_prefix = nat_tuple[0] ~ nat_tuple[1] ~ nat_tuple[2] %}
        {% if ( nat_prefix == vlan21 ) %}
                    {{ nat }};
        {% endif %}
    {% endfor %}
{% endfor %}
{% endif %}
{% if device_values.static_nats is defined %}
    {% for static_name,static_values in device_values.static_nats.items() %}
        {% set nat_tuple = static_values.nat_address.split('.') %}
        {% set nat_prefix = nat_tuple[0] ~ nat_tuple[1] ~ nat_tuple[2] %}
        {% if ( nat_prefix == vlan21 ) %}
                    {{ static_values.nat_address }};
        {% endif %}
    {% endfor %}
{% endif %}
                }
            }
        }
    }
    policies {
        from-zone {{ hub_name }}-default to-zone {{ hub_name }}-outside {
{% set ns = namespace(count=1) %}
{% if device_values.in2out_policies is defined %}
{% for policy_name,policy_values in device_values.in2out_policies.items() %}
    {% if policy_values.comment is defined %}
            /* {{ policy_values.comment }} */
    {% endif %}
            policy in2out_RULE{{ ns.count }}--{{ policy_name }} {
                match {
                    source-address [ {% for foo in policy_values.src %}{% if foo ==  "any" %}{{ foo }} {% else %}in2out_RULE{{ ns.count }}--{{ foo }} {% endif %}{% endfor %}];
                    destination-address [ {% for foo in policy_values.dst %}{% if foo == "any" %}{{ foo }} {% else %}in2out_RULE{{ ns.count}}--{{ foo }} {% endif %}{% endfor %}];
                    application [ {% for foo in policy_values.protocols %}{{ foo }} {% endfor %}];
                }
                then {
                    {{ policy_values.action }} {
                        tcp-options {
                            window-scale;
                        }
                    }
                }
            }
    {% set ns.count = ns.count + 1 %}
{% endfor %}
{% endif %}
        }
{% if device_values.out2in_policies is defined %}
        from-zone {{ hub_name }}-outside to-zone {{ hub_name }}-default {
    {% set ns = namespace(count=1) %}
    {% for policy_name,policy_values in device_values.out2in_policies.items() %}
        {% if policy_values.comment is defined %}
            /* {{ policy_values.comment }} */
        {% endif %}
            policy out2in_RULE{{ ns.count }}--{{ policy_name }} {
                match {
                    source-address [ {% for foo in policy_values.src %}{% if foo == "any" %}{{ foo }} {% else %}in2out_RULE{{ ns.count }}--{{ foo }} {% endif %}{% endfor %}];
                    destination-address [ {% for foo in policy_values.dst %}{% if foo == "any" %}{{ foo }} {% else %}in2out_RULE{{ ns.count }}--{{ foo }} {% endif %}{% endfor %}];
                    application [ {% for foo in policy_values.protocols %}{{ foo }} {% endfor %}];
                }
                then {
                    {{ policy_values.action }} {
                        tcp-options {
                            window-scale;
                        }
                    }
                }
            }
    {% set ns.count = ns.count + 1 %}
    {% endfor %}
        }
{% endif %}
    }
    zones {
        security-zone {{ hub_name }}-default {
            host-inbound-traffic {
                system-services {
                    ping;
                    traceroute;
                    snmp;
                }
                protocols {
                    ospf;
                    ospf3;
                    bfd;
                    bgp;
                }
            }
            interfaces {
                reth1.200;
            }
        }
        security-zone {{ hub_name }}-outside {
            host-inbound-traffic {
                system-services {
                    ping;
                    traceroute;
                }
                protocols {
                    ospf;
                    ospf3;
                    bfd;
                    bgp;
                }
            }
            interfaces {
                reth1.20;
                reth1.21;
            }
        }
    }
}
replace:
interfaces {
{% if model == "srx1500" %}
    xe-0/0/16 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/17 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/18 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/19 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/16 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/17 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/18 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/19 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    fab0 {
        fabric-options {
            member-interfaces {
                ge-0/0/11;
            }
        }
    }
    fab1 {
        fabric-options {
            member-interfaces {
                ge-7/0/11;
            }
        }
    }
{% else %}
    xe-0/0/0 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/3 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/4 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/7 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/0 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/3 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/4 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/7 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
{% endif %}
    lo0 {
        unit 0 {
            family inet { 
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128;
            }
        }
        unit 1 {
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128;
            }
        }
    }
    reth1 {
        description "LAG bundle to {{ hub_name }}-net-nlf";
        traps;
        vlan-tagging;
        mtu 9192;
        redundant-ether-options {
            redundancy-group 1;
            lacp {
                active;
                periodic fast;
            }
        }
        unit 20 {
            description "Vlan 20 - {{ hub_values.v20prefix_v4 }} -- {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:20::/64 - {{ hub_name | upper }} Public Transit 01";
            vlan-id 20;
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan20v4 }}/24;
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan20v6 }}/64 {
                    preferred;
                }
                address {{ vlan20fe80 }}/64;
            }
        }
        unit 21 {
            description "Vlan 21 - {{ hub_values.v21prefix_v4 }} -- {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:21::/64 - {{ hub_name  | upper }} Public Transit 02";
            vlan-id 21;
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan21v4 }}/24;
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan21v6 }}/64 {
                    preferred;
                }
                address {{ vlan21fe80 }}/64;
            }
        }
        unit 200 {
            description "Vlan 200 - {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.0.0/23 -- {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:200::/64 - {{ hub_name | upper }} Internal Backbone and Transit";
            vlan-id 200;
            family inet {
                mtu 9000;
                sampling {
                    input;
                    output;
                }
                address {{ vlan200v4 }}/23;
            }
            family inet6 {
                mtu 9000;
                sampling {
                    input;
                    output;
                }
                address {{ vlan200v6 }}/64 {
                    preferred;
                }
                address {{ vlan200fe80 }}/64;
            }
        }
        unit 2253 {
            description "netflow export interface";
            vlan-id 2253;
            family inet {
                mtu 9000;
                address {{ netflow }}/24;
            }
        }
    }
}
replace:
snmp {
    name {{ inventory_hostname }};
    contact "Network Engineering <neteng@sample.com>";
    location {{ hub_name | upper }};
    interface [ fxp0.0 reth1.2253 reth1.200 ];
    community open_sesame {
        authorization read-only;
        clients {
            10.202.253.0/24;
            172.23.253.0/24;
            172.22.253.0/23;
            172.22.222.0/24;
            172.21.253.0/24;
            172.27.253.0/24;
        }
        routing-instance {{ hub_name }}-default;
    }
    trap-group open_sesame {
        version v2;
        categories {
            authentication;
            chassis;
            link;
            routing;
            startup;
            configuration;
            services;
            chassis-cluster;
        }
        targets {
            {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11;
        }
    }
    routing-instance-access;
}
replace:
forwarding-options {
    sampling {
        input {
            rate 100;
            max-packets-per-second 65535;
        }
        family inet {
            output {
                flow-server {{ netflow_collector }} {
                    port 2055;
                    autonomous-system-type origin;
                    no-local-dump;
                    source-address {{ netflow }};
                    version9 {
                        template {
                            v4;
                        }
                    }
                }
                inline-jflow {
                    source-address {{ netflow }};
                }
            }
        }
        family inet6 {
            output {
                flow-server {{ netflow_collector }} {
                    port 2055;
                    autonomous-system-type origin;
                    no-local-dump;
                    source-address {{ netflow }};
                    version9 {
                        template {
                            v6;
                        }
                    }
                }
                inline-jflow {
                    source-address {{ netflow }};
                }
            }
        }
    }
}
replace:
policy-options {
    policy-statement DEFAULT_ROUTE_ORIGINATE_v4 {
        term default {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
        term deny {
            then reject;
        }
    }
    policy-statement DEFAULT_ROUTE_ORIGINATE_v6 {
        term default {
            from {
                route-filter ::0/0 exact;
            }
            then accept;
        }
        term deny {
            then reject;
        }
    }
    policy-statement {{ hub_name }}-default_VRFLEAK-v6 {
        term {{ hub_name }}_supernet {
            from {
                route-filter {{ hub_values.v6_supernet }} exact;
            }
            then accept;
        }
    }
    policy-statement ecmp_policy {
        then {
            load-balance per-packet;
        }
    }
    policy-statement ecr_export-v4 {
        term default_deny {
            then reject;
        }
    }
    policy-statement ecr_export-v6 {
        term local_supernet {
            from {
                route-filter {{ hub_values.v6_supernet }} exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement icr_export-v4 {
        term default_route {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement icr_export-v6 {
        term default_route {
            from {
                route-filter ::0/0 exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term default_deny {
            then reject;
        }
    }
}
replace:
routing-instances {
    {{ hub_name }}-default {
        instance-type virtual-router;
        interface lo0.0;
        interface reth1.200;
        routing-options {
            rib {{ hub_name }}-default.inet6.0 {
                static {
                    route ::0/0 next-table {{ hub_name }}-outside.inet6.0;
                }
            }
            static {
                route 0.0.0.0/0 next-table {{ hub_name }}-outside.inet.0;
            }
            multipath;
            aggregate {
                defaults {
                    discard;
                }
            }
            router-id {{ loopback_v4 }};
            autonomous-system {{ hub_values.asn }};
        }
        protocols {
            bgp {
                group INTERNAL_CORE {
                    description "bgp4 peering to internal core route reflectors";
                    type internal;
                    preference 20;
                    hold-time 30;
                    log-updown;
                    multipath;
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for spine_name,spine_values in hub_values.spines.items() %}
                    neighbor {{ spine_values.ip }} {
                        description "{{ spine_name }}:inet4bgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        export icr_export-v4;
                    }
                    neighbor {{ spine_values.ip6 }} {
                        description "{{ spine_name }}:inet6bgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        export icr_export-v6;
                    }
{% endfor %}
                }
            }
            ospf {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface reth1.200 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                    interface lo0.0 {
                        passive;
                    }
                }
            }
            ospf3 {
                rib-group {{ hub_name }}-default_into_others-v6;
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface reth1.200 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                    interface lo0.0 {
                        passive;
                    }
                }
            }
        }
    }
    {{ hub_name }}-outside {
        instance-type virtual-router;
        interface lo0.1;
        interface reth1.20;
        interface reth1.21;
        routing-options {
            multipath;
            router-id {{ loopback_v4 }};
            autonomous-system 18888;
        }
        protocols {
            bgp {
                group EXTERNAL_CORE {
                    description "bgp4 peering to external core route reflectors";
                    type internal;
                    preference 20;
                    hold-time 30;
                    log-updown;
                    multipath;
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for ecr_name,ecr_values in hub_values.ecr.items() %}
                    neighbor {{ ecr_values.ip }} {
                        description "{{ ecr_name }}:inet4bgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        export ecr_export-v4;
                    }
                    neighbor {{ ecr_values.ip6 }} {
                        description "{{ ecr_name }}:inet6bgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        export ecr_export-v6;
                    }
{% endfor %}
                }
            }
            ospf {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface lo0.1 {
                        passive;
                    }
                    interface reth1.20 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                    interface reth1.21 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                }
            }
            ospf3 {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface lo0.1 {
                        passive;
                    }
                    interface reth1.20 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                    interface reth1.21 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                }
            }
        }
    }
}
replace:
applications {
    application tcp_22 {
        protocol tcp;
        destination-port 22;
        inactivity-timeout 28800;
    }
}
replace:
routing-options {
    rib inet6.0 {
        static {
            route ::0/0 {
                qualified-next-hop {{ manage_def_v6 }} {
                    interface fxp0.0;
                }
                retain;
            }
        }
    }
    static {
        route 0.0.0.0/0 {
            qualified-next-hop {{ manage_def_v4 }} {
                interface fxp0.0
            }
            retain;
        }
        /* for syslog reachability */
        route 10.202.253.9/32 next-table {{ hub_name }}-default.inet.0;
    }
    rib-groups {
        {{ hub_name }}-default_into_others-v6 {
            import-rib [ {{ hub_name }}-default.inet6.0 {{ hub_name }}-outside.inet6.0 ];
            import-policy {{ hub_name }}-default_VRFLEAK-v6;
        }
    }
    router-id {{ loopback_v4 }};
    autonomous-system {{ hub_values.asn }};
    forwarding-table {
        export ecmp_policy;
    }
}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
