#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% set unit_id = inventory_hostname.split('-')[3] %}
firewall {
    family inet {
        filter internet_v4-INBOUND {
            /* we should never see our addresses */
            term drop_spoofed {
                from {
                    source-address {
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                        {{ hub_values.v20prefix_v4 }};
                        {{ hub_values.v21prefix_v4 }};
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
                    }
                }
                then {
                    count spoof-ingress;
                    discard;
                }
            }
            /* QoS for VPN site-to-site vpn infrastructure */
            term vpn_traffic_prioritisation {
                from {
                    source-address {
{% for site_name,site_values in remote_site.items() %}
                        /* {{ site_name }} */
    {% if site_values.ipsec_v4peer01 is defined %}
                        {{ site_values.ipsec_v4peer01 }}/32;
    {% endif %}
    {% if site_values.ipsec_v4peer02 is defined %}
                        {{ site_values.ipsec_v4peer02 }}/32;
    {% endif %}
{% endfor %}
                    }
                    destination-address {
{% for hub_name,hub_values in hub_sites.items() %}
    {% set vlan20_tuple_list = hub_values.v20prefix_v4.split('.') %}
    {% set vlan21_tuple_list = hub_values.v21prefix_v4.split('.') %}
    {% set v20_dst = vlan20_tuple_list[0] ~ "." ~ vlan20_tuple_list[1] ~ "." ~ vlan20_tuple_list[2] ~ ".100" %}
    {% set v21_dst = vlan21_tuple_list[0] ~ "." ~ vlan21_tuple_list[1] ~ "." ~ vlan21_tuple_list[2] ~ ".101" %}
                        /* {{ hub_name }} */
                        {{ v20_dst }}/32;
                        {{ v21_dst }}/32;
{% endfor %}
                    }
                }
                then {
                    loss-priority low;
                    forwarding-class expedited-forwarding;
                    accept;
                }
            }
            /* blanket permit for corporate address space */
            term corporate_supernets-PERMIT {
                from {
                    source-address {
                        /* ARIN allocation */
                        192.211.12.0/22;
                        64.42.184.0/21;
                        /* irvine PA allocation */
                        209.133.71.0/24;
                        /* cin PA allocation */
                        8.21.101.0/24;
                        /* lnk PI allocation */
                        64.42.186.0/24;
                        /* trulia sv2 PA allocation */
                        198.176.43.0/24;
                        /* van PA allocation */
                        104.145.4.24/29;
                        /* sfo PA allocation */
                        8.4.228.0/24;
                        /* nyc PA allocation */
                        131.239.23.0/24;
                        /* atl PI allocation */
                        64.42.187.0/24;
                        /* den PA allocation */
                        8.7.203.0/24;
                        /* kcy PI allocation */
                        64.42.190.0/24;
                        /* phx PI allocation */
                        64.42.189.0/24;
                        /* dls PI allocation */
                        64.42.185.0/24;
                    }
                }
                then accept;
            }
            /* drop all traffic to vlan20 and 21 interfaces */
            term router_inside_interfaces-DENY {
                from {
                    destination-address {
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% set vlan20_tuple_list = hub_values.v20prefix_v4.split('.') %}
                {% set vlan21_tuple_list = hub_values.v21prefix_v4.split('.') %}
                        /* {{ hub_name }}-net-ecr-v20 interfaces */
                        {{ vlan20_tuple_list[0] }}.{{ vlan20_tuple_list[1] }}.{{ vlan20_tuple_list[2] }}.1/32;
                        {{ vlan20_tuple_list[0] }}.{{ vlan20_tuple_list[1] }}.{{ vlan20_tuple_list[2] }}.2/32;
                        {{ vlan20_tuple_list[0] }}.{{ vlan20_tuple_list[1] }}.{{ vlan20_tuple_list[2] }}.3/32;
                        {{ vlan20_tuple_list[0] }}.{{ vlan20_tuple_list[1] }}.{{ vlan20_tuple_list[2] }}.4/32;
                        /* {{ hub_name }}-net-ecr-v21 interfaces */
                        {{ vlan21_tuple_list[0] }}.{{ vlan21_tuple_list[1] }}.{{ vlan21_tuple_list[2] }}.1/32;
                        {{ vlan21_tuple_list[0] }}.{{ vlan21_tuple_list[1] }}.{{ vlan21_tuple_list[2] }}.2/32;
                        {{ vlan21_tuple_list[0] }}.{{ vlan21_tuple_list[1] }}.{{ vlan21_tuple_list[2] }}.3/32;
                        {{ vlan21_tuple_list[0] }}.{{ vlan21_tuple_list[1] }}.{{ vlan21_tuple_list[2] }}.4/32;
                        /* {{ hub_name }}-net-vpn-001-v20 interface */
                        {{ vlan20_tuple_list[0] }}.{{ vlan20_tuple_list[1] }}.{{ vlan20_tuple_list[2] }}.100/32;
                        /* {{ hub_name }}-net-vpn-002-v21 interface */
                        {{ vlan21_tuple_list[0] }}.{{ vlan21_tuple_list[1] }}.{{ vlan21_tuple_list[2] }}.101/32;
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
                    }
                }
                then {
                    discard;
                }
            }
            /* allow upstream peers to connect to upstream interfaces */
            term router_upstream_interfaces-PERMIT {
                from {
                    source-address {
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% for isp_number,isp_values in hub_values.isps.items() %}
                    {% if ( isp_number % 2 == 0 ) and ( unit_id == "002" ) %}
                        {% if ( isp_values.v4peer is not defined ) and ( isp_values.ix is not defined ) %}
                            {% set v4peer = isp_values.v4addr | ipmath(-1) %}
                        /* {{ isp_values.descr }} remote peer address */
                        {{ v4peer }}/32;
                        {% elif isp_values.ix is not defined %}
                            {% set v4peer = isp_values.v4peer %}
                        /* {{ isp_values.descr }} remote peer address */
                        {{ v4peer }}/32;
                        {% endif %}
                    {% elif (isp_number % 2 == 1 ) and ( unit_id == "001" ) %}
                        {% if ( isp_values.v4peer is not defined ) and ( isp_values.ix is not defined ) %}
                            {% set v4peer = isp_values.v4addr | ipmath(-1) %}
                        /* {{ isp_values.descr }} remote peer address */
                        {{ v4peer }}/32;
                        {% elif isp_values.ix is not defined %}
                            {% set v4peer = isp_values.v4peer %}
                        /* {{ isp_values.descr }} remote peer address */
                        {{ v4peer }}/32;
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
                    }
                    destination-address {
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% for isp_number,isp_values in hub_values.isps.items() %}
                    {% if ( isp_number % 2 == 0 ) and ( unit_id == "002" ) and ( isp_values.ix is not defined ) %}
                        /* {{ isp_values.descr }} local interface address */
                        {{ isp_values.v4addr.split('/')[0] }}/32;
                    {% elif (isp_number % 2 == 1 ) and ( unit_id == "001" ) and ( isp_values.ix is not defined ) %}
                        /* {{ isp_values.descr }} local interface address */
                        {{ isp_values.v4addr.split('/')[0] }}/32;
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
                    }
                }
                then accept;
            }
            /* drop everything else to upstream interfaces */
            term router_upstream_interfaces-DENY {
                from {
                    destination-address {
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% for isp_number,isp_values in hub_values.isps.items() %}
                    {% if ( isp_number % 2 == 0 ) and ( unit_id == "002" ) and ( isp_values.ix is not defined ) %}
                        /* {{ isp_values.descr }} local interface address */
                        {{ isp_values.v4addr.split('/')[0] }}/32;
                    {% elif (isp_number % 2 == 1 ) and ( unit_id == "001" ) and ( isp_values.ix is not defined ) %}
                        /* {{ isp_values.descr }} local interface address */
                        {{ isp_values.v4addr.split('/')[0] }}/32;
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
                    }
                }
                then {
                    discard;
                }
            }
{# generate this chunk if the router has an interface on an IX #}
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% for isp_number,isp_values in hub_values.isps.items() %}
                    {% if ( isp_number % 2 == 1 ) and ( unit_id == "001" ) %}
                        {% if isp_values.ix is defined %}
            /* permit peers to connect to the IX interface */
            term vlan{{ isp_values.vlan }}-IX_local_interfaces-PERMIT {
                from {
                    source-address {
                            {% for peer_asn,peer_values in isp_values.ix.items() %}
                                {% for foo in peer_values.v4peers %}
                        /* {{ peer_values.descr }} */
                        {{ foo }}/32;
                                {% endfor %}
                            {% endfor %}
                    }
                    destination-address {
                        /* local peering interface */
                        {{ isp_values.v4addr.split('/')[0] }}/32;
                    }
                }
                then accept;
            }
            /* drop everything else trying to hit the IX interface */
            term vlan{{ isp_values.vlan }}-IX_local_interfaces-DENY {
                from {
                    destination-address {
                        {{ isp_values.v4addr.split('/')[0] }}/32;
                    }
                }
                then {
                    discard;
                }
            }
                        {% endif %}
                    {% elif ( isp_number % 2 == 0 ) and ( unit_id == "002" ) %}
                        {% if isp_values.ix is defined %}
            /* permit peers to connect to the IX interface */
            term vlan{{ isp_values.vlan }}-IX_local_interfaces-PERMIT {
                from {
                    source-address {
                            {% for peer_asn,peer_values in isp_values.ix.items() %}
                                {% for foo in peer_values.v4peers %}
                        /* {{ peer_values.descr }} */
                        {{ foo }}/32;
                                {% endfor %}
                            {% endfor %}
                    }
                    destination-address {
                        /* local peering interface */
                        {{ isp_values.v4addr.split('/')[0] }}/32;
                    }
                }
                then accept;
            }
            /* drop everything else trying to hit the IX interface */
            term vlan{{ isp_values.vlan }}-IX_local_interfaces-DENY {
                from {
                    destination-address {
                        {{ isp_values.v4addr.split('/')[0] }}/32;
                    }
                }
                then {
                    discard;
                }
            }
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
            term default_permit {
                then accept;
            }
        }
{# generate this chunk if the router has an interface on an IX #}
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% for isp_number,isp_values in hub_values.isps.items() %}
                    {% if ( isp_number % 2 == 1 ) and ( unit_id == "001" ) %}
                        {% if isp_values.ix is defined %}
        filter vlan{{ isp_values.vlan}}-IX_v4-OUTBOUND {
            /* only allow our interface to connect to defined peers */
            term local_router_interfaces {
                from {
                    source-address {
                        {{ isp_values.v4addr.split('/')[0] }}/32;
                    }
                    destination-address {
                            {% for peer_asn,peer_values in isp_values.ix.items() %}
                                {% for foo in peer_values.v4peers %}
                        /* {{ peer_values.descr }} */
                        {{ foo }}/32;
                                {% endfor %}
                            {% endfor %}
                    }
                }
                then accept;
            }
            /* drop everything else destined for the IX network */
            term default_drop {
                from {
                    destination-address {
                        {{ isp_values.v4addr | ipaddr('host/prefix') | ipaddr('subnet') }};
                    }
                }
                then {
                    discard;
                }
            }
            term default_permit {
                then accept;
            }
        }
                        {% endif %}
                    {% elif ( isp_number % 2 == 0 ) and ( unit_id == "002" ) %}
                        {% if isp_values.ix is defined %}
        filter vlan{{ isp_values.vlan}}-IX_v4-OUTBOUND {
            /* only allow our interface to connect to defined peers */
            term local_router_interfaces {
                from {
                    source-address {
                        {{ isp_values.v4addr.split('/')[0] }}/32;
                    }
                    destination-address {
                            {% for peer_asn,peer_values in isp_values.ix.items() %}
                                {% for foo in peer_values.v4peers %}
                        /* {{ peer_values.descr }} */
                        {{ foo }}/32;
                                {% endfor %}
                            {% endfor %}
                    }
                }
                then accept;
            }
            /* drop everything else destined for the IX network */
            term default_drop {
                from {
                    destination-address {
                        {{ isp_values.v4addr | ipaddr('host/prefix') | ipaddr('subnet') }};
                    }
                }
                then {
                    discard;
                }
            }
            term default_permit {
                then accept;
            }
        }
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
    }
    family inet6 {
        filter internet_v6-INBOUND {
            /* we should never see our addresses */
            term drop_spoofed {
                from {
                    source-address {
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                        {{ hub_values.v6_supernet }};
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
                    }
                }
                then {
                    count spoof-ingress;
                    discard;
                }
            }
            /* QoS for VPN site-to-site vpn infrastructure */
            term vpn_traffic_prioritisation {
                from {
                    source-address {
{% for site_name,site_values in remote_site.items() %}
                        /* {{ site_name }} */
    {% if site_values.ipsec_v6peer01 is defined %}
                        {{ site_values.ipsec_v6peer01 }}/128;
    {% endif %}
    {% if site_values.ipsec_v6peer02 is defined %}
                        {{ site_values.ipsec_v6peer02 }}/128;
    {% endif %}
{% endfor %}
                    }
                    destination-address {
{% for hub_name,hub_values in hub_sites.items() %}
    {% set v6_tuple_list = hub_values.v6_supernet.split(':') %}
    {% set v20_dst = v6_tuple_list[0] ~ ":" ~ v6_tuple_list[1] ~ ":" ~ v6_tuple_list[2] ~ ":20::100" %}
    {% set v21_dst = v6_tuple_list[0] ~ ":" ~ v6_tuple_list[1] ~ ":" ~ v6_tuple_list[2] ~ ":21::101" %}
                        /* {{ hub_name }} */
                        {{ v20_dst }}/128;
                        {{ v21_dst }}/128;
{% endfor %}
                    }
                }
                then {
                    loss-priority low;
                    forwarding-class expedited-forwarding;
                    accept;
                }
            }
            /* blanket permit for corporate address space */
            term corporate_supernets-PERMIT {
                from {
                    source-address {
                        2620:115::/40;
                    }
                }
                then accept;
            }
            /* drop all traffic to vlan20 and 21 interfaces */
            term router_inside_interfaces-DENY {
                from {
                    destination-address {
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% set v6_tuple_list = hub_values.v6_supernet.split(':') %}
                {% set vlan20_tuple_list = hub_values.v20prefix_v4.split('.') %}
                {% set vlan21_tuple_list = hub_values.v21prefix_v4.split('.') %}
                        /* {{ hub_name }}-net-ecr-v20 interfaces */
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:20::1/128;
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:20::2/128;
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:20::3/128;
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:20::4/128;
                        /* {{ hub_name }}-net-ecr-v21 interfaces */
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:21::1/128;
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:21::2/128;
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:21::3/128;
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:21::4/128;
                        /* {{ hub_name }}-net-vpn-001-v20 interface */
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:20::100/128;
                        /* {{ hub_name }}-net-vpn-002-v21 interface */
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:21::101/128;
                        /* vlan19 transit network */
                        {{ v6_tuple_list[0] }}:{{ v6_tuple_list[1] }}:{{ v6_tuple_list[2] }}:19::/64;
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
                    }
                }
                then {
                    discard;
                }
            }
            /* allow upstream peers to connect to upstream interfaces */
            term router_upstream_interfaces-PERMIT {
                from {
                    source-address {
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% for isp_number,isp_values in hub_values.isps.items() %}
                    {% if ( isp_number % 2 == 0 ) and ( unit_id == "002" ) %}
                        {% if ( isp_values.v6peer is not defined ) and ( isp_values.ix is not defined ) %}
                            {% set v6peer = isp_values.v6addr | ipmath(-1) %}
                        /* {{ isp_values.descr }} remote peer address */
                        {{ v6peer }}/128;
                        {% elif isp_values.ix is not defined %}
                            {% set v6peer = isp_values.v6peer %}
                        /* {{ isp_values.descr }} remote peer address */
                        {{ v6peer }}/128;
                        {% endif %}
                    {% elif (isp_number % 2 == 1 ) and ( unit_id == "001" ) %}
                        {% if ( isp_values.v6peer is not defined ) and ( isp_values.ix is not defined ) %}
                            {% set v6peer = isp_values.v6addr | ipmath(-1) %}
                        /* {{ isp_values.descr }} remote peer address */
                        {{ v6peer }}/128;
                        {% elif isp_values.ix is not defined %}
                            {% set v6peer = isp_values.v6peer %}
                        /* {{ isp_values.descr }} remote peer address */
                        {{ v6peer }}/128;
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
                    }
                    destination-address {
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% for isp_number,isp_values in hub_values.isps.items() %}
                    {% if ( isp_number % 2 == 0 ) and ( unit_id == "002" ) and ( isp_values.ix is not defined ) %}
                        /* {{ isp_values.descr }} local interface address */
                        {{ isp_values.v6addr.split('/')[0] }}/128;
                    {% elif (isp_number % 2 == 1 ) and ( unit_id == "001" ) and ( isp_values.ix is not defined ) %}
                        /* {{ isp_values.descr }} local interface address */
                        {{ isp_values.v6addr.split('/')[0] }}/128;
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
                    }
                }
                then accept;
            }
            /* drop everything else to upstream interfaces */
            term router_upstream_interfaces-DENY {
                from {
                    destination-address {
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% for isp_number,isp_values in hub_values.isps.items() %}
                    {% if ( isp_number % 2 == 0 ) and ( unit_id == "002" ) and ( isp_values.ix is not defined ) %}
                        /* {{ isp_values.descr }} local interface address */
                        {{ isp_values.v6addr.split('/')[0] }}/128;
                    {% elif (isp_number % 2 == 1 ) and ( unit_id == "001" ) and ( isp_values.ix is not defined ) %}
                        /* {{ isp_values.descr }} local interface address */
                        {{ isp_values.v6addr.split('/')[0] }}/128;
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
                    }
                }
                then {
                    discard;
                }
            }
{# generate this chunk if the router has an interface on an IX #}
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% for isp_number,isp_values in hub_values.isps.items() %}
                    {% if ( isp_number % 2 == 1 ) and ( unit_id == "001" ) %}
                        {% if isp_values.ix is defined %}
            /* permit peers to connect to the IX interface */
            term vlan{{ isp_values.vlan }}-IX_local_interfaces-PERMIT {
                from {
                    source-address {
                            {% for peer_asn,peer_values in isp_values.ix.items() %}
                                {% for foo in peer_values.v6peers %}
                        /* {{ peer_values.descr }} */
                        {{ foo }}/128;
                                {% endfor %}
                            {% endfor %}
                    }
                    destination-address {
                        /* local peering interface */
                        {{ isp_values.v6addr.split('/')[0] }}/128;
                    }
                }
                then accept;
            }
            /* drop everything else trying to hit the IX interface */
            term vlan{{ isp_values.vlan }}-IX_local_interfaces-DENY {
                from {
                    destination-address {
                        {{ isp_values.v6addr.split('/')[0] }}/128;
                    }
                }
                then {
                    discard;
                }
            }
                        {% endif %}
                    {% elif ( isp_number % 2 == 0 ) and ( unit_id == "002" ) %}
                        {% if isp_values.ix is defined %}
            /* permit peers to connect to the IX interface */
            term vlan{{ isp_values.vlan }}-IX_local_interfaces-PERMIT {
                from {
                    source-address {
                            {% for peer_asn,peer_values in isp_values.ix.items() %}
                                {% for foo in peer_values.v6peers %}
                        /* {{ peer_values.descr }} */
                        {{ foo }}/128;
                                {% endfor %}
                            {% endfor %}
                    }
                    destination-address {
                        /* local peering interface */
                        {{ isp_values.v6addr.split('/')[0] }}/128;
                    }
                }
                then accept;
            }
            /* drop everything else trying to hit the IX interface */
            term vlan{{ isp_values.vlan }}-IX_local_interfaces-DENY {
                from {
                    destination-address {
                        {{ isp_values.v6addr.split('/')[0] }}/128;
                    }
                }
                then {
                    discard;
                }
            }
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
            term default_permit {
                then accept;
            }
        }
{# generate this chunk if the router has an interface on an IX #}
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% for isp_number,isp_values in hub_values.isps.items() %}
                    {% if ( isp_number % 2 == 1 ) and ( unit_id == "001" ) %}
                        {% if isp_values.ix is defined %}
        filter vlan{{ isp_values.vlan}}-IX_v6-OUTBOUND {
            /* only allow our interface to connect to defined peers */
            term local_router_interfaces {
                from {
                    source-address {
                        {{ isp_values.v6addr.split('/')[0] }}/128;
                    }
                    destination-address {
                            {% for peer_asn,peer_values in isp_values.ix.items() %}
                                {% for foo in peer_values.v6peers %}
                        /* {{ peer_values.descr }} */
                        {{ foo }}/128;
                                {% endfor %}
                            {% endfor %}
                    }
                }
                then accept;
            }
            /* drop everything else destined for the IX network */
            term default_drop {
                from {
                    destination-address {
                        {{ isp_values.v6addr | ipaddr('host/prefix') | ipaddr('subnet') }};
                    }
                }
                then {
                    discard;
                }
            }
            term default_permit {
                then accept;
            }
        }
                        {% endif %}
                    {% elif ( isp_number % 2 == 0 ) and ( unit_id == "002" ) %}
                        {% if isp_values.ix is defined %}
        filter vlan{{ isp_values.vlan}}-IX_v6-OUTBOUND {
            /* only allow our interface to connect to defined peers */
            term local_router_interfaces {
                from {
                    source-address {
                        {{ isp_values.v6addr.split('/')[0] }}/128;
                    }
                    destination-address {
                            {% for peer_asn,peer_values in isp_values.ix.items() %}
                                {% for foo in peer_values.v6peers %}
                        /* {{ peer_values.descr }} */
                        {{ foo }}/128;
                                {% endfor %}
                            {% endfor %}
                    }
                }
                then accept;
            }
            /* drop everything else destined for the IX network */
            term default_drop {
                from {
                    destination-address {
                        {{ isp_values.v6addr | ipaddr('host/prefix') | ipaddr('subnet') }};
                    }
                }
                then {
                    discard;
                }
            }
            term default_permit {
                then accept;
            }
        }
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
    }
}
