#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set unit_id = device_name.split('-')[3] %}
                {% if device_values.netflow_exporter is not defined %}
                    {% if unit_id == "01a" or "001" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.252" %}
                    {% elif unit_id == "01b" or "002" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.251" %}
                    {% else %}
                        {% set netflow = "netflow NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set netflow = device_values.netflow_exporter %}
                {% endif %}
forwarding-options {
    sampling {
        instance {
            sample-instance01 {
                input {
                    rate 100; 
                    max-packets-per-second 65535;
                }
                family inet {
                    output {
                        flow-server {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
                            port 2000;
                            autonomous-system-type origin;
                            no-local-dump;
                            source-address {{ netflow }};
                            version-ipfix {
                                template {
                                    v4;
                                }
                            }
                        }
                        inline-jflow {
                            source-address {{ netflow }};
                        }
                    }
                }
                family inet6 {
                    output {
                        flow-server {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
                            port 2000;
                            autonomous-system-type origin;
                            no-local-dump;
                            source-address {{ netflow }};
                            version-ipfix {
                                template {
                                    v6;
                                }
                            }
                        }
                        inline-jflow {
                            source-address {{ netflow }};
                        }
                    }
                }
            }
        }
    }
}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
