#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set v6supernet = hub_values.v6_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set v6tuple_list = v6supernet.split(':') %}
                {% if device_values.management_default_v4 is not defined %}
                    {% set manage_def_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.1" %}
                {% else %}
                    {% set manage_def_v4 = device_values.management_default_v4 %}
                {% endif %}
                {% if device_values.management_default_v6 is not defined %}
                    {% set manage_def_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":2253::1" %}
                {% else %}
                    {% set manage_def_v6 = device_values.management_default_v6 %}
                {% endif %}
    rib inet6.0 {
        static {
            route ::0/0 next-hop {{ manage_def_v6 }}; 
        }
    }
    static {
            route 0.0.0.0/0 next-hop {{ manage_def_v4 }}; 
    }
    autonomous-system {{ hub_values.asn }};
    forwarding-table {
        export ecmp_policy;
    }
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
