#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% set mgmt_vlan = "2253" %} 
            {# asset tag logic, kinda silly but this could be a useful field to actually track #}
                {% if device_values.asset is not defined %}
                    {% set asset = "I'm too lazy to define my asset variable!" %}
                {% else %}
                    {% set asset = device_values.asset %}
                {% endif %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set unit_id = device_name.split('-')[3] %}
                {% set v6supernet = hub_values.v6_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set v6tuple_list = v6supernet.split(':') %}
                {% if device_values.management_v4 is not defined %}
                    {% set management_v4 = "management_v4 NOT DEFINED" %}
                {% else %}
                    {% set management_v4 = device_values.management_v4 %}
                {% endif %}
                {% if device_values.management_v6 is not defined %}
                    {% set management_v6 = "management_v6 NOT DEFINED" %}
                    {% set management_fe80 = "management_fe80 NOT DEFINED" %}
                {% else %}
                    {% set management_v6 = device_values.management_v6 %}
                    {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                {% endif %}
                {% if device_values.loopback_v4 is not defined %}
                    {% set loopback_v4 = "loopback_v4 NOT DEFINED" %}
                {% else %}
                    {% set loopback_v4 = device_values.loopback_v4 %}
                {% endif %}
                {% if device_values.loopback_v6 is not defined %}
                    {% set loopback_v6 = "loopback_v6 NOT DEFINED" %}
                {% else %}
                    {% set loopback_v6 = device_values.loopback_v6 %}
                {% endif %}
                {% if device_values.netflow_exporter is not defined %}
                    {% set netflow = management_v4 %}
                {% else %}
                    {% set netflow = device_values.netflow_exporter %}
                {% endif %}
                {% if hub_values.netflow_collector is not defined %}
                    {% set netflow_collector = "172.22.253.73" %}
                {% else %}
                    {% set netflow_collector = hub_values.netlfow_collector %}
                {% endif %}
                {% if device_values.management_default_v4 is not defined %}
                    {% set manage_def_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.1" %}
                {% else %}
                    {% set manage_def_v4 = device_values.management_default_v4 %}
                {% endif %}
                {% if device_values.management_default_v6 is not defined %}
                    {% set manage_def_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::1" %}
                {% else %}
                    {% set manage_def_v6 = device_values.management_default_v6 %}
                {% endif %}
replace:
system {
    host-name {{ inventory_hostname }};
    time-zone UTC;
    auto-snapshot;
    arp {
        aging-timer 10;
        passive-learning;
    }
    internet-options {
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset drop-all-tcp;
    }
    authentication-order [ tacplus password ];
    root-authentication {
        encrypted-password "$5$2xP3n7.z$DwO0p8kgodMLeWaxmsi1oA7NPvAqcqoKGhKouK1DsU/"; ## SECRET-DATA
    }
    tacplus-server {
        10.202.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
        {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    login {
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class RANCID-Class {
            idle-timeout 15;
            permissions [ view view-configuration ];
        }
        user crogers {
            full-name switchninja;
            uid 1337;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDS9O+DvCGv2i0SALUwdlK7PlwvlZugLY9VXH4SHMBh1tn4A8Kcn1fmpozdRQYU8ygbFr8NCEjCbFn2kHjYXmyr01lc+kn6OrBGW8wRtpsfnRk/N93GKYowhRIq86sZpgAeGo7UXkvZUrJOFlLPcCCdspBPX98aF7WSRTWv6S7/kFCXKunpRy+NlRTmwUDS09mkevxNU4kvkyFSYyz+Se55D0xOHaZyCFREUKjY1kGxjVo3dcdp2PiQqrrAwzhtZD+AP8OxOu+l+heCEDD0W0g68dk3+BhdOmny2F7AQmv3cXKu+xBUjmDT6R5Qdgpv7zvfbihIE3lPaBHzJxFjFJAeBXM6JPxpbilLtJ7mlRVkZoW5NahiaPsTtaB/sPSQNm5yYrAUzvQzipwPV6I/fKFkqhW2dgu+U/Hb1X+vSFcqD0UsEVJqee4QQopyp7b8EBMB3W2ZXKqsDeUMSR0X0WtrMcUlGStQsSTxbg9Uy07WvdzLmaRGm2r8WjGwXLsz46Exb/uEZwjGmlbOporVi8262FZAtfFLb2/Jl9jhkM+d6guliEDJqk8bd5J+0wmnYsehUCCitM+B4WG+xtY6jZK5ig75kHoo/bU/9rzmfUolP3CCSR0EudKnFPh4+0Bty1Qskkcfzg2hZq+fVHDmqeb0Od7sYkKyFiHBWrgxvSR2wQ== crogers@fastlane"; ## SECRET-DATA
            }
        }
        user ansible {
            uid 2002;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBTVCLDfgt01MMJDPY32AHCNO2wFudG4T7JWQccGzHhZDjYGbK4Nw1taT6q1sCNf3eeW9MVJX8U802g39sgLiUCZ1AHHSItvjA/ezaAY45347/PG8xztEOU5BR6QaSAlk7WNLSSDh76NeF3lKmuuZjNhYKfo/hDAj8Z6JnytSV3TGxBhulNLrKQ5BLoUXnrvaVAOrOAgEMM6Qn+EqXXSEZ4LVH7T0Pth1KAgel8UHVWdHRnL/tUd6aKSD8MJx7UgtrBK1wqmTqzQdzjVZSpI7WvchQTvuhvF3iMTeeNW1RPU0W/kSX0g9JHcPS/ySj5xCkZKSFMFQvkFogP4cKN5iV kylemc@ironwood"; ## SECRET-DATA
            }
        }
        user kylemc {
            uid 2004;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOmi9gGUoW7cf396aT1PvjxICGMqyTMVArIOCwqYIfgxTZGtKVc9y9kZJICNq6i1vQcbZtMYntbJNYEMa/wKISy/Gdig1YLeCR+9x982/579YtbJthnOebjXZF+lBmXKTvzbbemj0/e5YMC7ASTCPB34wB7rzCecS0J298gK7UNXIedoAksMYLeAwXxmmMLmgDgXaQFVO29jarPRii5HWFk8jcotFbKvHKwi9lu5R5yaKAyPV5PJ0OUrveQXBKOogRD1yQZjUh+CJvdNnDd6zzBGEH+5nT4Am1ZEbHZt4iGLHVjSdZsPQzzZaxb+zIBk82qDMpFd38Hl1OB6kUnieUBDppnP+ztZx/ccB7Ijs8EzM6hVW6RzVhFZJrOyNiWnu0gXJwlt6LO9pAxEs/1KPSq6fsb5lpSZv5s24Tu6Ig/IMLRK/HQYHnQqwQSBLepor0Lur3yJc7JYA3AiwEbturtJXw096qn1JK82mOGi/Y8gTZBon+tNXwPfYK7H2GK4E= kylemc@ironwood-new"; ## SECRET-DATA
            }
        }
        user rancid {
            full-name "RANCID template for remote access";
            uid 2001;
            class RANCID-Class;
        }
        user remote {
            full-name "TACACS+ template for remote access";
            uid 2000;
            class super-user;
        }
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 2;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        archive size 10m files 10;
        user * {
            any emergency;
        }
        host 10.202.253.11 {
            any any;
        }
        file alarmd {
            daemon any;
            match-strings alarmd;
        }
        file ddos_protection {
            any any;
            match-strings DDOS_PROTOCOL_VIOLATION;
        }
        file rpd {
            any any;
            match-strings [ RPD_OSPF_ bgp_ ];
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        time-format year millisecond;
        source-address {{ management_v4 }};
    }
    ddos-protection {
        protocols {
            arp {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
            ndpv6 {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
        }
    }
    ntp {
        server 10.202.253.5;
        server 172.22.253.5;
        server 172.23.253.5;
    }
}
replace:
chassis {
    aggregated-devices {
        ethernet {
            device-count 48;
        }
    }
}
replace:
interfaces {
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if port_values.lacp is defined %}
    {{ port_name }} {
        description "{{ port_values.descr }}";
        traps;
        gigether-options {
            802.3ad {{ port_values.lacp }};
        }
    }
        {% elif port_values.vlans is defined %}
            {% set vlan_list = port_values.vlans | string()  %}
            {% set vlan_tuples = vlan_list.split(' ') %}
    {{ port_name }} {
        traps;
        mtu 9216;
        {% if port_name is match("ae*") %}
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
            }
        }
        {% endif %}
        unit 0 {
            description "{{ port_values.descr }}";
            family ethernet-switching {
            {% if ( vlan_tuples[1] is defined ) or ( port_values.trunk is defined ) %}
                interface-mode trunk;
                vlan {
                    members [ {% for foo in vlan_tuples %}v{{ foo }} {% endfor %}];
                }
            }
            {% else %}
                interface-mode access;
                vlan {
                    members v{{ port_values.vlans }};
                }
            }
            {% endif %}
        }
    }
        {% elif port_values.local_ip is defined %}
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            description "{{ port_values.descr }}";
            family inet {
                address {{ port_values.local_ip }};
            }
        }
    }
        {% else %}
    {{ port_name }} IS NOT RECOGNISED
        {% endif %}
    {% endfor %}
{% endif %}
    me0 {
        description "Management to {{ hub_name }}-net-obr-001";
        unit 0 {
            family inet {
                address {{ management_v4 }}/24;
            }
            family inet6 {
                address {{ management_v6 }}/64 {
                    preferred;
                }
                address {{ management_fe80 }}/64;
            }
        }
    }
}
replace:
snmp {
    name {{ inventory_hostname }};
    description "AN: {{ asset }}";
    contact "Network Engineering <neteng@sample.com>";
    location {{ hub_name }};
    interface [ me0.0 ];
    community open_sesame {
        authorization read-only;
        clients {
            10.202.253.0/24;
            172.23.253.0/24;
            172.22.253.0/23;
            172.22.222.0/24;
            172.21.253.0/24;
            172.27.253.0/24;
        }
    }
    trap-group open_sesame {
        version v2;
        categories {
            authentication;
            chassis;
            link;
            routing;
            startup;
            configuration;
            services;
            chassis-cluster;
        }
        targets {
            {{ netflow_collector }};
        }
    }
}
replace:
routing-options {
    rib inet6.0 {
        static {
            route ::0/0 {
                qualified-next-hop {{ manage_def_v6 }} {
                    interface me0.0;
                }
                retain;
            }
        }
    }
    static {
        route 0.0.0.0/0 {
            qualified-next-hop {{ manage_def_v4 }} {
                interface me0.0
            }
            retain;
        }
    }
    autonomous-system {{ hub_values.vxlan_asn }};
    forwarding-table {
        export ecmp_policy;
        ecmp-fast-reroute;
        chained-composite-next-hop {
            ingress {
                evpn;
            }
        }
    }
}
replace:
protocols {
    lldp {
        management-address {{ management_v4 }};
{{ lookup('template','common/junos/lldp.j2') }}
    }
    igmp-snooping {
        vlan all;
    }
    sflow {
        agent-id {{ management_v4 }};
        sample-rate {
            ingress 100;
            egress 100;
        }
        source-ip {{ management_v4 }};
        collector {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            udp-port 2000;
        }
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_name is match("xe-") ) or ( port_name is match("ge-") ) or ( port_name is match("et-") ) %}
        interfaces {{ port_name }}; 
        {% endif %}
    {% endfor %}
{% endif %}
    }
    vstp {
        bpdu-block-on-edge;
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_name is match("xe-") ) or ( port_name is match("ge-") ) or ( port_name is match("et-") ) %}
            {% if ( port_values.lacp is not defined ) %}
        interface {{ port_name }} {
            edge;
        }
            {% endif %}
        {% elif ( port_values.lacp is not defined ) %}
        interface {{ port_name }};
        {% endif %}
    {% endfor %}
{% endif %}
        vlan 2248 {
            bridge-priority 60k;
            interface all;
        }
        vlan 2252 {
            bridge-priority 60k;
            interface all;
        }
        vlan 2253 {
            bridge-priority 60k;
            interface all;
        }
    }
}
replace:
policy-options {
    policy-statement ecmp_policy {
        then {
            load-balance per-packet;
        }
    }
}
replace:
vlans {
    /* ---------------- */
    /* utility networks */
    /* ---------------- */
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.2248.0/22 - ILO */
    v2248 {
        vlan-id 2248;
    }
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.252.0/24 - Environmentals */
    v2252 {
        vlan-id 2252;
    }
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.0/24 - Network Management */
    v2253 {
        vlan-id 2253;
    }
}


            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
