#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
            {# asset tag logic, kinda silly but this could be a useful field to actually track #}
                {% if device_values.asset is not defined %}
                    {% set asset = "I'm too lazy to define my asset variable!" %}
                {% else %}
                    {% set asset = device_values.asset %}
                {% endif %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set unit_id = device_name.split('-')[3] %}
                {% set v6supernet = hub_values.v6_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set v6tuple_list = v6supernet.split(':') %}
                {% if device_values.management_v4 is not defined %}
                {% set mgmt_vlan = "2253" %}
                    {% set management_v4 = "management_v4 NOT DEFINED" %}
                {% else %}
                    {% set management_v4 = device_values.management_v4 %}
                {% endif %}
                {% if device_values.management_v6 is not defined %}
                    {% set management_v6 = "management_v6 NOT DEFINED" %}
                    {% set management_fe80 = "management_fe80 NOT DEFINED" %}
                {% else %}
                    {% set management_v6 = device_values.management_v6 %}
                    {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                {% endif %}
                {% if device_values.loopback_v4 is not defined %}
                    {% set loopback_v4 = "loopback_v4 NOT DEFINED" %}
                {% else %}
                    {% set loopback_v4 = device_values.loopback_v4 %}
                {% endif %}
                {% if device_values.loopback_v6 is not defined %}
                    {% set loopback_v6 = "loopback_v6 NOT DEFINED" %}
                {% else %}
                    {% set loopback_v6 = device_values.loopback_v6 %}
                {% endif %}
                {% if device_values.netflow_exporter is not defined %}
                    {% set netflow = management_v4 %}
                {% else %}
                    {% set netflow = device_values.netflow_exporter %}
                {% endif %}
                {% if device_values.management_default_v4 is not defined %}
                    {% set manage_def_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.1" %}
                {% else %}
                    {% set manage_def_v4 = device_values.management_default_v4 %}
                {% endif %}
                {% if device_values.management_default_v6 is not defined %}
                    {% set manage_def_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::1" %}
                {% else %}
                    {% set manage_def_v6 = device_values.management_default_v6 %}
                {% endif %}
replace:
system {
    host-name {{ inventory_hostname }};
    time-zone UTC;
    auto-snapshot;
    arp {
        aging-timer 10;
        passive-learning;
    }
    internet-options {
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset drop-all-tcp;
    }
    authentication-order [ tacplus password ];
    root-authentication {
        encrypted-password "$5$2xP3n7.z$DwO0p8kgodMLeWaxmsi1oA7NPvAqcqoKGhKouK1DsU/"; ## SECRET-DATA
    }
    tacplus-server {
        10.202.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
        {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    login {
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class RANCID-Class {
            idle-timeout 15;
            permissions [ view view-configuration ];
        }
        user crogers {
            full-name switchninja;
            uid 1337;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDS9O+DvCGv2i0SALUwdlK7PlwvlZugLY9VXH4SHMBh1tn4A8Kcn1fmpozdRQYU8ygbFr8NCEjCbFn2kHjYXmyr01lc+kn6OrBGW8wRtpsfnRk/N93GKYowhRIq86sZpgAeGo7UXkvZUrJOFlLPcCCdspBPX98aF7WSRTWv6S7/kFCXKunpRy+NlRTmwUDS09mkevxNU4kvkyFSYyz+Se55D0xOHaZyCFREUKjY1kGxjVo3dcdp2PiQqrrAwzhtZD+AP8OxOu+l+heCEDD0W0g68dk3+BhdOmny2F7AQmv3cXKu+xBUjmDT6R5Qdgpv7zvfbihIE3lPaBHzJxFjFJAeBXM6JPxpbilLtJ7mlRVkZoW5NahiaPsTtaB/sPSQNm5yYrAUzvQzipwPV6I/fKFkqhW2dgu+U/Hb1X+vSFcqD0UsEVJqee4QQopyp7b8EBMB3W2ZXKqsDeUMSR0X0WtrMcUlGStQsSTxbg9Uy07WvdzLmaRGm2r8WjGwXLsz46Exb/uEZwjGmlbOporVi8262FZAtfFLb2/Jl9jhkM+d6guliEDJqk8bd5J+0wmnYsehUCCitM+B4WG+xtY6jZK5ig75kHoo/bU/9rzmfUolP3CCSR0EudKnFPh4+0Bty1Qskkcfzg2hZq+fVHDmqeb0Od7sYkKyFiHBWrgxvSR2wQ== crogers@fastlane"; ## SECRET-DATA
            }
        }
        user ansible {
            uid 2002;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBTVCLDfgt01MMJDPY32AHCNO2wFudG4T7JWQccGzHhZDjYGbK4Nw1taT6q1sCNf3eeW9MVJX8U802g39sgLiUCZ1AHHSItvjA/ezaAY45347/PG8xztEOU5BR6QaSAlk7WNLSSDh76NeF3lKmuuZjNhYKfo/hDAj8Z6JnytSV3TGxBhulNLrKQ5BLoUXnrvaVAOrOAgEMM6Qn+EqXXSEZ4LVH7T0Pth1KAgel8UHVWdHRnL/tUd6aKSD8MJx7UgtrBK1wqmTqzQdzjVZSpI7WvchQTvuhvF3iMTeeNW1RPU0W/kSX0g9JHcPS/ySj5xCkZKSFMFQvkFogP4cKN5iV kylemc@ironwood"; ## SECRET-DATA
            }
        }
        user kylemc {
            uid 2004;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOmi9gGUoW7cf396aT1PvjxICGMqyTMVArIOCwqYIfgxTZGtKVc9y9kZJICNq6i1vQcbZtMYntbJNYEMa/wKISy/Gdig1YLeCR+9x982/579YtbJthnOebjXZF+lBmXKTvzbbemj0/e5YMC7ASTCPB34wB7rzCecS0J298gK7UNXIedoAksMYLeAwXxmmMLmgDgXaQFVO29jarPRii5HWFk8jcotFbKvHKwi9lu5R5yaKAyPV5PJ0OUrveQXBKOogRD1yQZjUh+CJvdNnDd6zzBGEH+5nT4Am1ZEbHZt4iGLHVjSdZsPQzzZaxb+zIBk82qDMpFd38Hl1OB6kUnieUBDppnP+ztZx/ccB7Ijs8EzM6hVW6RzVhFZJrOyNiWnu0gXJwlt6LO9pAxEs/1KPSq6fsb5lpSZv5s24Tu6Ig/IMLRK/HQYHnQqwQSBLepor0Lur3yJc7JYA3AiwEbturtJXw096qn1JK82mOGi/Y8gTZBon+tNXwPfYK7H2GK4E= kylemc@ironwood-new"; ## SECRET-DATA
            }
        }
        user rancid {
            full-name "RANCID template for remote access";
            uid 2001;
            class RANCID-Class;
        }
        user remote {
            full-name "TACACS+ template for remote access";
            uid 2000;
            class super-user;
        }
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 2;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        archive size 10m files 10;
        user * {
            any emergency;
        }
        host 10.202.253.11 {
            any any;
        }
        file alarmd {
            daemon any;
            match-strings alarmd;
        }
        file ddos_protection {
            any any;
            match-strings DDOS_PROTOCOL_VIOLATION;
        }
        file rpd {
            any any;
            match-strings [ RPD_OSPF_ bgp_ ];
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        time-format year millisecond;
        source-address {{ management_v4 }};
    }
    ddos-protection {
        protocols {
            arp {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
            ndpv6 {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
        }
    }
    ntp {
        server 10.202.253.5;
        server 172.22.253.5;
        server 172.23.253.5;
    }
}
replace:
chassis {
    aggregated-devices {
        ethernet {
            device-count 48;
        }
    }
}
replace:
interfaces {
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_values.lacp is defined ) and ( port_values.sniffer is not defined ) %}
    {{ port_name }} {
        description "{{ port_values.descr }}";
        traps;
        ether-options {
            802.3ad {{ port_values.lacp }};
        }
    }
        {% elif ( port_values.vlans is defined ) and ( port_values.sniffer is not defined ) %}
            {% set vlan_list = port_values.vlans | string()  %}
            {% set vlan_tuples = vlan_list.split(' ') %}
    {{ port_name }} {
        traps;
        mtu 9216;
            {% if port_name is match("ae*") %}
                {% set admin_key = port_name.split('e')[1] %}
        esi {
            auto-derive {
                lacp;
            }
            all-active;
        }
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
                system-id {{ device_values.lacp_systemid }};
                admin-key {{ admin_key }};
            }
        }
            {% endif %}
        unit 0 {
            description "{{ port_values.descr }}";
            family ethernet-switching {
            {% if ( vlan_tuples[1] is defined ) or ( port_values.trunk is defined ) %}
                interface-mode trunk;
                vlan {
                    members [ {% for foo in vlan_tuples %}v{{ foo }} {% endfor %}];
                }
            }
            {% else %}
                interface-mode access;
                vlan {
                    members v{{ port_values.vlans }};
                }
            }
            {% endif %}
        }
    }
        {% elif port_values.local_ip is defined %}
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            description "{{ port_values.descr }}";
            family inet {
                address {{ port_values.local_ip }};
            }
        }
    }
        {% elif ( port_values.sniffer is defined ) %}
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            family ethernet-switching;
        }
    }
        {% else %}
    {{ port_name }} IS NOT RECOGNISED
        {% endif %}
    {% endfor %}
{% endif %}
    em0 {
        description "Management to {{ hub_name }}-net-obr-001";
        unit 0 {
            family inet {
                address {{ management_v4 }}/24;
            }
            family inet6 {
                address {{ management_v6 }}/64 {
                    preferred;
                }
                address {{ management_fe80 }}/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128;
            }
        }
    }
}
replace:
snmp {
    name {{ device_name }};
    description "AN: {{ asset }}";
    location {{ hub_name  | upper }};
    contact "Network Engineering <neteng@sample.com>";
    community open_sesame {
        authorization read-only;
        clients {
            10.202.253.0/24;
            172.22.253.0/24;
            172.21.253.0/24;
            172.23.253.0/24;
            172.22.222.0/24;
            172.27.253.0/24;
        }
    }
    trap-options {
        source-address {{ management_v4 }}; 
    }
    trap-group open_sesame {
        version v2; 
        categories {
            authentication;
            chassis;
            link;
            remote-operations;
            routing;
            startup;
            vrrp-events;
            configuration;
            services;
        }
        targets {
            {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11;
        }
    }
}
replace:
forwarding-options {
    vxlan-routing {
        overlay-ecmp;
    }
    analyzer {
{% set ns = namespace(count=1) %}
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_values.sniffer is defined ) %}
        analyzer_session{{ ns.count }} {
            {% set ns.count = ns.count + 1 %}
            input {
                ingress {
            {% set input_list = port_values.sniffer.source | string() %}
            {% set input_ports = input_list.split(' ') %}
            {% for foo in input_ports %}
                    interface {{ foo }};
            {% endfor %}
                }
            }
            output {
                interface {{ port_name }};
            }
        }
        {% endif %}
    {% endfor %}
{% endif %}
    }
}
replace:
policy-options {
    policy-statement ecmp_policy {
        then {
            load-balance per-packet;
        }
    }
}
replace:
routing-options {
    router-id {{ loopback_v4 }};
    rib inet6.0 {
        static {
            route ::0/0 {
                qualified-next-hop {{ manage_def_v6 }} {
                    interface fxp0.0;
                }
                retain;
            }
        }
    }
    static {
        route 0.0.0.0/0 {
            qualified-next-hop {{ manage_def_v4 }} {
                interface fxp0.0
            }
            retain;
        }
    }
    autonomous-system {{ hub_values.vxlan_asn }};
    forwarding-table {
        export ecmp_policy;
        ecmp-fast-reroute;
        chained-composite-next-hop {
            ingress {
                evpn;
            }
        }
    }
}
replace:
protocols {
    bgp {
        group VXLAN_SPINE {
            type internal;
            local-address {{ loopback_v4 }};
            family evpn {
                signaling;
            }
            multipath;
            bfd-liveness-detection {
                minimum-interval 1000;
                multiplier 3;
                session-mode automatic;
            }
{% for spine_name,spine_values in hub_values.spines.items() %}
            neighbor {{ spine_values.ip }} {
                description "{{ spine_name }}:evpnbgp4";
            }
{% endfor %}
        }
    }
    ospf {
        reference-bandwidth 1g;
        area 0.0.0.0 {
            interface lo0.0 {
                passive;
            }
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_values.uplink is defined ) and ( port_values.uplink == true ) %}
            interface {{ port_name }} {
                bfd-liveness-detection {
                    minimum-interval 1000;
                    multiplier 3;
                }
            }
        {% endif %}
    {% endfor %}
{% endif %}
        }
    }
    evpn {
        encapsulation vxlan;
        extended-vni-list all;
    }
    lldp {
        management-address {{ management_v4 }};
{{ lookup('template','common/junos/lldp.j2') }}
    }
    sflow {
        agent-id {{ management_v4 }};
        sample-rate {
            ingress 100;
            egress 100;
        }
        source-ip {{ management_v4 }};
        collector {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            udp-port 2000;
        }
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_name is match("xe-") ) or ( port_name is match("ge-") ) or ( port_name is match("et-") ) %}
        interfaces {{ port_name }}; 
        {% endif %}
    {% endfor %}
{% endif %}
    }
    vstp {
        vlan all;
    }
}
replace:
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{ loopback_v4 }}:1;
    vrf-target {
        target:{{ hub_values.vxlan_asn }}L:1111;
        auto;
    }
}
replace:
vlans {
    /* -------------- */
    /* end user vlans */
    /* -------------- */
{% if hub_values.user_vlans[1] is defined %}
{% for vlan_name,vlan_values in hub_values.user_vlans.items() %}
    /* {{ vlan_values.v4network }} - {{ vlan_values.descr }} */
    v{{ vlan_name }} {
        vlan-id {{ vlan_name }};
        vxlan {
            vni {{ vlan_name }}000;
        }
    }
{% endfor %}
{% endif %}
    /* -------------------------- */
    /* upstream network providers */
    /* -------------------------- */
{% for isps,isp_values in hub_values.isps.items() %}
    {% if isp_values.asn is defined %}
    v{{ isp_values.vlan }} {
        vlan-id {{ isp_values.vlan }};
        vxlan {
            vni {{ isp_values.vlan }}000;
        }
    }
    {% else %}
    v{{ isp_values.vlan }} {
        vlan-id {{ isp_values.vlan }};
        vxlan {
            vni {{ isp_values.vlan }}000;
        }
    }
    {% endif %}
{% endfor %}
    /* ------------- */
    /* edge networks */
    /* ------------- */
    /* {{ hub_values.v19prefix_v4 }} - EGW to ECR Transit */
    v19 {
        vlan-id 19;
        vxlan {
            vni 19000;
        }
    }
    /* {{ hub_values.v20prefix_v4 }} - ECR to Services Transit */
    v20 {
        vlan-id 20;
        vxlan {
            vni 20000;
        }
    }
    /* {{ hub_values.v21prefix_v4 }} - ECR to Services Transit */
    v21 {
        vlan-id 21;
        vxlan {
            vni 21000;
        }
    }
{% for vpc_name,vpc_values in vpc.items() %}
    {% if vpc_values.site == hub_name %}
        {% if vpc_values.cloud_upstreams is defined %}
    /* --------------- */
    /* cloud upstreams */
    /* --------------- */
            {% for peer_name,peer_values in vpc_values.cloud_upstreams.items() %}
    /* {{ peer_values.descr }} */
    v{{ peer_values.vlan }} {
        vlan-id {{ peer_values.vlan }};
        vxlan {
            vni {{ peer_values.vlan }}000;
        }
    }
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if hub_values.transit_vlans is defined %}
    /* ---------------- */
    /* transit networks */
    /* ---------------- */
    {% for transit_vlan,transit_values in hub_values.transit_vlans.items() %}
    /* {{ transit_values.descr }} */
    v{{ transit_vlan }} {
        vlan-id {{ transit_vlan }};
        vxlan {
            vni {{ transit_vlan }}000;
        }
    }
    {% endfor %}
{% endif %}
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.0.0/23 - Internal Backbone and Transit */
    v200 {
        vlan-id 200;
        vxlan {
            vni 200000;
        }
    }
    /* IGW to CFW inside peering interface */
    v1298 {
        vlan-id 1298;
        vxlan {
            vni 1298000;
        }
    }
    /* CFW to IGW outside peering interface */
    v1299 {
        vlan-id 1299;
        vxlan {
            vni 1299000;
        }
    }
    /* ---------------- */
    /* utility networks */
    /* ---------------- */
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.2248.0/22 - ILO */
    v2248 {
        vlan-id 2248;
        vxlan {
            vni 2248000;
        }
    }
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.252.0/24 - Environmentals */
    v2252 {
        vlan-id 2252;
        vxlan {
            vni 2252000;
        }
    }
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.0/24 - Network Management */
    v2253 {
        vlan-id 2253;
        vxlan {
            vni 2253000;
        }
    }
}


            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

