#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% set mgmt_vlan = "2253" %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set unit_id = device_name.split('-')[3] %}
                {% set v6supernet = hub_values.v6_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set v6tuple_list = v6supernet.split(':') %}
                {% if hub_values.dhcp_servers is not defined %}
                    {% set dhcp_servers = [ "172.22.14.11" , "172.22.14.12" ] %}
                {% else %}
                    {% set dhcp_servers = hub_values.dhcp_servers %}
                {% endif %}
                {% if device_values.management_v4 is not defined %}
                    {% if unit_id == "001" %}
                        {% set management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.2" %}
                    {% else %}
                        {% set management_v4 = "management_v4 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set management_v4 = device_values.management_v4 %}
                {% endif %}
                {% if device_values.management_v6 is not defined %}
                    {% if unit_id == "001" %}
                        {% set management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::2" %}
                        {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                    {% else %}
                        {% set management_v6 = "management_v6 NOT DEFINED" %}
                        {% set management_fe80 = "management_fe80 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                        {% set management_v6 = device_values.management_v6 %}
                        {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                {% endif %}
                {% if device_values.loopback_v4 is not defined %}
                    {% if unit_id == "001" %}
                        {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.2" %}
                    {% else %}
                        {% set loopback_v4 = "loopback_v4 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set loopback_v4 = device_values.loopback_v4 %}
                {% endif %}
                {% if device_values.loopback_v6 is not defined %}
                    {% if unit_id == "001" %}
                        {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::2" %}
                    {% else %}
                        {% set loopback_v6 = "loopback_v6 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set loopback_v6 = device_values.loopback_v6 %}
                {% endif %}
                {% if device_values.netflow_exporter is not defined %}
                    {% if unit_id == "001" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.2" %}
                    {% else %}
                        {% set netflow = "netflow NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set netflow = device_values.netflow_exporter %}
                {% endif %}
                {% if hub_values.netflow_collector is not defined %}
                    {% set netflow_collector = "172.22.253.73" %}
                {% else %}
                    {% set netflow_collector = hub_values.netlfow_collector %}
                {% endif %}
                {% if device_values.management_default_v4 is not defined %}
                    {% set manage_def_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.1" %}
                {% else %}
                    {% set manage_def_v4 = device_values.management_default_v4 %}
                {% endif %}
                {% if device_values.management_default_v6 is not defined %}
                    {% set manage_def_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::1" %}
                {% else %}
                    {% set manage_def_v6 = device_values.management_default_v6 %}
                {% endif %}
                {% if ( unit_id == "001" ) and ( device_values.vlan200v4 is not defined ) %}
                    {% set vlan200v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".1.253" %}
                {% elif ( device_values.vlan200v4 is defined ) %}
                    {% set vlan200v4 = device_values.vlan200v4 %}
                {% else %}
                    {% set vlan200v4 = "vlan200v4 NOT DEFINED" %}
                {% endif %}
                {% if ( unit_id == "001" ) and ( device_values.vlan200v6 is not defined ) %}
                    {% set vlan200v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":200::1:253" %}
                    {% if device_values.vlan200fe80 is not defined %}
                        {% set vlan200fe80 = "fe80::200:1:253" %}
                    {% else %}
                        {% set vlan200fe80 = device_values.vlanfe80 %}
                    {% endif %}
                {% elif ( unit_id == "001" ) and ( device_values.vlan200v6 is defined ) %}
                    {% set vlan200v6 = device_values.vlan200v6 %}
                    {% if device_values.vlan200fe80 is not defined %}
                        {% set vlan200fe80 = "fe80::200:1:253" %}
                    {% else %}
                        {% set vlan200fe80 = device_values.vlan200fe80 %}
                    {% endif %}
                {% elif device_values.vlan200v6 is defined %}
                    {% set vlan200v6 = device_values.vlan200v6 %}
                    {% set fe80host = vlan200v6.rsplit('::')[1] %}
                    {% set vlan200fe80 = "fe80::200:" ~ fe80host %}
                {% else %}
                    {% set vlan200v6 = "vlan200v6 NOT DEFINED" %}
                    {% set vlan200fe80 = "vlan200fe80 NOT DEFINED" %}
                {% endif %}
replace:
system {
    host-name {{ inventory_hostname }};
    auto-snapshot;
    backup-router {{ manage_def_v4 }} destination 0.0.0.0/0;
    inet6-backup-router {{ manage_def_v6 }} destination ::0/0;
    time-zone UTC;
    arp {
        aging-timer 10;
        passive-learning;
    }
    authentication-order [ tacplus password ];
    internet-options {
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset drop-all-tcp;
    }
    root-authentication {
        encrypted-password "$5$2xP3n7.z$DwO0p8kgodMLeWaxmsi1oA7NPvAqcqoKGhKouK1DsU/"; ## SECRET-DATA
    }
    commit synchronize;
    tacplus-server {
        10.202.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
        {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    login {
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class RANCID-Class {
            idle-timeout 15;
            permissions [ secret view view-configuration ];
        }
        user crogers {
            full-name switchninja;
            uid 1337;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDS9O+DvCGv2i0SALUwdlK7PlwvlZugLY9VXH4SHMBh1tn4A8Kcn1fmpozdRQYU8ygbFr8NCEjCbFn2kHjYXmyr01lc+kn6OrBGW8wRtpsfnRk/N93GKYowhRIq86sZpgAeGo7UXkvZUrJOFlLPcCCdspBPX98aF7WSRTWv6S7/kFCXKunpRy+NlRTmwUDS09mkevxNU4kvkyFSYyz+Se55D0xOHaZyCFREUKjY1kGxjVo3dcdp2PiQqrrAwzhtZD+AP8OxOu+l+heCEDD0W0g68dk3+BhdOmny2F7AQmv3cXKu+xBUjmDT6R5Qdgpv7zvfbihIE3lPaBHzJxFjFJAeBXM6JPxpbilLtJ7mlRVkZoW5NahiaPsTtaB/sPSQNm5yYrAUzvQzipwPV6I/fKFkqhW2dgu+U/Hb1X+vSFcqD0UsEVJqee4QQopyp7b8EBMB3W2ZXKqsDeUMSR0X0WtrMcUlGStQsSTxbg9Uy07WvdzLmaRGm2r8WjGwXLsz46Exb/uEZwjGmlbOporVi8262FZAtfFLb2/Jl9jhkM+d6guliEDJqk8bd5J+0wmnYsehUCCitM+B4WG+xtY6jZK5ig75kHoo/bU/9rzmfUolP3CCSR0EudKnFPh4+0Bty1Qskkcfzg2hZq+fVHDmqeb0Od7sYkKyFiHBWrgxvSR2wQ== crogers@fastlane"; ## SECRET-DATA
            }
        }
        user ansible {
            uid 2002;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBTVCLDfgt01MMJDPY32AHCNO2wFudG4T7JWQccGzHhZDjYGbK4Nw1taT6q1sCNf3eeW9MVJX8U802g39sgLiUCZ1AHHSItvjA/ezaAY45347/PG8xztEOU5BR6QaSAlk7WNLSSDh76NeF3lKmuuZjNhYKfo/hDAj8Z6JnytSV3TGxBhulNLrKQ5BLoUXnrvaVAOrOAgEMM6Qn+EqXXSEZ4LVH7T0Pth1KAgel8UHVWdHRnL/tUd6aKSD8MJx7UgtrBK1wqmTqzQdzjVZSpI7WvchQTvuhvF3iMTeeNW1RPU0W/kSX0g9JHcPS/ySj5xCkZKSFMFQvkFogP4cKN5iV kylemc@ironwood"; ## SECRET-DATA
            }
        }
        user kylemc {
            uid 2004;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC/fQpigYm8rBn/UtlcXtFpXKOM2r9SjtmHVbAEtrB5W5e5D9hrCX9GnkbkZLLuY01oX+ShyBEtCPInojeCHPG//rWP7XgON7eDEp6VpGPqxE/IBLC9LPUTXCACO5lhesIY82FIQB0ASoq4K2i2+4OF7YpS8UyhbjVOpDt0ohvRGBLk3y/lWJOQkQffb1ttsCDH1YvZ2vx+o1e2dy9FhKolKCUjyN8WZzWi9huzYiWUAP+we7PQGAr95Nb1cK6QFmog5grIL1/9Jc5v06jr9QFvQLuUFDXauonL/QPCCihm6GWN84OI5osoofmjUaX1UCaT1nngubCXCdXpqNzrukiMVyVvAXYe5wYB50SPD0GNrFUgeKfX6u/d6jtX8G9yGZxnX6X/78s5hENIlJieM+LE7rU6n17qgi8zc0kJZlHo/X08KW58Cu2k5e37MysAwt9d5I/R+hQ4WFhU/uBRhBwXHCNd3Xg3K3mGu1qyvWfku476gf580lQRWDvfORmpVec= kylemc@ZG07040"; ## SECRET-DATA
            }
        }
        user rancid {
            full-name "RANCID template for remote access";
            uid 2001;
            class RANCID-Class;
        }
        user remote {
            full-name "TACACS+ template for remote access";
            uid 2000;
            class super-user;
        }
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 2;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        archive size 10m files 10;
        user * {
            any emergency;
        }
        host 10.202.253.11 {
            any any;
        }
        file alarmd {
            daemon any;
            match-strings alarmd;
        }
        file ddos_protection {
            any any;
            match-strings DDOS_PROTOCOL_VIOLATION;
        }
        file rpd {
            any any;
            match-strings [ RPD_OSPF_ bgp_ ];
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        file kernel {
            kernel any;
        }
        file bpduprotect {
            any info;
            match BPDU;
            structured-data;
        }
        time-format year millisecond;
        source-address {{ management_v4 }};
    }
    commit synchronize;
    packet-forwarding-options {
        irb-mac-shift;
    }
{#
    ddos-protection {
        protocols {
            arp {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
            ndpv6 {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
        }
    }
#}
    ntp {
        server 10.202.253.5;
        server 172.22.253.5;
        server 172.23.253.5;
    }
}
replace:
chassis {
    redundancy {
        graceful-switchover;
    }
    aggregated-devices {
        ethernet {
            device-count 48;
        }
    }
}
replace:
interfaces {
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_values.lacp is defined ) and ( port_values.sniffer is not defined ) %}
    {{ port_name }} {
        description "{{ port_values.descr }}";
        traps;
        gigether-options {
            802.3ad {{ port_values.lacp }};
        }
    }
        {% elif ( port_values.vlans is defined ) and ( port_values.sniffer is not defined ) %}
            {% set vlan_list = port_values.vlans | string()  %}
            {% set vlan_tuples = vlan_list.split(' ') %}
    {{ port_name }} {
        traps;
            {% if hub_name != "ric" %}
        mtu 9216;
            {% else %}
        mtu 1518;
            {% endif %}
        {% if port_name is match("ae*") %}
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
            }
        }
        {% endif %}
        unit 0 {
            description "{{ port_values.descr }}";
            family ethernet-switching {
            {% if ( vlan_tuples[1] is defined ) or ( port_values.trunk is defined ) %}
                interface-mode trunk;
                vlan {
                    members [ {% for foo in vlan_tuples %}v{{ foo }} {% endfor %}];
                }
            }
            {% else %}
                interface-mode access;
                vlan {
                    members v{{ port_values.vlans }};
                }
            }
            {% endif %}
        }
    }
        {% elif ( port_values.sniffer is defined ) %}
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            family ethernet-switching;
        }
    }
        {% elif ( port_values.local_ip is defined ) and ( port_values.local_ip6 is defined ) %}
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            description "{{ port_values.descr }}";
            family inet {
                address {{ port_values.local_ip }};
            }
            family inet6 {
                address {{ port_values.local_ip6 }};
            }
        }
    }
        {% elif ( port_values.sniffer is defined ) %}
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            family ethernet-switching;
        }
    }
        {% elif ( port_values.local_ip is defined ) and ( port_values.local_ip6 is not defined ) %}
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            description "{{ port_values.descr }}";
            family inet {
                address {{ port_values.local_ip }};
            }
        }
    }
        {% elif ( port_values.local_ip6 is defined ) and ( port_values.local_ip is not defined ) %} 
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            description "{{ port_values.descr }}";
            family inet6 {
                address {{ port_values.local_ip6 }};
            }
        }
    }

    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            description "{{ port_values.descr }}";
            family inet {
                address {{ port_values.local_ip }};
            }
        }
    }
        {% else %}
    {{ port_name }} IS NOT RECOGNISED
        {% endif %}
    {% endfor %}
{% endif %}
    irb {
{% if hub_name != "ric" %}
        mtu 9216;
{% endif %}
        unit 200 {
            description "Vlan 200 - Internal Backbone and Transit";
            family inet {
{% if hub_name != "ric" %}
                mtu 9000;
{% else %}
                mtu 1500;
{% endif %}
                address {{ vlan200v4 }}/23;
            }
            family inet6 {
{% if hub_name != "ric" %}
                mtu 9000;
{% else %}
                mtu 1500;
{% endif %}
                address {{ vlan200v6 }}/64 {
                    preferred;
                }
                address {{ vlan200fe80 }}/64;
            }
        }
{% if hub_values.transit_vlans is defined %}
{% for vlan_id,vlan_values in hub_values.transit_vlans.items() %}
        unit {{ vlan_id }} {
            family inet {
    {% if hub_name != "ric" %}
                mtu 9000;
    {% else %}
                mtu 1500;
    {% endif %}
    {% set netmask = vlan_values.v4network.split('/')[1] %}
    {% set address = vlan_values.v4network | ipmath(2) %}
                address {{ address }}/{{ netmask }};
            }
    {% if vlan_values.v6network is defined %}
            family inet6 {
        {% if hub_name != "ric" %}
                mtu 9000;
        {% else %}
                mtu 1500;
        {% endif %}
        {% set netmask = vlan_values.v6network.split('/')[1] %}
        {% set network = vlan_values.v6network.split('/')[0] %}
        {% set address = network ~ "ffff" %}
                address {{ address }}/{{ netmask }} {
                    preferred;
                }
                address fe80::{{ vlan_id }}:ffff/64;
            }
    {% else %}
            family inet6 {
        {% if hub_name != "ric" %}
                mtu 9000;
        {% else %}
                mtu 1500;
        {% endif %}
        {% set network = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vlan_id ~ "::" %}
        {% set address = network ~ "ffff" %}
                address {{ address }}/64 {
                    preferred;
                }
                address fe80::{{ vlan_id }}:ffff/64;
            }
    {% endif %}
        }
{% endfor %}
{% endif %}
{% for vlan_id,vlan_values in hub_values.user_vlans.items() %}
    {% if ( vlan_values.v4network is defined ) or ( vlan_values.v6network is defined ) %}
        unit {{ vlan_id }} {
            family inet {
        {% if hub_name != "ric" %}
                mtu 9000;
        {% else %}
                mtu 1500;
        {% endif %}
        {% set netmask = vlan_values.v4network.split('/')[1] %}
        {% set address = vlan_values.v4network | ipmath(1) %}
                address {{ address }}/{{ netmask }};
            }
        {% if vlan_values.v6network is defined %}
            family inet6 {
            {% if hub_name != "ric" %}
                mtu 9000;
            {% else %}
                mtu 1500;
            {% endif %}
            {% set netmask = vlan_values.v6network.split('/')[1] %}
            {% set address = vlan_values.v6network | ipaddr('first_usable') %}
                address {{ address }}/{{ netmask }} {
                    preferred;
                }
                address fe80::{{ vlan_id }}:1/64;
            }
        {% else %}
            family inet6 {
            {% if hub_name != "ric" %}
                mtu 9000;
            {% else %}
                mtu 1500;
            {% endif %}
            {% set network_and_mask = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vlan_id ~ "::/64" %}
            {% set address = network_and_mask | ipaddr('first_usable') %}
                address {{ address }}/64 {
                    preferred;
                }
                address fe80::{{ vlan_id }}:1/64;
            }
        {% endif %}
        }
    {% endif %}
{% endfor %}
    }
    lo0 {
        unit 0 {
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128;
            }
        }
        unit 1 {
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128;
            }
        }
    }
    vme {
        description "management interface";
        unit 0 {
            description "management interface";
            family inet {
                address {{ management_v4 }}/24;
            }
            family inet6 {
                address {{ management_v6 }}/64 {
                    preferred;
                }
                address {{ management_fe80 }}/64;
            }
        }
    }
}
replace:
snmp {
    name {{ device_name }};
    description "{{ hub_name }} EX4600 Internal Core Router {{ unit_id }}";
    location {{ hub_name }};
    contact "Network Engineering <neteng@sample.com>";
    community open_sesame {
        authorization read-only;
        clients {
            10.202.253.0/24;
            172.22.253.0/24;
            172.23.253.0/24;
            172.22.222.0/24;
            172.27.253.0/24;
            172.29.253.0/24
        }
    }
    trap-options {
        source-address {{ management_v4 }}; 
    }
    trap-group open_sesame {
        version v2; 
        categories {
            authentication;
            chassis;
            link;
            remote-operations;
            routing;
            startup;
            vrrp-events;
            configuration;
            services;
        }
        targets {
            {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11;
        }
    }
}
replace:
{{ lookup('template','common/junos/forwarding-options.j2') }}
replace:
routing-options {
    nonstop-routing;
    router-id {{ loopback_v4 }};
    rib inet6.0 {
        static {
            route ::0/0 {
                qualified-next-hop {{ manage_def_v6 }} {
                    interface vme.0;
                }
                retain;
            }
        }
    }
    static {
        route 0.0.0.0/0 {
            qualified-next-hop {{ manage_def_v4 }} {
                interface vme.0
            }
            retain;
        }
    }
    router-id {{ loopback_v4 }};
    autonomous-system {{ hub_values.asn }};
    forwarding-table {
        export ecmp_policy;
    }
}
replace:
protocols {
    mld {
        interface all;
    }
    router-advertisement {
        interface all;
    }
    lldp {
        management-address {{ management_v4 }};
{{ lookup('template', 'common/junos/lldp.j2') }}
    }
    igmp-snooping {
        vlan all;
    }
    sflow {
        agent-id {{ management_v4 }};
        sample-rate {
            ingress 100;
            egress 100;
        }
        source-ip {{ management_v4 }};
        collector {{ netflow_collector }} {
            udp-port 2055;
        }
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_name is match("xe-") ) or ( port_name is match("ge-") ) or ( port_name is match("et-") ) %}
        interfaces {{ port_name }}.0;
        {% endif %}
    {% endfor %}
{% endif %}
    }
    layer2-control {
        nonstop-bridging;
    }
    vstp {
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_values.uplink is not defined ) %}
            {% if ( port_values.lacp is not defined ) and ( port_values.trunk is defined ) %}
        interface {{ port_name }};
            {% elif ( port_values.lacp is not defined ) %}
        interface {{ port_name }};
            {% elif ( port_values.trunk is defined ) %}
        interface {{ port_name }};
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
        vlan 200 {
            bridge-priority 0;
        }
        vlan 2248 {
            bridge-priority 8k;
        }
        vlan 2252 {
            bridge-priority 8k;
        }
        vlan 2253 {
            bridge-priority 8k;
        }
{% for vlan_id,vlan_values in hub_values.user_vlans.items() %}
        vlan {{ vlan_id }} {
            bridge-priority 0;
        }
{% endfor %}
{% if hub_values.transit_vlans is defined %}
{% for vlan_id,vlan_values in hub_values.transit_vlans.items() %}
        vlan {{ vlan_id }} {
            bridge-priority 16k;
        }
{% endfor %}
{% endif %}
    }
}
replace:
policy-options {
    policy-statement ecmp_policy {
        then {
            load-balance per-packet;
        }
    }
{% if device_values.external_peers is defined %}
{% for peer_name,bgp_values in device_values.external_peers.items() %}
    {% if bgp_values.imports[0] is defined %}
    prefix-list IMPORTS_prefix-list_{{ peer_name }} {
        {% for foo in bgp_values.imports %}
        {{ foo }};
        {% endfor %}
    }
    {% endif %}
    {% if bgp_values.imports6[0] is defined %}
    prefix-list IMPORTS6_prefix-list_{{ peer_name }} {
        {% for foo in bgp_values.imports6 %}
        {{ foo }};
        {% endfor %}
    }
    {% endif %}
    {% if bgp_values.exports[0] is defined %}
    prefix-list EXPORTS_prefix-list_{{ peer_name }} {
        {% for foo in bgp_values.exports %}
        {{ foo }};
        {% endfor %}
    }
    {% endif %}
    {% if bgp_values.exports6[0] is defined %}
    prefix-list EXPORTS6_prefix-list_{{ peer_name }} {
        {% for foo in bgp_values.exports6 %}
        {{ foo }};
        {% endfor %}
    }
    {% endif %}
{% endfor %}
{% for peer_name,bgp_values in device_values.external_peers.items() %}
    policy-statement {{ peer_name }}_to_{{ device_name }}_import {
    {% if bgp_values.imports[0] is defined %}
        term inet_permits {
            from {
                family inet;
                prefix-list IMPORTS_prefix-list_{{ peer_name }};
            }
            then accept;
        }
    {% endif %}
    {% if bgp_values.imports6[0] is defined %}
        term inet6_permits {
            from {
                family inet6;
                prefix-list IMPORTS6_prefix-list_{{ peer_name }};
            }
            then accept;
        }
    {% endif %}
        term deny {
            then reject;
        }
    }
{% endfor %}
{% for peer_name,bgp_values in device_values.external_peers.items() %}
    policy-statement {{ device_name }}_to_{{ peer_name }}_export {
    {% if bgp_values.exports[0] is defined %}
        term inet_permits {
            from {
                family inet;
                prefix-list EXPORTS_prefix-list_{{ peer_name }};
            }
            then accept;
        }
    {% endif %}
    {% if bgp_values.exports6[0] is defined %}
        term inet6_permits {
            from {
                family inet6;
                prefix-list EXPORTS6_prefix-list_{{ peer_name }};
            }
            then accept;
        }
    {% endif %}
        term deny {
            then reject;
        }
    }
{% endfor %}
    policy-statement icr_export {
        term inet_ebgp_peers {
            from {
                protocol bgp;
                family inet;
                neighbor [ {% for bgp_name,bgp_values in device_values.external_peers.items() %}{% for foo in bgp_values.ip %}{{ foo }}{% endfor %} {% endfor %} ];
            }
            then {
                next-hop self;
                accept;
            }
        }
        term inet6_ebgp_peers {
            from {
                protocol bgp;
                family inet6;
                neighbor [ {% for bgp_name,bgp_values in device_values.external_peers.items()%}{% if bgp_values.ip6 is defined %}{% for foo in bgp_values.ip6 %}{{ foo }}{% endfor %}{% endif %} {% endfor %} ];
            }
            then {
                next-hop self;
                accept;
            }
        }
        term inet_supernet {
            from {
                family inet;
                route-filter {{ hub_values.rfc1918_supernet }} exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term inet6_supernet {
            from {
                family inet6;
                route-filter {{ hub_values.v6_supernet }} exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term default_permit {
            from protocol bgp;
            then {
                next-hop self;
                accept;
            }
        }
    }
{% endif %}
{# note: enable this block when ric moves to a bgp upstream instead of current ospf upstream
{% if hub_name == "ric" %}
    policy-statement DEFAULT_ROUTE_ORIGINATE_v4 {
        term default {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
    }
    policy-statement DEFAULT_ROUTE_ORIGINATE_v6 {
        term default {
            from {
                route-filter ::0/0 exact;
            }
        }
    }
{% endif %}
#}
}
replace:
routing-instances {
    {{ hub_name }}-default {
        instance-type vrf;
        interface irb.200;
        interface lo0.1;
{% if hub_values.user_vlans is defined %}
    {% for vlan_id,vlan_values in hub_values.user_vlans.items() %}
        {% if ( vlan_values.v4network is defined ) or ( vlan_values.v6network is defined ) %}
        interface irb.{{ vlan_id }};
        {% endif %}
    {% endfor %}
{% endif %}
{% if hub_values.transit_vlans is defined %}
    {% for vlan_id,vlan_values in hub_values.transit_vlans.items() %}
        {% if ( vlan_values.v4network is defined ) or ( vlan_values.v6network is defined ) %}
        interface irb.{{ vlan_id }};
        {% endif %}
    {% endfor %}
{% endif %}
        route-distinguisher {{ loopback_v4 }}:100;
        vrf-target target:{{ hub_values.vxlan_asn }}L:1111;
        vrf-table-label;
        routing-options {
            rib {{ hub_name }}-default.inet6.0 {
                static {
                    /* nail up for ibgp advertisement */
                    route {{ hub_values.v6_supernet }} {
                        discard;
                        preference 250;
                    }
                    route ::0/0 {
                        discard;
                        preference 250;
                    }
                }
                multipath;
            }
            static {
                /* nail up for ibgp advertisement */
                route {{ hub_values.rfc1918_supernet }} {
                    discard;
                    preference 250;
                }
                route 0.0.0.0/0 {
                    discard;
                    preference 250;
                }
            }
            multipath;
            router-id {{ loopback_v4 }};
            autonomous-system {{ hub_values.asn }};
            auto-export;
            aggregate {
                defaults {
                    discard;
                }
            }
        }
        protocols {
            bgp {
{% if device_values.external_peers is defined %}
    {% for peer_name,bgp_values in device_values.external_peers.items() %}
                group {{ peer_name }} {
                    description "{{ bgp_values.descr }}";
                    type external;
                    preference 20;
                    local-address {{ bgp_values.lip }};
                    log-updown;
                    import {{ peer_name }}_to_{{ device_name }}_import;
                    hold-time 30;
                    family inet {
                        unicast;
                    }
                    export {{ device_name }}_to_{{ peer_name }}_export;
                    local-as {{ hub_values.asn }};
                    peer-as {{ bgp_values.asn }};
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
        {% if bgp_values.ip is defined %}
                    neighbor {{ bgp_values.ip }} {
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        local-address {{ bgp_values.lip }};
                    }
        {% endif %}
        {% if bgp_values.ip6 is defined %}
                    neighbor {{ bgp_values.ip6 }} {
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        local-address {{ bgp_values.lip6 }};
                    }
        {% endif %}
                }
    {% endfor %}
            }
{% endif %}
            pim {
                rp {
                    local {
                        address {{ loopback_v4 }};
                    }
                }
                interface lo0.1;
                interface irb.200;
{% if hub_values.user_vlans is defined %}
    {% for vlan_id,vlan_values in hub_values.user_vlans.items() %}
        {% if ( vlan_values.v4network is defined ) or ( vlan_values.v6network is defined ) %}
                interface irb.{{ vlan_id }};
        {% endif %}
    {% endfor %}
{% endif %}
            }
{% if hub_name == "ric" %}
            ospf {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                area-range {{ hub_values.rfc1918_supernet }};
                    interface lo0.1 {
                        passive;
                    }
                    interface irb.200 {
                        priority 210;
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
    {% if hub_values.transit_vlans is defined %}
        {% for vlan_id,vlan_values in hub_values.transit_vlans.items() %}
                    interface irb.{{ vlan_id }} {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
        {% endfor %}
    {% endif %}
                }
    {% if hub_values.user_vlans is defined %}
                area {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.0.0 {
        {% for vlan_id,vlan_values in hub_values.user_vlans.items() %}
            {% if vlan_values.v4network is defined %}
                    interface irb.{{ vlan_id }} {
                        passive;
                    }
            {% endif %}
        {% endfor %}
                }
    {% endif %}
{# note: enable this block when ric moves to a bgp upstream instead of current ospf upstream
                export DEFAULT_ROUTE_ORIGINATE_v4;
#}
            }
            ospf3 {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                area-range {{ hub_values.v6_supernet }};
                    interface lo0.1 {
                        passive;
                    }
                    interface irb.200 {
                        priority 210;
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
    {% if hub_values.transit_vlans is defined %}
        {% for vlan_id,vlan_values in hub_values.transit_vlans.items() %}
                    interface irb.{{ vlan_id }} {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
        {% endfor %}
    {% endif %}
                }
    {% if hub_values.user_vlans is defined %}
                area {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.0.0 {
        {% for vlan_id,vlan_values in hub_values.user_vlans.items() %}
            {% if vlan_values.v4network is defined %}
                    interface irb.{{ vlan_id }} {
                        passive;
                    }
            {% endif %}
        {% endfor %}
                }
    {% endif %}
{# note: enable this block when ric moves to a bgp upstream instead of current ospf upstream
                export DEFAULT_ROUTE_ORIGINATE_v6;
#}
            }
{% endif %}
        }
        forwarding-options {
            dhcp-relay {
                server-group {
                    {{ hub_name }}-dhcp-servers {
{% for foo in dhcp_servers %}
                        {{ foo }};
{% endfor %}
                    }
                }
                group default_dhcp_relay_group {
                    active-server-group {{ hub_name }}-dhcp-servers;
{% for vlan_name,vlan_values in hub_values.user_vlans.items() %}
    {% if ( vlan_values.v4network is defined or vlan_values.v6network is defined ) %}
        {% if ( vlan_values.relay is defined ) and ( vlan_values.relay == true ) %}
                    interface irb.{{ vlan_name }};
        {% endif %}
    {% endif %}
{% endfor %}
                }
            }
        }
    }
}
replace:
vlans {
    v200 {
        vlan-id 200;
        l3-interface irb.200;
    }
{% if hub_values.user_vlans is defined %}
    /* -------------- */
    /* end user vlans */
    /* -------------- */
{% for vlan_name,vlan_values in hub_values.user_vlans.items() %}
    {% if ( vlan_values.v4network is defined ) and ( vlan_values.descr is defined ) %}
    /* {{ vlan_values.v4network }} - {{ vlan_values.descr }} */
    {% endif %}
    v{{ vlan_name }} {
        vlan-id {{ vlan_name }};
    {% if ( vlan_values.v4network is defined or vlan_values.v6network is defined ) %}
        l3-interface irb.{{ vlan_name }};
    {% endif %}
    }
{% endfor %}
{% endif %}
{% if hub_values.transit_vlans is defined %}
    /* ---------------- */
    /* transit networks */
    /* ---------------- */
{% for transit_vlan,transit_values in hub_values.transit_vlans.items() %}
    {% if transit_values.descr is defined %}
    /* {{ transit_values.descr }} */
    {% endif %}
    v{{ transit_vlan }} {
        vlan-id {{ transit_vlan }};
    {% if ( transit_values.v4network is defined or transit_values.v6network is defined ) %}
        l3-interface irb.{{ transit_vlan }};
    {% endif %}
    }
{% endfor %}
{% endif %}
    /* ---------------- */
    /* utility networks */
    /* ---------------- */
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.2248.0/22 - ILO */
    v2248 {
        vlan-id 2248;
    }
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.252.0/24 - Environmentals */
    v2252 {
        vlan-id 2252;
    }
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.0/24 - Network Management */
    v2253 {
        vlan-id 2253;
    }
}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
