#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
            {# this sets the platform, since the qfx10k has some chassis knobs that are required #}
                {% if hub_name == "west1" %}
                    {% set platform = "qfx10k" %}
                {% else %}
                    {% set platform = "qfx5k" %}
                {% endif %}
                {% set mgmt_vlan = "2253" %}
            {# asset tag logic, kinda silly but this could be a useful field to actually track #}
                {% if device_values.asset is not defined %}
                    {% set asset = "I'm too lazy to define my asset variable!" %}
                {% else %}
                    {% set asset = device_values.asset %}
                {% endif %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set unit_id = device_name.split('-')[3] %}
                {% set v6supernet = hub_values.v6_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set v6tuple_list = v6supernet.split(':') %}
                {% if device_values.management_v4 is not defined %}
                    {% if unit_id == "01a" %}
                        {% set management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.50" %}
                    {% elif unit_id == "01b" %}
                        {% set management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.51" %}
                    {% else %}
                        {% set management_v4 = "management_v4 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set management_v4 = device_values.management_v4 %}
                {% endif %}
                {% if device_values.management_v6 is not defined %}
                    {% if unit_id == "01a" %}
                        {% set management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::50" %}
                        {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                    {% elif unit_id == "01b" %}
                        {% set management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::51" %}
                        {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                    {% else %}
                        {% set management_v6 = "management_v6 NOT DEFINED" %}
                        {% set management_fe80 = "management_fe80 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                        {% set management_v6 = device_values.management_v6 %}
                        {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                {% endif %}
                {% if device_values.loopback_v4 is not defined %}
                    {% if unit_id == "01a" %}
                        {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.50" %}
                    {% elif unit_id == "01b" %}
                        {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.51" %}
                    {% else %}
                        {% set loopback_v4 = "loopback_v4 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set loopback_v4 = device_values.loopback_v4 %}
                {% endif %}
                {% if device_values.loopback_v6 is not defined %}
                    {% if unit_id == "01a" %}
                        {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::50" %}
                    {% elif unit_id == "01b" %}
                        {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::51" %}
                    {% else %}
                        {% set loopback_v6 = "loopback_v6 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set loopback_v6 = device_values.loopback_v6 %}
                {% endif %}
                {% if device_values.netflow_exporter is not defined %}
                    {% if unit_id == "01a" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.50" %}
                    {% elif unit_id == "01b" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.51" %}
                    {% else %}
                        {% set netflow = "netflow NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set netflow = device_values.netflow_exporter %}
                {% endif %}
                {% if device_values.management_default_v4 is not defined %}
                    {% set manage_def_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.1" %}
                {% else %}
                    {% set manage_def_v4 = device_values.management_default_v4 %}
                {% endif %}
                {% if device_values.management_default_v6 is not defined %}
                    {% set manage_def_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::1" %}
                {% else %}
                    {% set manage_def_v6 = device_values.management_default_v6 %}
                {% endif %}
                {% if ( unit_id == "01a" ) and ( device_values.vlan200_v4 is not defined ) %}
                    {% set vlan200_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".1.10" %}
                {% elif ( unit_id == "01b" ) and ( device_values.vlan200_v4 is not defined ) %}
                    {% set vlan200_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".1.11" %}
                {% elif device_values.vlan200_v4 is defined %}
                    {% set vlan200_v4 = device_values.vlan200_v4 %}
                {% else %}
                    {% set vlan200_v4 = "vlan200_v4 NOT DEFINED" %}
                {% endif %}
                {% if ( unit_id == "01a" ) and ( device_values.vlan200_v6 is not defined ) %}
                    {% set vlan200_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":200::1:10" %}
                    {% if device_values.vlan200fe80 is not defined %}
                        {% set vlan200fe80 = "fe80::200:1:10" %}
                    {% else %}
                        {% set vlan200fe80 = device_values.vlanfe80 %}
                    {% endif %}
                {% elif ( unit_id == "01b" ) and ( device_values.vlan200_v6 is not defined ) %}
                    {% set vlan200_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":200::1:11" %}
                    {% if device_values.vlan200fe80 is not defined %}
                        {% set vlan200fe80 = "fe80::200:1:11" %}
                    {% else %}
                        {% set vlan200fe80 = device_values.vlan200fe80 %}
                    {% endif %}
                {% elif ( device_values.vlan200_v6 is defined ) %}
                    {% set vlan200_v6 = device_values.vlan200_v6 %}
                    {% if device_values.vlan200fe80 is not defined %}
                        {% set vlan200fe80 = "fe80::200:" ~ vlan200_v6.rsplit('::')[1] %}
                    {% else %}
                        {% set vlan200fe80 = device_values.vlan200fe80 %}
                    {% endif %}
                {% else %}
                    {% set vlan200_v6 = "vlan200_v6 NOT DEFINED" %}
                    {% set vlan200fe80 = "vlan200fe80 NOT DEFINED" %}
                {% endif %}
replace:
system {
    host-name {{ inventory_hostname }};
    time-zone UTC;
    auto-snapshot;
    arp {
        aging-timer 10;
        passive-learning;
    }
    internet-options {
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset drop-all-tcp;
    }
    authentication-order [ tacplus password ];
    root-authentication {
        encrypted-password "$5$2xP3n7.z$DwO0p8kgodMLeWaxmsi1oA7NPvAqcqoKGhKouK1DsU/"; ## SECRET-DATA
    }
    tacplus-server {
        10.202.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
        {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    login {
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class RANCID-Class {
            idle-timeout 15;
            permissions [ view view-configuration ];
        }
        user crogers {
            full-name switchninja;
            uid 1337;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDS9O+DvCGv2i0SALUwdlK7PlwvlZugLY9VXH4SHMBh1tn4A8Kcn1fmpozdRQYU8ygbFr8NCEjCbFn2kHjYXmyr01lc+kn6OrBGW8wRtpsfnRk/N93GKYowhRIq86sZpgAeGo7UXkvZUrJOFlLPcCCdspBPX98aF7WSRTWv6S7/kFCXKunpRy+NlRTmwUDS09mkevxNU4kvkyFSYyz+Se55D0xOHaZyCFREUKjY1kGxjVo3dcdp2PiQqrrAwzhtZD+AP8OxOu+l+heCEDD0W0g68dk3+BhdOmny2F7AQmv3cXKu+xBUjmDT6R5Qdgpv7zvfbihIE3lPaBHzJxFjFJAeBXM6JPxpbilLtJ7mlRVkZoW5NahiaPsTtaB/sPSQNm5yYrAUzvQzipwPV6I/fKFkqhW2dgu+U/Hb1X+vSFcqD0UsEVJqee4QQopyp7b8EBMB3W2ZXKqsDeUMSR0X0WtrMcUlGStQsSTxbg9Uy07WvdzLmaRGm2r8WjGwXLsz46Exb/uEZwjGmlbOporVi8262FZAtfFLb2/Jl9jhkM+d6guliEDJqk8bd5J+0wmnYsehUCCitM+B4WG+xtY6jZK5ig75kHoo/bU/9rzmfUolP3CCSR0EudKnFPh4+0Bty1Qskkcfzg2hZq+fVHDmqeb0Od7sYkKyFiHBWrgxvSR2wQ== crogers@fastlane"; ## SECRET-DATA
            }
        }
        user ansible {
            uid 2002;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBTVCLDfgt01MMJDPY32AHCNO2wFudG4T7JWQccGzHhZDjYGbK4Nw1taT6q1sCNf3eeW9MVJX8U802g39sgLiUCZ1AHHSItvjA/ezaAY45347/PG8xztEOU5BR6QaSAlk7WNLSSDh76NeF3lKmuuZjNhYKfo/hDAj8Z6JnytSV3TGxBhulNLrKQ5BLoUXnrvaVAOrOAgEMM6Qn+EqXXSEZ4LVH7T0Pth1KAgel8UHVWdHRnL/tUd6aKSD8MJx7UgtrBK1wqmTqzQdzjVZSpI7WvchQTvuhvF3iMTeeNW1RPU0W/kSX0g9JHcPS/ySj5xCkZKSFMFQvkFogP4cKN5iV kylemc@ironwood"; ## SECRET-DATA
            }
        }
        user kylemc {
            uid 2004;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOmi9gGUoW7cf396aT1PvjxICGMqyTMVArIOCwqYIfgxTZGtKVc9y9kZJICNq6i1vQcbZtMYntbJNYEMa/wKISy/Gdig1YLeCR+9x982/579YtbJthnOebjXZF+lBmXKTvzbbemj0/e5YMC7ASTCPB34wB7rzCecS0J298gK7UNXIedoAksMYLeAwXxmmMLmgDgXaQFVO29jarPRii5HWFk8jcotFbKvHKwi9lu5R5yaKAyPV5PJ0OUrveQXBKOogRD1yQZjUh+CJvdNnDd6zzBGEH+5nT4Am1ZEbHZt4iGLHVjSdZsPQzzZaxb+zIBk82qDMpFd38Hl1OB6kUnieUBDppnP+ztZx/ccB7Ijs8EzM6hVW6RzVhFZJrOyNiWnu0gXJwlt6LO9pAxEs/1KPSq6fsb5lpSZv5s24Tu6Ig/IMLRK/HQYHnQqwQSBLepor0Lur3yJc7JYA3AiwEbturtJXw096qn1JK82mOGi/Y8gTZBon+tNXwPfYK7H2GK4E= kylemc@ironwood-new"; ## SECRET-DATA
            }
        }
        user rancid {
            full-name "RANCID template for remote access";
            uid 2001;
            class RANCID-Class;
        }
        user remote {
            full-name "TACACS+ template for remote access";
            uid 2000;
            class super-user;
        }
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 2;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        archive size 10m files 10;
        user * {
            any emergency;
        }
        host 10.202.253.11 {
            any any;
        }
        file alarmd {
            daemon any;
            match-strings alarmd;
        }
        file ddos_protection {
            any any;
            match-strings DDOS_PROTOCOL_VIOLATION;
        }
        file rpd {
            any any;
            match-strings [ RPD_OSPF_ bgp_ ];
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        time-format year millisecond;
        source-address {{ management_v4 }};
    }
    ddos-protection {
        protocols {
            arp {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
            ndpv6 {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
        }
    }
    ntp {
        server 10.202.253.5;
        server 172.22.253.5;
        server 172.23.253.5;
    }
}
{% if ( platform == "qfx10k" ) %}
replace:
chassis {
    fpc 0 {
        pic 0 {
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_values.speed_100g is defined ) and ( port_values.speed_100g == true ) %}
            port {{ port_name.split('/')[2] }} {
                speed 100g;
            }
        {% endif %}
    {% endfor %}
        }
    }
    aggregated-devices {
        ethernet {
            device-count 100;
        }
    }
}
{% endif %}
replace:
interfaces {
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_values.lacp is defined ) and ( port_values.sniffer is not defined ) %}
    {{ port_name }} {
        description "{{ port_values.descr }}";
        traps;
        ether-options {
            802.3ad {{ port_values.lacp }};
        }
    }
        {% elif ( port_values.vlans is defined ) and ( port_values.sniffer is not defined ) %}
            {% set vlan_list = port_values.vlans | string()  %}
            {% set vlan_tuples = vlan_list.split(' ') %}
    {{ port_name }} {
        traps;
        mtu 9216;
            {% if port_name is match("ae*") %}
                {% set admin_key = port_name.split('e')[1] %}
        esi {
            auto-derive {
                lacp;
            }
            all-active;
        }
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
                system-id {{ device_values.lacp_systemid }};
                admin-key {{ admin_key }};
            }
        }
            {% endif %}
        unit 0 {
            description "{{ port_values.descr }}";
            family ethernet-switching {
            {% if ( vlan_tuples[1] is defined ) or ( port_values.trunk is defined ) %}
                interface-mode trunk;
                vlan {
                    members [ {% for foo in vlan_tuples %}v{{ foo }} {% endfor %}];
                }
            }
            {% else %}
                interface-mode access;
                vlan {
                    members v{{ port_values.vlans }};
                }
            }
            {% endif %}
        }
    }
        {% elif ( port_values.local_ip is defined ) and ( port_values.local_ip6 is defined ) %}
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            description "{{ port_values.descr }}";
            family inet {
                address {{ port_values.local_ip }};
            }
            family inet6 {
                address {{ port_values.local_ip6 }};
            }
        }
    }
        {% elif ( port_values.sniffer is defined ) %}
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            family ethernet-switching;
        }
    }
        {% elif ( port_values.local_ip is defined ) and ( port_values.local_ip6 is not defined ) %}
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            description "{{ port_values.descr }}";
            family inet {
                address {{ port_values.local_ip }};
            }
        }
    }
        {% elif ( port_values.local_ip6 is defined ) and ( port_values.local_ip is not defined ) %} 
    {{ port_name }} {
        traps;
        mtu 9216;
        unit 0 {
            description "{{ port_values.descr }}";
            family inet6 {
                address {{ port_values.local_ip6 }};
            }
        }
    }
        {% else %}
    {{ port_name }} IS NOT RECOGNISED
        {% endif %}
    {% endfor %}
{% endif %}
    em0 {
        description "Management to {{ hub_name }}-net-obr-001";
        unit 0 {
            family inet {
                address {{ management_v4 }}/24;
            }
            family inet6 {
                address {{ management_v6 }}/64 {
                    preferred;
                }
                address {{ management_fe80 }}/64;
            }
        }
    }
    irb {
        mtu 9216;
        unit 200 {
            proxy-macip-advertisement;
            virtual-gateway-accept-data;
            description "Vlan 200 - {{ hub_name | upper }} Internal Backbone and Transit";
            family inet {
                mtu 9000;
                address {{ vlan200_v4 }}/23 {
                    virtual-gateway-address {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.1.254;
                }
            }
            family inet6 {
                mtu 9000;
                nd6-stale-time 600;
                address {{ vlan200_v6 }}/64 {
                    preferred;
                    virtual-gateway-address {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:200::1:254;
                }
                address {{ vlan200fe80 }}/64;
            }
            virtual-gateway-v4-mac 02:01:01:01:01:01;
            virtual-gateway-v6-mac 02:01:01:01:01:01;
        }
{% for vlan_id,vlan_values in device_values.transits.items() %}
        unit {{ vlan_id }} {
            description "Vlan {{ vlan_id }} - {{ vlan_values.descr }}";
            family inet {
                address {{ vlan_values.v4local }};
            }
            family inet6 {
                address {{ vlan_values.v6local }} {
                    preferred;
                }
    {% set final_tuple = vlan_values.v6local.rsplit(':',1) %}
                address fe80::{{ vlan_id }}:{{ final_tuple[1] }};
            }
        }
{% endfor %}
{% if hub_values.user_vlans is defined %}
{% for vlan_id,vlan_values in hub_values.user_vlans.items() %}
        unit {{ vlan_id }} {
            description "Vlan {{ vlan_id }} - {{ hub_name | upper }} {{ vlan_values.descr }}";
            proxy-macip-advertisement;
            virtual-gateway-access-data;
            family inet {
                mtu 9000;
    {% set v4gateway = vlan_values.v4network | ipmath(1) %}
    {% set v4netmask = vlan_values.v4network.split('/') %}
    {% if unit_id == "01a" %}
        {% set address = vlan_values.v4network | ipmath(2) %}
                address {{ address }}/{{ v4netmask[1] }} {
    {% elif unit_id == "01b" %}
        {% set address = vlan_values.v4network | ipmath(3) %}
                address {{ address }}/{{ v4netmask[1] }} {
    {% endif %}
                    virtual-gateway-address {{ v4gateway }};
                }
            }
            family inet6 {
                mtu 9000
                nd6-stale-time 600;
    {% set v6gateway = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vlan_id ~ "::1" %}
    {% if unit_id == "01a" %}
        {% set address = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vlan_id ~ "::2" %}
                address {{ address }}/64 {
    {% elif unit_id == "01b" %}
        {% set address = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vlan_id ~ "::3" %}
                address {{ address }}/64 {
    {% endif %}
                    virtual-gateway-address {{ v6gateway }};
                }
            }
            virtual-gateway-v4-mac 02:01:01:01:01:01;
            virtual-gateway-v6-mac 02:01:01:01:01:01;
        }
{% endfor %}
{% endif %}
    }
    lo0 {
        unit 0 {
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128;
            }
        }
        unit 1 {
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128;
            }
        }
    }
}
replace:
snmp {
    name {{ device_name }};
    description "AN: {{ asset }}";
    location {{ hub_name | upper }};
    contact "Network Engineering <neteng@sample.com>";
    community open_sesame {
        authorization read-only;
        clients {
            10.202.253.0/24;
            172.22.253.0/24;
            172.21.253.0/24;
            172.23.253.0/24;
            172.22.222.0/24;
            172.27.253.0/24;
        }
    }
    trap-options {
        source-address {{ management_v4 }}; 
    }
    trap-group open_sesame {
        version v2; 
        categories {
            authentication;
            chassis;
            link;
            remote-operations;
            routing;
            startup;
            vrrp-events;
            configuration;
            services;
        }
        targets {
            {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11;
        }
    }
}
{% if ( platform == "qfx5k" ) %}
{{ lookup('template', 'common/junos/QFX_forwarding-options.j2') }}
{% endif %}
replace:
policy-options {
{% for peer_name,bgp_values in device_values.external_peers.items() %}
    {% if bgp_values.imports[0] is defined %}
    prefix-list IMPORTS_prefix-list_{{ peer_name }} {
        {% for foo in bgp_values.imports %}
        {{ foo }};
        {% endfor %}
    }
    {% endif %}
    {% if bgp_values.imports6[0] is defined %}
    prefix-list IMPORTS6_prefix-list_{{ peer_name }} {
        {% for foo in bgp_values.imports6 %}
        {{ foo }};
        {% endfor %}
    }
    {% endif %}
    {% if bgp_values.exports[0] is defined %}
    prefix-list EXPORTS_prefix-list_{{ peer_name }} {
        {% for foo in bgp_values.exports %}
        {{ foo }};
        {% endfor %}
    }
    {% endif %}
    {% if bgp_values.exports6[0] is defined %}
    prefix-list EXPORTS6_prefix-list_{{ peer_name }} {
        {% for foo in bgp_values.exports6 %}
        {{ foo }};
        {% endfor %}
    }
    {% endif %}
{% endfor %}
{% for site_name,site_values in remote_site.items() %}
    prefix-list SITE_prefix-list_{{ site_name }} {
    {% for foo in site_values.ipv4networks %}
        {{ foo }};
    {% endfor %}
    }
{% endfor %}
{% for peer_name,bgp_values in device_values.external_peers.items() %}
    policy-statement {{ peer_name }}_to_{{ device_name }}_import {
    {% if bgp_values.imports[0] is defined %}
        term inet_permits {
            from {
                family inet;
                prefix-list IMPORTS_prefix-list_{{ peer_name }};
            }
            then accept;
        }
    {% endif %}
    {% if bgp_values.imports6[0] is defined %}
        term inet6_permits {
            from {
                family inet6;
                prefix-list IMPORTS6_prefix-list_{{ peer_name }};
            }
            then accept;
        }
    {% endif %}
        term deny {
            then reject;
        }
    }
{% endfor %}
{% for peer_name,bgp_values in device_values.external_peers.items() %}
    policy-statement {{ device_name }}_to_{{ peer_name }}_export {
    {% if bgp_values.exports[0] is defined %}
        term inet_permits {
            from {
                family inet;
                prefix-list EXPORTS_prefix-list_{{ peer_name }};
            }
            then accept;
        }
    {% endif %}
    {% if bgp_values.exports6[0] is defined %}
        term inet6_permits {
            from {
                family inet6;
                prefix-list EXPORTS6_prefix-list_{{ peer_name }};
            }
            then accept;
        }
    {% endif %}
        term deny {
            then reject;
        }
    }
{% endfor %}
    policy-statement ecmp_policy {
        then {
            load-balance per-packet;
        }
    }
    policy-statement icr_export {
{% if device_values.external_peers is defined %}
        term inet_ebgp_peers {
            from {
                protocol bgp;
                family inet;
                neighbor [ {% for bgp_name,bgp_values in device_values.external_peers.items() %}{% for foo in bgp_values.ip %}{{ foo }}{% endfor %} {% endfor %} ];
            }
            then {
                next-hop self;
                accept;
            }
        }
        term inet6_ebgp_peers {
            from {
                protocol bgp;
                family inet6;
                neighbor [ {% for bgp_name,bgp_values in device_values.external_peers.items()%}{% if bgp_values.ip6 is defined %}{% for foo in bgp_values.ip6 %}{{ foo }}{% endfor %}{% endif %} {% endfor %} ];
            }
            then {
                next-hop self;
                accept;
            }
        }
        term inet_supernet {
            from {
                family inet;
                route-filter {{ hub_values.rfc1918_supernet }} exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term inet6_supernet {
            from {
                family inet6;
                route-filter {{ hub_values.v6_supernet }} exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term default_permit {
            from protocol bgp;
            then {
                next-hop self;
                accept;
            }
        }
    }
{% endif %}
}
replace:
routing-instances {
    {{ hub_name }}-default {
        instance-type vrf;
        interface irb.200;
        interface lo0.1;
{% if hub_values.user_vlans is defined %}
{% for vlan_id,vlan_values in hub_values.user_vlans.items() %}
        interface irb.{{ vlan_id }};
{% endfor %}
{% endif %}
{% for vlan_id,vlan_values in device_values.transits.items() %}
        interface irb.{{ vlan_id }};
{% endfor %}
        route-distinguisher {{ loopback_v4 }}:100;
        vrf-target target:{{ hub_values.vxlan_asn }}L:1111;
        vrf-table-label;
        routing-options {
            rib {{ hub_name }}-default.inet6.0 {
                static {
                    /* nail up for ibgp advertisement */
                    route {{ hub_values.v6_supernet }} {
                        discard;
                        preference 250;
                    }
                }
                multipath;
            }
            static {
                /* nail up for ibgp advertisement */
                route {{ hub_values.rfc1918_supernet }} {
                    discard;
                    preference 250;
                }
            }
            multipath;
            router-id {{ loopback_v4 }};
            autonomous-system {{ hub_values.asn }};
            auto-export;
            aggregate {
                defaults {
                    discard;
                }
            }
        }
        protocols {
            bgp {
{% for peer_name,bgp_values in device_values.external_peers.items() %}
                group {{ peer_name }} {
                    description "{{ bgp_values.descr }}";
                    type external;
                    preference 20;
                    local-address {{ bgp_values.lip }};
                    log-updown;
                    import {{ peer_name }}_to_{{ device_name }}_import;
                    hold-time 30;
                    family inet {
                        unicast;
                    }
                    export {{ device_name }}_to_{{ peer_name }}_export;
                    local-as {{ hub_values.asn }};
                    peer-as {{ bgp_values.asn }};
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
    {% if bgp_values.ip is defined %}
                    neighbor {{ bgp_values.ip }} {
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        local-address {{ bgp_values.lip }};
                    }
    {% endif %}
    {% if bgp_values.ip6 is defined %}
                    neighbor {{ bgp_values.ip6 }} {
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        local-address {{ bgp_values.lip6 }};
                    }
    {% endif %}
                }
{% endfor %}
                group INTERNAL_CORE {
                    description "{{ hub_name | upper }} internal core router iBGP4 peering group";
                    type internal;
                    hold-time 30;
                    log-updown;
                    peer-as {{ hub_values.asn }};
                    local-as {{ hub_values.asn }};
                    export icr_export;
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for icr_name,icr_values in hub_values.spines.items() %}
    {% if device_name != icr_name %}
                    neighbor {{ icr_values.ip }} {
                        description "{{ icr_name }}:inet4ibgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                    }
                    neighbor {{ icr_values.ip6 }} {
                        description "{{ icr_name }}:inet6ibgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                    }
                }
    {% endif %}
{% endfor %}
                group VPNS {
                    description "{{ hub_name | upper }} site to site vpn router iBGP4 peering group";
                    type internal;
                    hold-time 30;
                    log-updown;
                    peer-as {{ hub_values.asn }};
                    local-as {{ hub_values.asn }};
                    export icr_export;
{% for icr_name,icr_values in hub_values.spines.items() %}
    {% if device_name == icr_name %}
                    cluster {{ icr_values.cluster }};
    {% endif %}
{% endfor %}
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for vpn_name,vpn_values in hub_values.vpn.items() %}
                    neighbor {{ vpn_values.ip }} {
                        description "{{ vpn_name }}:inet4ibgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
                    neighbor {{ vpn_values.ip6 }} {
                        description "{{ vpn_name }}:inet6ibgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
{% endfor %}
                }
                group INTERNAL_FIREWALLS {
                    description "{{ hub_name | upper }} internal firewall iBGP4 peering group";
                    type internal;
                    hold-time 30;
                    log-updown;
                    peer-as {{ hub_values.asn }};
                    local-as {{ hub_values.asn }};
                    export icr_export;
{% for icr_name,icr_values in hub_values.spines.items() %}
    {% if device_name == icr_name %}
                    cluster {{ icr_values.cluster }}; 
    {% endif %}
{% endfor %}
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for ifw_name,ifw_values in hub_values.ifw.items() %}
                    neighbor {{ ifw_values.ip }} {
                        description "{{ ifw_name }}:inet4ibgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
                    neighbor {{ ifw_values.ip6 }} {
                        description "{{ ifw_name }}:inet6ibgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
{% endfor %}
                }
                group EXTERNAL_FIREWALLS {
                    description "{{ hub_name | upper }} external firewall iBGP4 peering group";
                    type internal;
                    hold-time 30;
                    log-updown;
                    peer-as {{ hub_values.asn }};
                    local-as {{ hub_values.asn }};
                    export icr_export;
{% for icr_name,icr_values in hub_values.spines.items() %}
    {% if device_name == icr_name %}
                    cluster {{ icr_values.cluster }}; 
    {% endif %}
{% endfor %}
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for efw_name,efw_values in hub_values.efw.items() %}
                    neighbor {{ efw_values.ip }} {
                        description "{{ efw_name }}:inet4bgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
                    neighbor {{ efw_values.ip6 }} {
                        description "{{ efw_name }}:inet6bgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
{% endfor %}
                }
                group OUT-OF-BAND_ROUTERS {
                    description "{{ hub_name | upper }} out-of-band router iBGP4 peering group";
                    type internal;
                    hold-time 30;
                    log-updown;
                    peer-as {{ hub_values.asn }};
                    local-as {{ hub_values.asn }};
                    export icr_export;
{% for icr_name,icr_values in hub_values.spines.items() %}
    {% if device_name == icr_name %}
                    cluster {{ icr_values.cluster }}; 
    {% endif %}
{% endfor %}
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for obr_name,obr_values in hub_values.obr.items() %}
                    neighbor {{ obr_values.ip }} {
                        description "{{ obr_name }}:inet4bgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
                    neighbor {{ obr_values.ip6 }} {
                        description "{{ obr_name }}:inet6bgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
{% endfor %}
                }
                group INTERNAL_GATEWAYS {
                    description "{{ hub_name | upper }} internal gateway iBGP4 peering group";
                    type internal;
                    hold-time 30;
                    log-updown;
                    peer-as {{ hub_values.asn }};
                    local-as {{ hub_values.asn }};
                    export icr_export;
{% for icr_name,icr_values in hub_values.spines.items() %}
    {% if device_name == icr_name %}
                    cluster {{ icr_values.cluster }}; 
    {% endif %}
{% endfor %}
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for igw_name,igw_values in hub_values.igw.items() %}
                    neighbor {{ igw_values.ip }} {
                        description "{{ igw_name }}:inet4bgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
                    neighbor {{ igw_values.ip6 }} {
                        description "{{ igw_name }}:inet4bgp6";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
{% endfor %}
                }
                group CLOUD_FIREWALLS {
                    description "{{ hub_name | upper }} cloud firewall iBGP4 peering group";
                    type internal;
                    hold-time 30;
                    log-updown;
                    peer-as {{ hub_values.asn }};
                    local-as {{ hub_values.asn }};
                    export icr_export;
{% for icr_name,icr_values in hub_values.spines.items() %}
    {% if device_name == icr_name %}
                    cluster {{ icr_values.cluster }}; 
    {% endif %}
{% endfor %}
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    } 
{% for cfw_name,cfw_values in hub_values.cfw.items() %}
                    neighbor {{ cfw_values.ip }} {
                        description "{{ cfw_name }}:inet4bgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
                    neighbor {{ cfw_values.ip6 }} {
                        description "{{ cfw_name }}:inet6bgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
{% endfor %}
                }
                group CLIENT_VPN {
                    description "{{ hub_name | upper }} client vpn iBGP4 peering group";
                    type internal;
                    hold-time 30;
                    log-updown;
                    peer-as {{ hub_values.asn }};
                    local-as {{ hub_values.asn }};
                    export icr_export;
{% for icr_name,icr_values in hub_values.spines.items() %}
    {% if device_name == icr_name %}
                    cluster {{ icr_values.cluster }};
    {% endif %}
{% endfor %}
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for asa_name,asa_values in hub_values.asa.items() %}
                    neighbor {{ asa_values.ip }} {
                        description "{{ asa_name }}:inet4bgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
    {% if asa_values.ip6 is defined %}
                    neighbor {{ asa_values.ip6 }} {
                        description "{{ asa_name }}:inet6bgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }    
                            }    
                        }
                    }
    {% endif %}
{% endfor %}
                }
            }
            ospf {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface irb.200 {
{% if unit_id == "01a" %}
                        priority 210;
{% elif unit_id == "01b" %}
                        priority 200;
{% endif %}
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                    interface lo0.1 {
                        passive;
                    }
                }
            }
            ospf3 {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface irb.200 {
{% if unit_id == "01a" %}
                        priority 200;
{% elif unit_id == "01b" %}
                        priority 210;
{% endif %}
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                    interface lo0.1 {
                        passive;
                    }
                }
            }
        }
    }
}
replace:
routing-options {
    router-id {{ loopback_v4 }};
    rib inet6.0 {
        static {
            route ::0/0 {
                qualified-next-hop {{ manage_def_v6 }} {
                   interface em0.0;
                }
                retain;
            }
        }
    }
    static {
        route 0.0.0.0/0 {
            qualified-next-hop {{ manage_def_v4 }} {
                interface em0.0
            }
            retain;
        }
    }
    autonomous-system {{ hub_values.vxlan_asn }};
    forwarding-table {
        export ecmp_policy;
        ecmp-fast-reroute;
        chained-composite-next-hop {
            ingress {
                evpn;
            }
        }
    }
}
replace:
protocols {
    router-advertisement {
        interface all;
    }
    bgp {
        group VXLAN_LEAF {
            type internal;
            local-address {{ loopback_v4 }};
            family evpn {
                signaling;
            }
{% for spine_name,spine_values in hub_values.spines.items() %}
    {% if spine_name == device_name %}
            cluster {{ spine_values.cluster }};
    {% endif %}
{% endfor %}
            multipath;
            bfd-liveness-detection {
                minimum-interval 1000;
                multiplier 3;
                session-mode automatic;
            }
{% for leaf_name,leaf_values in hub_values.leafs.items() %}
            neighbor {{ leaf_values.ip }} {
                description "{{ leaf_name }}:evpnbgp4";
            }
{% endfor %}
        }
        group VXLAN_SPINE {
            type internal;
            local-address {{ loopback_v4 }};
            family evpn {
                signaling;
            }
            multipath;
            bfd-liveness-detection {
                minimum-interval 1000;
                multiplier 3;
            }
{% for spine_name,spine_values in hub_values.spines.items() %}
    {% if spine_name != device_name %}
            neighbor {{ spine_values.ip }} {
                description "{{ spine_name }}:evpnbgp4";
            }
    {% endif %}
{% endfor %}
        }
    }
    ospf {
        reference-bandwidth 1g;
        area 0.0.0.0 {
            interface lo0.0 {
                passive;
            }
{% for port_name,port_values in device_values.ports.items() %}
            interface {{ port_name }}.0 {
                bfd-liveness-detection {
                    minimum-interval 1000;
                    multiplier 3;
                }
            }
{% endfor %}
        }
    }
    evpn {
        encapsulation vxlan;
        default-gateway no-gateway-community;
        extended-vni-list all;
    }
    lldp {
        management-address {{ management_v4 }};
{{ lookup('template','common/junos/lldp.j2') }}
    }
    sflow {
        agent-id {{ management_v4 }};
        sample-rate {
            ingress 100;
            egress 100;
        }
        source-ip {{ management_v4 }};
        collector {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            udp-port 2000;
        }
{% if device_values.ports is defined %}
    {% for port_name,port_values in device_values.ports.items() %}
        {% if ( port_name is match("xe-") ) or ( port_name is match("ge-") ) or ( port_name is match("et-") ) %}
        interfaces {{ port_name }};
        {% endif %}
    {% endfor %}
{% endif %}
    }
}
replace:
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{ loopback_v4 }}:1;
    vrf-target {
        target:{{ hub_values.vxlan_asn }}L:1111;
        auto;
    }
}
replace:
vlans {
    /* -------------- */
    /* end user vlans */
    /* -------------- */
{% if hub_values.user_vlans is defined %}
{% for vlan_name,vlan_values in hub_values.user_vlans.items() %}
    /* {{ vlan_values.v4network }} - {{ vlan_values.descr }} */
    v{{ vlan_name }} {
        vlan-id {{ vlan_name }};
        l3-interface irb.{{ vlan_name }};
        vxlan {
            vni {{ vlan_name }}000;
        }
    }
{% endfor %}
{% endif %}
    /* -------------------------- */
    /* upstream network providers */
    /* -------------------------- */
{% for isps,isp_values in hub_values.isps.items() %}
    {% if isp_values.asn is defined %}
    v{{ isp_values.vlan }} {
        vlan-id {{ isp_values.vlan }};
        vxlan {
            vni {{ isp_values.vlan }}000;
        }
    }
    {% else %}
    v{{ isp_values.vlan }} {
        vlan-id {{ isp_values.vlan }};
        vxlan {
            vni {{ isp_values.vlan }}000;
        }
    }
    {% endif %}
{% endfor %}
    /* ------------- */
    /* edge networks */
    /* ------------- */
    /* {{ hub_values.v19prefix_v4 }} - EGW to ECR Transit */
    v19 {
        vlan-id 19;
        vxlan {
            vni 19000;
        }
    }
    /* {{ hub_values.v20prefix_v4 }} - ECR to Services Transit */
    v20 {
        vlan-id 20;
        vxlan {
            vni 20000;
        }
    }
    /* {{ hub_values.v21prefix_v4 }} - ECR to Services Transit */
    v21 {
        vlan-id 21;
        vxlan {
            vni 21000;
        }
    }
{% for vpc_name,vpc_values in vpc.items() %}
    {% if vpc_values.site == hub_name %}
        {% if vpc_values.cloud_upstreams is defined %}
    /* --------------- */
    /* cloud upstreams */
    /* --------------- */
            {% for peer_name,peer_values in vpc_values.cloud_upstreams.items() %}
    /* {{ peer_values.descr }} */
    v{{ peer_values.vlan }} {
        vlan-id {{ peer_values.vlan }};
        vxlan {
            vni {{ peer_values.vlan }}000;
        }
    }
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
    /* ---------------- */
    /* transit networks */
    /* ---------------- */
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.0.0/23 - Internal Backbone and Transit */
    v200 {
        vlan-id 200;
        l3-interface irb.200;
        vxlan {
            vni 200000;
        }
    }
{% for transit_vlan,transit_values in hub_values.transit_vlans.items() %}
    /* {{ transit_values.descr }} */
    v{{ transit_vlan }} {
        vlan-id {{ transit_vlan }};
        {% for device_transit,device_transit_values in device_values.transits.items() %}
            {% if device_transit == transit_vlan %}
        l3-interface irb.{{ transit_vlan }};
            {% endif %}
        {% endfor %}
        vxlan {
            vni {{ transit_vlan }}000;
        }
    }   
{% endfor %}
    /* IGW to CFW inside peering interface */
    v1298 {
        vlan-id 1298;
        vxlan {
            vni 1298000;
        }
    }
    /* CFW to IGW outside peering interface */
    v1299 {
        vlan-id 1299;
        vxlan {
            vni 1299000;
        }
    }
    /* ---------------- */
    /* utility networks */
    /* ---------------- */
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.2248.0/22 - ILO */
    v2248 {
        vlan-id 2248;
        vxlan {
            vni 2248000;
        }
    }
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.252.0/24 - Environmentals */
    v2252 {
        vlan-id 2252;
        vxlan {
            vni 2252000;
        }
    }
    /* {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.0/24 - Network Management */
    v2253 {
        vlan-id 2253;
        vxlan {
            vni 2253000;
        }
    }
}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

