#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% set asn = hub_values.asn %}
                {% set vrf_suffix = "-default" %}
                {% set mgmt_vlan = "2253" %}
                {% if device_values.model is not defined %}
                    {% set model = "srx1500" %}
                {% else %}
                    {% set model = device_values.model %}
                {% endif %}
            {# asset tag logic, kinda silly but this could be a useful field to actually track #}
                {% if device_values.asset_0 is not defined %}
                    {% set asset_0 = "I'm too lazy to define my asset variable!" %}
                {% else %}
                    {% set asset_0 = device_values.asset_0 %}
                {% endif %}
                {% if device_values.asset_1 is not defined %}
                    {% set asset_1 = "I'm too lazy to define my asset variable!" %}
                {% else %}
                    {% set asset_1 = device_values.asset_1 %}
                {% endif %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set v6supernet = hub_values.v6_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set v6tuple_list = v6supernet.split(':') %}
                {% set cluster_id = device_name.split('-')[3] %}
                {% if ( device_values.a_management_v4 is defined ) %}
                    {% set a_management_v4 = device_values.a_management_v4 %}
                {% elif ( device_values.a_management_v4 is not defined ) and ( cluster_id == "001" ) %}
                    {% set a_management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.42" %}
                {% else %}
                    {% set a_management_v4 = "a_management_v4 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.b_management_v4 is defined ) %}
                    {% set b_management_v4 = device_values.b_management_v4 %}
                {% elif ( device_values.b_management_v4 is not defined ) and ( cluster_id == "001" ) %}
                    {% set b_management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.43" %}
                {% else %}
                    {% set b_management_v4 = "b_management_v4 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.a_management_v6 is defined ) %}
                    {% set a_management_v6 = device_values.a_management_v6 %}
                    {% set a_management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ a_management_v6.split('::')[1] %}
                {% elif ( device_values.a_management_v6 is not defined ) and ( cluster_id == "001" ) %}
                    {% set a_management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::42" %}
                    {% set a_management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ a_management_v6.split('::')[1] %}
                {% else %}
                    {% set a_management_v6 = "a_management_v6 NOT DEFINED" %}
                    {% set a_management_fe80 = "a_management_fe80 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.b_management_v6 is defined ) %}
                    {% set b_management_v6 = device_values.b_management_v6 %}
                    {% set b_management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ b_management_v6.split('::')[1] %}
                {% elif ( device_values.b_management_v6 is not defined ) and ( cluster_id == "001" ) %}
                    {% set b_management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::43" %}
                    {% set b_management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ b_management_v6.split('::')[1] %}
                {% else %}
                    {% set b_management_v6 = "b_management_v6 NOT DEFINED" %}
                    {% set b_management_fe80 = "b_management_fe80 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.v4loopback_addr is not defined ) and ( cluster_id == "001" ) %}
                    {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.41" %}
                {% elif ( device_values.v4loopback_addr is defined ) %}
                    {% set loopback_v4 = device_values.v4loopback_addr %}
                {% else %}
                    {% set loopback_v4 = "loopback_v4 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.v6loopback_addr is not defined ) and ( cluster_id == "001" ) %}
                    {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::41" %}
                {% elif ( device_values.v6loopback_addr is defined ) %}
                    {% set loopback_v6 = device_values.v6loopback_addr %}
                {% else %}
                    {% set loopback_v6 = "loopback_v6 NOT DEFINED" %}
                {% endif %}
                {% if ( device_values.netflow_exporter is not defined ) and ( cluster_id == "001" ) %}
                    {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.44" %}
                {% elif ( device_values.netflow_exporter is defined ) %}
                    {% set netflow = device_values.netflow_exporter %}
                {% else %}
                    {% set netflow = "netflow NOT DEFINED" %}
                {% endif %}
                {% if device_values.management_default_v4 is not defined %}
                    {% set manage_def_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.1" %}
                {% else %}
                    {% set manage_def_v4 = device_values.management_default_v4 %}
                {% endif %}
                {% if device_values.management_default_v6 is not defined %}
                    {% set manage_def_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::1" %}
                {% else %}
                    {% set manage_def_v6 = device_values.management_default_v6 %}
                {% endif %}
            {# calculate the ibgp cluster address #}
                {% if device_values.ibgp_cluster is defined %}
                    {% set ibgp_cluster = device_values.ibgp_cluster %}
                {% elif ( device_values.ibgp_cluster is not defined ) and ( cluster_id == "001" ) %}
                    {% set ibgp_cluster = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.40" %}
                {% else %}
                    {% set ibgp_cluster = "ibgp_cluster NOT DEFINED" %}
                {% endif %}
replace:
groups {
    node0 {
        system {
{% set hostname = inventory_hostname.rsplit('-0')[0] %}
            host-name {{ hostname }}-01a;
            tacplus-server {
    {% if hub_name == "west1" %}
                172.21.253.11 source-address {{ a_management_v4 }};
    {% else %}
                {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 source-address {{ a_management_v4 }};
    {% endif %}
                10.202.253.11 source-address {{ a_management_v4 }};
            }
            accounting {
                destination {
                    tacplus {
                        server {
    {% if hub_name == "west1" %}
                            172.21.253.11 source-address {{ a_management_v4 }};
    {% else %}
                            {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 source-address {{ a_management_v4 }};
    {% endif %}
                            10.202.253.11 source-address {{ a_management_v4 }};
                        }
                    }
                }
            }
            syslog {
                source-address {{ a_management_v4 }};
            }
        }
        interfaces {
            fxp0 {
                description "Management Interface";
                unit 0 {
                    description "Management Interface";
                    family inet {
                        address {{ a_management_v4 }}/24;
                    }
                    family inet6 {
                        address {{ a_management_v6 }}/64 {
                            preferred;
                        }
                        address {{ a_management_fe80 }}/64;
                    }
                }
            }
        }
        snmp {
            /* node0 asset tag */
            description "AN:{{ asset_0 }}";
            trap-options {
                source-address {{ a_management_v4 }};
            }
        }
    }
    node1 {
        system {
{% set hostname = inventory_hostname.rsplit('-0')[0] %}
            host-name {{ hostname }}-01b;
            tacplus-server {
    {% if hub_name == "west1" %}
                172.21.253.11 source-address {{ b_management_v4 }};
    {% else %}
                {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 source-address {{ b_management_v4 }};
    {% endif %}
                10.202.253.11 source-address {{ b_management_v4 }};
            }
            accounting {
                destination {
                    tacplus {
                        server {
    {% if hub_name == "west1" %}
                            172.21.253.11 source-address {{ b_management_v4 }};
    {% else %}
                            {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 source-address {{ b_management_v4 }};
    {% endif %}
                            10.202.253.11 source-address {{ b_management_v4 }};
                        }
                    }
                }
            }
            syslog {
                source-address {{ b_management_v4 }};
            }
        }
        interfaces {
            fxp0 {
                description "Management Interface";
                unit 0 {
                    description "Management Interface";
                    family inet {
                        address {{ b_management_v4 }}/24;
                    }
                    family inet6 {
                        address {{ b_management_v6 }}/64 {
                            preferred;
                        }
                        address {{ b_management_fe80 }}/64;
                    }
                }
            }
        }
        snmp {
            /* node1 asset tag */
            description "AN:{{ asset_1 }}";
            trap-options {
                source-address {{ b_management_v4 }};
            }
        }
    }
}
replace:
apply-groups "${node}";
replace:
system {
    login {
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class RANCID-Class {
            idle-timeout 15;
            permissions [ view view-configuration ];
        }
        user admin {
            full-name "Backdoor Admin Account";
            uid 1000;
            class super-user;
            authentication {
                encrypted-password "$5$2xP3n7.z$DwO0p8kgodMLeWaxmsi1oA7NPvAqcqoKGhKouK1DsU/"; ## SECRET-DATA
            }
        }
        user ansible {
            uid 2002;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBTVCLDfgt01MMJDPY32AHCNO2wFudG4T7JWQccGzHhZDjYGbK4Nw1taT6q1sCNf3eeW9MVJX8U802g39sgLiUCZ1AHHSItvjA/ezaAY45347/PG8xztEOU5BR6QaSAlk7WNLSSDh76NeF3lKmuuZjNhYKfo/hDAj8Z6JnytSV3TGxBhulNLrKQ5BLoUXnrvaVAOrOAgEMM6Qn+EqXXSEZ4LVH7T0Pth1KAgel8UHVWdHRnL/tUd6aKSD8MJx7UgtrBK1wqmTqzQdzjVZSpI7WvchQTvuhvF3iMTeeNW1RPU0W/kSX0g9JHcPS/ySj5xCkZKSFMFQvkFogP4cKN5iV kylemc@ironwood"; ## SECRET-DATA
            }
        }
        user crogers {
            full-name switchninja;
            uid 1337;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDS9O+DvCGv2i0SALUwdlK7PlwvlZugLY9VXH4SHMBh1tn4A8Kcn1fmpozdRQYU8ygbFr8NCEjCbFn2kHjYXmyr01lc+kn6OrBGW8wRtpsfnRk/N93GKYowhRIq86sZpgAeGo7UXkvZUrJOFlLPcCCdspBPX98aF7WSRTWv6S7/kFCXKunpRy+NlRTmwUDS09mkevxNU4kvkyFSYyz+Se55D0xOHaZyCFREUKjY1kGxjVo3dcdp2PiQqrrAwzhtZD+AP8OxOu+l+heCEDD0W0g68dk3+BhdOmny2F7AQmv3cXKu+xBUjmDT6R5Qdgpv7zvfbihIE3lPaBHzJxFjFJAeBXM6JPxpbilLtJ7mlRVkZoW5NahiaPsTtaB/sPSQNm5yYrAUzvQzipwPV6I/fKFkqhW2dgu+U/Hb1X+vSFcqD0UsEVJqee4QQopyp7b8EBMB3W2ZXKqsDeUMSR0X0WtrMcUlGStQsSTxbg9Uy07WvdzLmaRGm2r8WjGwXLsz46Exb/uEZwjGmlbOporVi8262FZAtfFLb2/Jl9jhkM+d6guliEDJqk8bd5J+0wmnYsehUCCitM+B4WG+xtY6jZK5ig75kHoo/bU/9rzmfUolP3CCSR0EudKnFPh4+0Bty1Qskkcfzg2hZq+fVHDmqeb0Od7sYkKyFiHBWrgxvSR2wQ== crogers@fastlane"; ## SECRET-DATA
            }
        }
        user kylemc {
            uid 2004;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOmi9gGUoW7cf396aT1PvjxICGMqyTMVArIOCwqYIfgxTZGtKVc9y9kZJICNq6i1vQcbZtMYntbJNYEMa/wKISy/Gdig1YLeCR+9x982/579YtbJthnOebjXZF+lBmXKTvzbbemj0/e5YMC7ASTCPB34wB7rzCecS0J298gK7UNXIedoAksMYLeAwXxmmMLmgDgXaQFVO29jarPRii5HWFk8jcotFbKvHKwi9lu5R5yaKAyPV5PJ0OUrveQXBKOogRD1yQZjUh+CJvdNnDd6zzBGEH+5nT4Am1ZEbHZt4iGLHVjSdZsPQzzZaxb+zIBk82qDMpFd38Hl1OB6kUnieUBDppnP+ztZx/ccB7Ijs8EzM6hVW6RzVhFZJrOyNiWnu0gXJwlt6LO9pAxEs/1KPSq6fsb5lpSZv5s24Tu6Ig/IMLRK/HQYHnQqwQSBLepor0Lur3yJc7JYA3AiwEbturtJXw096qn1JK82mOGi/Y8gTZBon+tNXwPfYK7H2GK4E= kylemc@ironwood-new"; ## SECRET-DATA
            }
        }
        user rancid {
            full-name "RANCID template for remote access";
            uid 2001;
            class RANCID-Class;
        }
        user remote {
            full-name "TACACS+ template for remote access";
            uid 2000;
            class super-user;
        }
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
    }
    root-authentication {
        encrypted-password "$5$hpNE3kb2$YI82sHv6QS0.u.ogLjW56VPUVpz1m6vCuGQlKT64bm9"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 3;
        }
        netconf {
            ssh;
        }
    }
    auto-snapshot;
    time-zone UTC;
    arp {
        aging-timer 10;
        passive-learning;
    }
    backup-router {{ manage_def_v4 }} destination 0.0.0.0/0;
    inet6-backup-router {{ manage_def_v6 }} destination ::0/0;
    internet-options {
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset drop-all-tcp;
    }
    authentication-order [ tacplus password];
    tacplus-server {
    {% if hub_name == "west1" %}
        172.21.253.11 {
            secret "$9$Y24DkfT36/t4aBREhvMs24ajqfT3pBRfT6ApOSy"; ## SECRET-DATA
            timeout 1;
        }
    {% else %}
        {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            secret "$9$Y24DkfT36/t4aBREhvMs24ajqfT3pBRfT6ApOSy"; ## SECRET-DATA
            timeout 1;
        }
    {% endif %}
        10.202.253.11 {
            secret "$9$dBwaUk.5Qz6wYt0OByr-VwYJDk.5/t0k.Qn/AIR"; ## SECRET-DATA
            timeout 1;
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    syslog {
        archive size 10m files 10;
        user * {
            any emergency;
        }
        host 10.202.253.11 {
            any any;
        }
        /* log alarmd messages to its own file */
        file alarmd {
            daemon any;
            match-strings alarmd;
        }
        /* log messages tripping any control plane DDOS protections */
        file ddos_protection {
            any any;
            match-strings DDOS_PROTOCOL_VIOLATION;
        }
        /* log routing events for bgp and ospf */
        file rpd {
            any any;
            match-strings [ RPD_OSPF_ bgp_ ];
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        time-format year millisecond;
    }
    ntp {
        server 10.202.253.5;
        server 172.22.253.5;
        server 172.23.253.5;
    }
}
replace:
chassis {
    aggregated-devices {
        ethernet {
            device-count 3;
        }
    }
    cluster {
        control-link-recovery;
        reth-count 3;
        heartbeat-interval 1000;
        heartbeat-threshold 3;
        redundancy-group 1 {
            node 0 priority 110;
            node 1 priority 1;
            hold-down-interval 300;
            inactive: interface-monitor {
                xe-0/0/18 weight 255;
                xe-0/0/19 weight 255;
                xe-7/0/19 weight 255;
                xe-7/0/18 weight 255;
                xe-0/0/16 weight 255;
                xe-0/0/17 weight 255;
                xe-7/0/16 weight 255;
                xe-7/0/17 weight 255;
            }
        }
        redundancy-group 0 {
            node 0 priority 110;
            node 1 priority 1;
        }
    }
}
replace:
services {
    flow-monitoring {
        version9 {
            template v4 {
                flow-active-timeout 60;
                flow-inactive-timeout 60;
                template-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                option-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                ipv4-template;
            }
            template v6 {
                flow-active-timeout 60;
                flow-inactive-timeout 60;
                template-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                option-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                ipv6-template;
            }
        }
    }
}
replace:
security {
    log {
        utc-timestamp;
        format syslog;
        source-address {{ netflow }};
        transport {
            protocol udp;
        }
        stream se3-net-uti-001 {
            format syslog;
            category all;
            host {
                10.202.253.9;
                port 514;
            }
        }
    }
    address-book {
        global {
{# iterate through the vpcs and only match ones that have this device defined as cfw #}
{% set ns = namespace(count=1) %}
{% for vpc_name,vpc_values in vpc.items() %}
    {% set cfw_name = vpc_values.cfw[0].split('-v')[0] %}
    {% if ( vpc_values.site == hub_name ) and ( cfw_name == device_name )  %}
        {% for policy_name,policy_values in vpc_values.in2out_policies.items() %}
            {% if policy_values.src[0] != 'any' %}
                {% for foo in policy_values.src %}
            address in2out_RULE{{ ns.count }}--{{ foo }} {{ foo }};
                {% endfor %}
            {% endif %}
            {% if policy_values.dst[0] != 'any' %}
                {% for foo in policy_values.dst %}
            address in2out_RULE{{ ns.count }}--{{ foo }} {{ foo }};
                {% endfor %}
            {% endif %}
            {% set ns.count = ns.count + 1 %}
        {% endfor %}
        {% if vpc_values.out2in_policies is defined %}
        {% set ns = namespace(count=1) %}
        {% for policy_name,policy_values in vpc_values.out2in_policies.items() %}
            {% if policy_values.src[0] != 'any' %}
                {% for foo in policy_values.src %}
            address out2in_RULE{{ ns.count }}--{{ foo }} {{ foo }};
                {% endfor %}
            {% endif %}
            {% if policy_values.dst[0] != 'any' %}
                {% for foo in policy_values.dst %}
            address out2in_RULE{{ ns.count }}--{{ foo }} {{ foo }};
                {% endfor %}
            {% endif %}
            {% set ns.count = ns.count + 1 %}
        {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
        }
    }
    alg {
        dns disable;
        h323 disable;
        mgcp disable;
        msrpc disable;
        sunrpc disable;
        rtsp disable;
        sccp disable;
        sip disable;
        sql disable;
        talk disable;
        tftp disable;
        pptp disable;
    }
    forwarding-options {
        family {
            inet6 {
                mode flow-based;
            }
        }
    }
    flow {
        allow-embedded-icmp;
        tcp-mss {
            all-tcp {
                mss 1350;
            }
        }
        tcp-session {
            maximum-window 1M;
        }
    }
    policies {
{% set ns = namespace(count=1) %}
{% for vpc_name,vpc_values in vpc.items() %}
    {% set cfw_name = vpc_values.cfw[0].split('-v')[0] %}
    {% if ( vpc_values.site == hub_name ) and ( cfw_name == device_name )  %}
        from-zone {{ hub_name}}{{ vrf_suffix }} to-zone {{ vpc_name }} {
        {% for policy_name,policy_values in vpc_values.in2out_policies.items() %}
            {% if policy_values.comment is defined %}
            /* {{ policy_values.comment }} */
            {% endif %}
            policy in2out_RULE{{ ns.count }}--{{ policy_name }} {
                match {
                    source-address [ {% for foo in policy_values.src %}{% if foo ==  "any" %}{{ foo }} {% else %}in2out_RULE{{ ns.count }}--{{ foo }} {% endif %}{% endfor %}];
                    destination-address [ {% for foo in policy_values.dst %}{% if foo == "any" %}{{ foo }} {% else %}in2out_RULE{{ ns.count}}--{{ foo }} {% endif %}{% endfor %}];
                    application [ {% for foo in policy_values.protocols %}{{ foo }} {% endfor %}];
                }
                then {
                    {{ policy_values.action }} {
                        tcp-options {
                            window-scale;
                        }
                    }
                }
            }
        {% set ns.count = ns.count + 1 %}
        {% endfor %}
        }
        {% set ns = namespace(count=1) %}
        {% if vpc_values.out2in_policies is defined %}
        /* security policies for VPC TO ON-PREM */
        from-zone {{ vpc_name }} to-zone {{ hub_name }}{{ vrf_suffix }} {
            {% for policy_name,policy_values in vpc_values.out2in_policies.items() %}
                {% if policy_values.comment is defined %}
            /* {{ policy_values.comment }} */
                {% endif %}
            policy out2in_RULE{{ ns.count }}--{{ policy_name }} {
                match {
                    source-address [ {% for foo in policy_values.src %}{% if foo == "any" %}{{ foo }} {% else %}out2in_RULE{{ ns.count }}--{{ foo }} {% endif %}{% endfor %}];
                    destination-address [ {% for foo in policy_values.dst %}{% if foo == "any" %}{{ foo }} {% else %}out2in_RULE{{ ns.count }}--{{ foo }} {% endif %}{% endfor %}];
                    application [ {% for foo in policy_values.protocols %}{{ foo }} {% endfor %}];
                }
                then {
                    {{ policy_values.action }} {
                        tcp-options {
                            window-scale;
                        }
                    }
                }
            }
        {% set ns.count = ns.count + 1 %}
            {% endfor %}
            /* log default deny */
            policy default_deny {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    deny;
                    log {
                        session-init;
                    }
                }
            }
        }
        {% endif %}
    {% endif %}
{% endfor %}
    }
    zones {
        /* cloud facing security zones */
{% for vpc_name,vpc_values in vpc.items() %}
    {% set cfw_name = vpc_values.cfw[0].split('-v')[0] %}
    {% if ( vpc_values.site == hub_name ) and ( cfw_name == device_name )  %}
        security-zone {{ vpc_name }} {
            tcp-rst;
            host-inbound-traffic {
                system-services {
                    ping;
                    traceroute;
                }
                protocols {
                    bfd;
                    bgp;
                }
            }
            interfaces {
                reth1.{{ vpc_values.upstream_vlan }};
            }
        }
    {% endif %}
{% endfor %}
        /* on-prem facing security zone */
        security-zone {{ hub_name }}{{ vrf_suffix }} {
            tcp-rst;
            host-inbound-traffic {
                system-services {
                    ping;
                    snmp;
                    traceroute;
                }
                protocols {
                    bfd;
                    bgp;
                }
            }
            interfaces {
{% for vpc_name,vpc_values in vpc.items() %}
    {% set cfw_name = vpc_values.cfw[0].split('-v')[0] %}
    {% if ( vpc_values.site == hub_name ) and ( cfw_name == device_name )  %}
                reth1.{{ vpc_values.downstream_vlan }};
    {% endif %}
{% endfor %}
            }
        }
        /* security zone for the netflow interface */
        security-zone {{ hub_name }}-jflow {
            tcp-rst;
            host-inbound-traffic {
                system-services {
                    ping;
                    snmp;
                }
            }
            interfaces {
                reth1.2253;
            }
        }
    }
}
replace:
interfaces {
{% if model == "srx1500" %}
    xe-0/0/16 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/17 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/18 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/19 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/16 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/17 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/18 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/19 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    fab0 {
        fabric-options {
            member-interfaces {
                ge-0/0/11;
            }
        }
    }
    fab1 {
        fabric-options {
            member-interfaces {
                ge-7/0/11;
            }
        }
    }
{% else %}
    xe-0/0/0 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/3 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/4 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/7 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/0 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/3 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/4 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/7 {
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            redundant-parent reth1;
        }
    }
{% endif %}
    lo0 {
        unit 0 {
{% for vpc_name,vpc_values in vpc.items() %}
    {% set cfw_name = vpc_values.cfw[0].split('-v')[0] %}
    {% if ( vpc_values.site == hub_name ) and ( cfw_name == device_name )  %}
            description "loopback for {{ vpc_name }} virtual-router";
    {% endif %}
{% endfor %}
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128;
            }
        }
    }
    reth1 {
        description "LAG bundle to {{ hub_name }}-net-nlf";
        traps;
        vlan-tagging;
        mtu 9192;
        redundant-ether-options {
            redundancy-group 1;
            lacp {
                active;
                periodic fast;
            }
        }
        unit 2253 {
            description "netflow and syslog export interface";
            vlan-id 2253;
            family inet {
                mtu 1500;
                address {{ netflow }}/24;
            }
        }
{% for vpc_name,vpc_values in vpc.items() %}
    {% set cfw_name = vpc_values.cfw[0].split('-v')[0] %}
    {% if ( vpc_values.site == hub_name ) and ( cfw_name == device_name )  %}
        unit {{ vpc_values.upstream_vlan }} {
            vlan-id {{ vpc_values.upstream_vlan }};
            description "Vlan {{ vpc_values.upstream_vlan }} - VPC facing transit network";
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
{# calculate interface addresses for uplink vlans #}
        {% set networkv4 = vpc_values.upstream_vlan_v4.rsplit('/')[0] %}
        {% set networkv6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vpc_values.upstream_vlan ~ "::" %}
        {% set tuples_v4 = networkv4.split('.') %}
        {% set last_tuple_v4 = tuples_v4[3] | int %}
        {# this is a little brittle, it assumes all transit vlans are /27... they really should be though. #}
        {% set host = last_tuple_v4 + 30 %}
                address {{ tuples_v4[0] }}.{{ tuples_v4[1] }}.{{ tuples_v4[2] }}.{{ host }}/27;
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ networkv6 }}ffff/64 {
                    preferred;
                }
            }
        }
        unit {{ vpc_values.downstream_vlan }} {
            vlan-id {{ vpc_values.downstream_vlan }};
            description "Vlan {{ vpc_values.downstream_vlan }} - on-prem facing transit network";
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
{# calculate interface addresses for downlink vlans #}
        {% set networkv4 = vpc_values.downstream_vlan_v4.rsplit('/')[0] %}
        {% set networkv6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vpc_values.downstream_vlan ~ "::" %}
        {% set tuples_v4 = networkv4.split('.') %}
        {% set last_tuple_v4 = tuples_v4[3] | int %}
        {# this is a little brittle, it assumes all transit vlans are /27... they really should be though. #}
        {% set host = last_tuple_v4 + 30 %}
                address {{ tuples_v4[0] }}.{{ tuples_v4[1] }}.{{ tuples_v4[2] }}.{{ host }}/27;
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ networkv6 }}ffff/64 {
                    preferred;
                }
            }
        }
    {% endif %}
{% endfor %}
    }
}
replace:
snmp {
    name {{ inventory_hostname }};
    location {{ hub_name }};
    contact "Network Engineering <neteng@sample.com>";
    interface [ fxp0.0 reth1.2253 ];
    community open_sesame {
        authorization read-only;
        clients {
            10.202.253.0/24;
            172.23.253.0/24;
            172.22.253.0/23;
            172.22.222.0/24;
            172.21.253.0/24;
            172.27.253.0/24;
        }
{% for vpc_name,vpc_values in vpc.items() %}
    {% set cfw_name = vpc_values.cfw[0].split('-v')[0] %}
    {% if ( vpc_values.site == hub_name ) and ( cfw_name == device_name )  %}
        {% set cfw_name = vpc_values.cfw[0].split('-')[0] ~ "-" ~ vpc_values.cfw[0].split('-')[1] ~ "-" ~ vpc_values.cfw[0].split('-')[2] ~ "-" ~ vpc_values.cfw[0].split('-')[3] %}
        {% if cfw_name == device_name %}
        routing-instance {{ vpc_name }};
        {% endif %}
    {% endif %}
{% endfor %}
    }
    trap-group open_sesame {
        version v2;
        categories {
            authentication;
            chassis;
            link;
            routing;
            startup;
            configuration;
            services;
            chassis-cluster;
        }
        targets {
    {% if hub_name == "west1" %}
            172.21.253.11;
    {% else %}
            {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11;
    {% endif %}
        }
    }
    routing-instance-access;
}
replace:
forwarding-options {
    sampling {
        input {
            rate 100;
            max-packets-per-second 65535;
        }
        family inet {
            output {
                flow-server 172.22.253.73 {
                    port 2055;
                    autonomous-system-type origin;
                    no-local-dump;
                    source-address {{ netflow }};
                    version9 {
                        template {
                            v4;
                        }
                    }
                }
                inline-jflow {
                    source-address {{ netflow }};
                }
            }
        }
        family inet6 {
            output {
                flow-server 172.22.253.73 {
                    port 2055;
                    autonomous-system-type origin;
                    no-local-dump;
                    source-address {{ netflow }};
                    version9 {
                        template {
                            v6;
                        }
                    }
                }
                inline-jflow {
                    source-address {{ netflow }};
                }
            }
        }
    }
}
replace:
routing-options {
    router-id {{ loopback_v4 }};
    rib inet6.0 {
        static {
            route ::0/0 {
                qualified-next-hop {{ manage_def_v6 }} {
                    interface fxp0.0;
                }
                retain;
            }
        }
    }
    static {
        route 0.0.0.0/0 {
            qualified-next-hop {{ manage_def_v4 }} { 
                interface fxp0.0
            }
            retain;
        }
    }
    autonomous-system {{ asn }};
    forwarding-table {
        export ecmp_policy;
    }
}
replace:
policy-options {
    /* this is the policy for ecmp, it's actually per-flow, but juniper is silly */
    policy-statement ecmp_policy {
        then {
            load-balance per-packet;
        }
    }
{# creates upstream import policies #}
{% if device_values.upstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for egw_name in vpc_values.egw %}
                {% for peer_name,peer_values in device_values.upstream_peers.items() %}
                    {% if peer_name == egw_name %}
    /* policy to ACCEPT inet prefixes FROM VPC */
    policy-statement {{ peer_name }}_import-v4 {
                        {% if vpc_values.imports_v4 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.imports_v4 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if device_values.upstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for egw_name in vpc_values.egw %}
                {% for peer_name,peer_values in device_values.upstream_peers.items() %}
                    {% if peer_name == egw_name %}
    /* policy to ACCEPT inet6 prefixes FROM VPC */
    policy-statement {{ peer_name }}_import-v6 {
                        {% if vpc_values.imports_v6 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.imports_v6 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{# creates downstream import policies #}
{% if device_values.downstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for igw_name in vpc_values.igw %}
                {% for peer_name,peer_values in device_values.downstream_peers.items() %}
                    {% if peer_name == igw_name %}
    /* policy to ACCEPT inet prefixes FROM ON-PREM */
    policy-statement {{ peer_name }}_import-v4 {
                        {% if vpc_values.exports_v4 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.exports_v4 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if device_values.downstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for igw_name in vpc_values.igw %}
                {% for peer_name,peer_values in device_values.downstream_peers.items() %}
                    {% if peer_name == igw_name %}
    /* policy to ACCEPT inet prefixes FROM ON-PREM */
    policy-statement {{ peer_name }}_import-v6 {
                        {% if vpc_values.exports_v6 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.exports_v6 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{# creates upstream export policies #}
{% if device_values.upstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for egw_name in vpc_values.egw %}
                {% for peer_name,peer_values in device_values.upstream_peers.items() %}
                    {% if peer_name == egw_name %}
    /* policy to ADVERTISE inet prefixes TO VPC */
    policy-statement {{ peer_name }}_export-v4 {
                        {% if vpc_values.exports_v4 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.exports_v4 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then {
                next-hop self;
                accept;
            }
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if device_values.upstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for egw_name in vpc_values.egw %}
                {% for peer_name,peer_values in device_values.upstream_peers.items() %}
                    {% if peer_name == egw_name %}
    /* policy to ADVERTISE inet6 prefixes TO VPC */
    policy-statement {{ peer_name }}_export-v6 {
                        {% if vpc_values.exports_v6 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.exports_v6 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then {
                next-hop self;
                accept;
            }
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{# creates downstream export policies #}
{% if device_values.downstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for igw_name in vpc_values.igw %}
                {% for peer_name,peer_values in device_values.downstream_peers.items() %}
                    {% if peer_name == igw_name %}
    /* policy to ADVERTISE inet prefixes TO ON-PREM */
    policy-statement {{ peer_name }}_export-v4 {
                        {% if vpc_values.imports_v4 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.imports_v4 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then {
                next-hop self;
                accept;
            }
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if device_values.downstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for igw_name in vpc_values.igw %}
                {% for peer_name,peer_values in device_values.downstream_peers.items() %}
                    {% if peer_name == igw_name %}
    /* policy to ADVERTISE inet6 prefixes TO ON-PREM */
    policy-statement {{ peer_name }}_export-v6 {
                        {% if vpc_values.imports_v6 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.imports_v6 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then {
                next-hop self;
                accept;
            }
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
}
replace:
routing-instances {
{% set ns = namespace(count=0) %}
{% for vpc_name,vpc_values in vpc.items() %}
    {% set cfw_name = vpc_values.cfw[0].split('-v')[0] %}
    {% if ( vpc_values.site == hub_name ) and ( cfw_name == device_name )  %}
        {% set cfw_name = vpc_values.cfw[0].split('-')[0] ~ "-" ~ vpc_values.cfw[0].split('-')[1] ~ "-" ~ vpc_values.cfw[0].split('-')[2] ~ "-" ~ vpc_values.cfw[0].split('-')[3] %}
        {% if cfw_name == device_name %}
    {{ vpc_name }} {
        instance-type virtual-router;
        interface lo0.{{ ns.count }};
        {% set ns.count = ns.count + 1 %}
        interface reth1.{{ vpc_values.upstream_vlan }};
        interface reth1.{{ vpc_values.downstream_vlan }};
        routing-options {
            multipath;
            aggregate {
                defaults {
                    discard;
                }
            }
            router-id {{ loopback_v4 }};
            autonomous-system {{ asn }};
        }
        protocols {
            bgp {
            {% if device_values.upstream_peers is defined %}
                /* ------------------------------------------- */
                /* upstream peers to egw virtual-router of igw */
                /* ------------------------------------------- */
                {% for peer_name,peer_values in device_values.upstream_peers.items() %}
                group {{ peer_name }} {
                    description "{{ peer_name }} bgp peer group";
                    type internal;
                    preference 20;
                    log-updown;
                    hold-time 30;
                    multipath;
                    cluster {{ ibgp_cluster }};
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
                    neighbor {{ peer_values.ip }} {
        {% set networkv4 = vpc_values.upstream_vlan_v4.rsplit('/')[0] %}
        {% set tuples_v4 = networkv4.split('.') %}
        {% set last_tuple_v4 = tuples_v4[3] | int %}
        {# this is a little brittle, it assumes all transit vlans are /27... they really should be though. #}
        {% set host = last_tuple_v4 + 30 %}
                        local-address {{ tuples_v4[0] }}.{{ tuples_v4[1] }}.{{ tuples_v4[2] }}.{{ host }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        description "{{ peer_values.descr }}";
                        import {{ peer_name }}_import-v4;
                        export {{ peer_name }}_export-v4;
                    }
                    neighbor {{ peer_values.ip6 }} {
        {% set networkv6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vpc_values.upstream_vlan ~ "::" %}
                        local-address {{ networkv6 }}ffff;
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        description "{{ peer_values.descr }}";
                        import {{ peer_name }}_import-v6;
                        export {{ peer_name }}_export-v6;
                    }
                }
                {% endfor %}
            {% endif %}
            {% if device_values.downstream_peers is defined %}
                /* ----------------------- */
                /* downstream peers to igw */
                /* ----------------------- */
                {% for peer_name,peer_values in device_values.downstream_peers.items() %}
                group {{ peer_name }} {
                    description "{{ peer_name }}";
                    preference 20;
                    type internal;
                    log-updown;
                    hold-time 30;
                    multipath;
                    cluster {{ ibgp_cluster }};
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
                    neighbor {{ peer_values.ip }} {
        {% set networkv4 = vpc_values.downstream_vlan_v4.rsplit('/')[0] %}
        {% set tuples_v4 = networkv4.split('.') %}
        {% set last_tuple_v4 = tuples_v4[3] | int %}
        {# this is a little brittle, it assumes all transit vlans are /27... they really should be though. #}
        {% set host = last_tuple_v4 + 30 %}
                        local-address {{ tuples_v4[0] }}.{{ tuples_v4[1] }}.{{ tuples_v4[2] }}.{{ host }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        description "{{ peer_values.descr }}";
                        import {{ peer_name }}_import-v4;
                        export {{ peer_name }}_export-v4;
                    }
                    neighbor {{ peer_values.ip6 }} {
        {% set networkv6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vpc_values.downstream_vlan ~ "::" %}
                        local-address {{ networkv6 }}ffff;
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        description "{{ peer_values.descr }}";
                        import {{ peer_name }}_import-v6;
                        export {{ peer_name }}_export-v6;
                    }
                }
                {% endfor %}
            {% endif %}
            }
        }
    }
        {% endif %}
    {% endif %}
{% endfor %}
}
replace:
applications {
    application tcp_22 {
        protocol tcp;
        destination-port 22;
        inactivity-timeout 28800;
    }
    application tcp_636 {
        protocol tcp;
        destination-port 636;
    }
    application tcp_1433 {
        protocol tcp;
        destination-port 1433;
    }
    application tcp_8080 {
        protocol tcp;
        destination-port 8080;
    }
    application tcp_8089 {
        protocol tcp;
        destination-port 8089;
    }
    application tcp_8443 {
        protocol tcp;
        destination-port 8443;
    }
    application tcp_9997 {
        protocol tcp;
        destination-port 9997;
    }
    application tcp_9440 {
        protocol tcp;
        destination-port 9440;
    }
}

            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
