#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% set mgmt_vlan = "2253" %}
            {# asset tag logic, kinda silly but this could be a useful field to actually track #}
                {% if device_values.asset is not defined %}
                    {% set asset = "I'm too lazy to define my asset variable!" %}
                {% else %}
                    {% set asset = device_values.asset %}
                {% endif %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set v6supernet = hub_values.v6_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set v6tuple_list = v6supernet.split(':') %}
                {% set unit_id = device_name.split('-')[3] %}
                {% if device_values.vlan200_inet4 is defined %}
                    {% set vlan200_inet4 = device_values.vlan200_inet4 %}
                {% elif ( device_values.vlan200_inet4 is not defined ) and ( unit_id == "001" ) %}
                    {% set vlan200_inet4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".0.110"  %}
                {% elif ( device_values.vlan200_inet4 is not defined ) and ( unit_id == "002" ) %}
                    {% set vlan200_inet4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".0.111"  %}
                {% endif %}
                {% if device_values.vlan200_inet6 is defined %}
                    {% set vlan200_inet6 = device_values.vlan200_inet6 %}
                    {% if hub_name == "east1" %}
                        {% set vlan200_fe80 = "fe80:200::" ~  vlan200_inet6.rsplit('::')[1]  %}
                    {% else %}
                        {% set vlan200_fe80 = "fe80::200:" ~ vlan200_inet6.rsplit('::')[1]  %}
                    {% endif %}
                {% elif ( device_values.vlan200_inet6 is not defined ) and ( unit_id == "001" ) %}
                    {% set vlan200_inet6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":200::110" %}
                    {% if hub_name == "east1" %}
                        {% set vlan200_fe80 = "fe80:200::" ~ vlan200_inet6.rsplit('::')[1] %}
                    {% else %}
                        {% set vlan200_fe80 = "fe80::200:" ~ vlan200_inet6.rsplit('::')[1] %}
                    {% endif %}
                {% elif ( device_values.vlan200_inet6 is not defined ) and ( unit_id == "002" ) %}
                    {% set vlan200_inet6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":200::111" %}
                   {% if hub_name == "east1" %}
                        {% set vlan200_fe80 = "fe80:200::" ~ vlan200_inet6.rsplit('::')[1] %}
                    {% else %}
                        {% set vlan200_fe80 = "fe80::200:" ~ vlan200_inet6.rsplit('::')[1] %}
                    {% endif %}
                {% endif %}
                {% if device_values.management_v4 is not defined %}
                    {% if unit_id == "001" %}
                        {% set management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.210" %}
                    {% elif unit_id == "002" %}
                        {% set management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.211" %}
                    {% else %}
                        {% set management_v4 = "management_v4 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set management_v4 = device_values.management_v4 %}
                {% endif %}
                {% if device_values.management_v6 is not defined %}
                    {% if unit_id == "001" %}
                        {% set management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::210" %}
                        {% if hub_name == "east1" %}
                            {% set management_fe80 = "fe80:" ~ mgmt_vlan ~ "::" ~ management_v6.rsplit('::')[1] %}
                        {% else %}
                            {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                        {% endif %}
                    {% elif unit_id == "002" %}
                        {% set management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::211" %}
                        {% if hub_name == "east1" %}
                            {% set management_fe80 = "fe80:" ~ mgmt_vlan ~ "::" ~ management_v6.rsplit('::')[1] %}
                        {% else %}
                            {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                        {% endif %}
                    {% else %}
                        {% set management_v6 = "management_v6 NOT DEFINED" %}
                        {% set management_fe80 = "management_fe80 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set management_v6 = device_values.management_v6 %}
                    {% if hub_name == "east1" %}
                        {% set management_fe80 = "fe80:" ~ mgmt_vlan ~ "::" ~ management_v6.rsplit('::')[1] %}
                    {% else %}
                        {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                    {% endif %}
                {% endif %}
                {% if device_values.v4loopback_addr is not defined %}
                    {% if unit_id == "001" %}
                        {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.210" %}
                    {% elif unit_id == "002" %}
                        {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.211" %}
                    {% else %}
                        {% set loopback_v4 = "loopback_v4 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set loopback_v4 = device_values.v4loopback_addr %}
                {% endif %}
                {% if device_values.v6loopback_addr is not defined %}
                    {% if unit_id == "001" %}
                        {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::210" %}
                    {% elif unit_id == "002" %}
                        {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::211" %}
                    {% else %}
                        {% set loopback_v6 = "loopback_v6 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set loopback_v6 = device_values.v6loopback_addr %}
                {% endif %}
                {% if device_values.netflow_exporter is not defined %}
                    {% if unit_id == "001" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".0.110" %}
                    {% elif unit_id == "002" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".0.111" %}
                    {% else %}
                        {% set netflow = "netflow NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set netflow = device_values.netflow_exporter %}
                {% endif %}
                {% if hub_values.netflow_collector is not defined %}
                    {% set netflow_collector = "172.22.253.73" %}
                {% else %}
                    {% set netflow_collector = hub_values.netlfow_collector %}
                {% endif %}
                {% if device_values.management_default_v4 is not defined %}
                    {% set manage_def_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.1" %}
                {% else %}
                    {% set manage_def_v4 = device_values.management_default_v4 %}
                {% endif %}
                {% if device_values.management_default_v6 is not defined %}
                    {% set manage_def_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::1" %}
                {% else %}
                    {% set manage_def_v6 = device_values.management_default_v6 %}
                {% endif %}
            {# calculate the ibgp cluster address #}
                {% if device_values.ibgp_cluster is defined %}
                    {% set ibgp_cluster = device_values.ibgp_cluster %}
                {% elif ( device_values.ibgp_cluster is not defined ) %}
                    {% set ibgp_cluster = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.109" %}
                {% endif %}
replace:
system {
    host-name {{ inventory_hostname }};
    backup-router {{ manage_def_v4 }} destination 0.0.0.0/0;
    inet6-backup-router {{ manage_def_v6 }} destination ::0/0;
    auto-snapshot;
    time-zone UTC;
    arp {
        aging-timer 10;
        passive-learning;
    }
    internet-options {
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset drop-all-tcp;
    }
    authentication-order [ tacplus password ];
    root-authentication {
        encrypted-password "$5$2xP3n7.z$DwO0p8kgodMLeWaxmsi1oA7NPvAqcqoKGhKouK1DsU/"; ## SECRET-DATA
    }
    tacplus-server {
        10.202.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
        {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    login {
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class RANCID-Class {
            idle-timeout 15;
            permissions [ view view-configuration ];
        }
        user crogers {
            full-name switchninja;
            uid 1337;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDS9O+DvCGv2i0SALUwdlK7PlwvlZugLY9VXH4SHMBh1tn4A8Kcn1fmpozdRQYU8ygbFr8NCEjCbFn2kHjYXmyr01lc+kn6OrBGW8wRtpsfnRk/N93GKYowhRIq86sZpgAeGo7UXkvZUrJOFlLPcCCdspBPX98aF7WSRTWv6S7/kFCXKunpRy+NlRTmwUDS09mkevxNU4kvkyFSYyz+Se55D0xOHaZyCFREUKjY1kGxjVo3dcdp2PiQqrrAwzhtZD+AP8OxOu+l+heCEDD0W0g68dk3+BhdOmny2F7AQmv3cXKu+xBUjmDT6R5Qdgpv7zvfbihIE3lPaBHzJxFjFJAeBXM6JPxpbilLtJ7mlRVkZoW5NahiaPsTtaB/sPSQNm5yYrAUzvQzipwPV6I/fKFkqhW2dgu+U/Hb1X+vSFcqD0UsEVJqee4QQopyp7b8EBMB3W2ZXKqsDeUMSR0X0WtrMcUlGStQsSTxbg9Uy07WvdzLmaRGm2r8WjGwXLsz46Exb/uEZwjGmlbOporVi8262FZAtfFLb2/Jl9jhkM+d6guliEDJqk8bd5J+0wmnYsehUCCitM+B4WG+xtY6jZK5ig75kHoo/bU/9rzmfUolP3CCSR0EudKnFPh4+0Bty1Qskkcfzg2hZq+fVHDmqeb0Od7sYkKyFiHBWrgxvSR2wQ== crogers@fastlane"; ## SECRET-DATA
            }
        }
        user ansible {
            uid 2002;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBTVCLDfgt01MMJDPY32AHCNO2wFudG4T7JWQccGzHhZDjYGbK4Nw1taT6q1sCNf3eeW9MVJX8U802g39sgLiUCZ1AHHSItvjA/ezaAY45347/PG8xztEOU5BR6QaSAlk7WNLSSDh76NeF3lKmuuZjNhYKfo/hDAj8Z6JnytSV3TGxBhulNLrKQ5BLoUXnrvaVAOrOAgEMM6Qn+EqXXSEZ4LVH7T0Pth1KAgel8UHVWdHRnL/tUd6aKSD8MJx7UgtrBK1wqmTqzQdzjVZSpI7WvchQTvuhvF3iMTeeNW1RPU0W/kSX0g9JHcPS/ySj5xCkZKSFMFQvkFogP4cKN5iV kylemc@ironwood"; ## SECRET-DATA
            }
        }
        user kylemc {
            uid 2004;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOmi9gGUoW7cf396aT1PvjxICGMqyTMVArIOCwqYIfgxTZGtKVc9y9kZJICNq6i1vQcbZtMYntbJNYEMa/wKISy/Gdig1YLeCR+9x982/579YtbJthnOebjXZF+lBmXKTvzbbemj0/e5YMC7ASTCPB34wB7rzCecS0J298gK7UNXIedoAksMYLeAwXxmmMLmgDgXaQFVO29jarPRii5HWFk8jcotFbKvHKwi9lu5R5yaKAyPV5PJ0OUrveQXBKOogRD1yQZjUh+CJvdNnDd6zzBGEH+5nT4Am1ZEbHZt4iGLHVjSdZsPQzzZaxb+zIBk82qDMpFd38Hl1OB6kUnieUBDppnP+ztZx/ccB7Ijs8EzM6hVW6RzVhFZJrOyNiWnu0gXJwlt6LO9pAxEs/1KPSq6fsb5lpSZv5s24Tu6Ig/IMLRK/HQYHnQqwQSBLepor0Lur3yJc7JYA3AiwEbturtJXw096qn1JK82mOGi/Y8gTZBon+tNXwPfYK7H2GK4E= kylemc@ironwood-new"; ## SECRET-DATA
            }
        }
        user rancid {
            full-name "RANCID template for remote access";
            uid 2001;
            class RANCID-Class;
        }
        user remote {
            full-name "TACACS+ template for remote access";
            uid 2000;
            class super-user;
        }
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 2;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        archive size 10m files 10;
        user * {
            any emergency;
        }
        host 10.202.253.11 {
            any any;
        }
        file alarmd {
            daemon any;
            match-strings alarmd;
        }
        file ddos_protection {
            any any;
            match-strings DDOS_PROTOCOL_VIOLATION;
        }
        file rpd {
            any any;
            match-strings [ RPD_OSPF_ bgp_ ];
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        file kernel {
            kernel any;
        }
        time-format year millisecond;
        source-address {{ management_v4 }};
    }
    commit synchronize;
    ddos-protection {
        protocols {
            arp {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
            ndpv6 {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
        }
    }
    ntp {
        server 10.202.253.5;
        server 172.22.253.5;
        server 172.23.253.5;
    }
}
replace:
chassis {
    aggregated-devices {
        ethernet {
            device-count 2;
        }
    }
    afeb {
        slot 0 {
            sampling-instance sample-instance01;
            inline-services {
                flow-table-size {
                    ipv4-flow-table-size 7;
                    ipv6-flow-table-size 7;
                }
            }
        }
    }
    network-services ip;
}
replace:
services {
    flow-monitoring {
        version-ipfix {
            template v4 {
                flow-active-timeout 60;
                flow-inactive-timeout 60;
                template-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                option-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                ipv4-template;
            }
            template v6 {
                flow-active-timeout 60;
                flow-inactive-timeout 60;
                template-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                option-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                ipv6-template;
            }
        }
    }
}
replace:
interfaces {
{% if hub_name == "east1" %}
    xe-0/1/0 {
{% else %}
    xe-2/0/0 {
{% endif %}
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            802.3ad ae0;
        }
    }
{% if hub_name == "east1" %}
    xe-0/1/1 {
{% else %}
    xe-2/0/1 {
{% endif %}
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            802.3ad ae0;
        }
    }
{% if hub_name == "east1" %}
    xe-0/1/6 {
{% else %}
    xe-2/0/2 {
{% endif %}
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            802.3ad ae0;
        }
    }
{% if hub_name == "east1" %}
    xe-0/1/7 {
{% else %}
    xe-2/0/3 {
{% endif %}
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            802.3ad ae0;
        }
    }
    ae0 {
        description "LAG bundle to {{ hub_name }}-net-nlf";
        traps;
        vlan-tagging;
        mtu 16000;
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
            }
        }
        unit 200 {
            description "Vlan 200 - {{ hub_name | upper }} Internal Backbone and Transit";
            vlan-id 200;
            family inet {
                mtu 9000;
                sampling {
                    input;
                    output;
                }
                address {{ vlan200_inet4 }}/23;
            }
            family inet6 {
                mtu 9000;
                sampling {
                    input;
                    output;
                }
                address {{ vlan200_inet6 }}/64 {
                    preferred;
                }
                address {{ vlan200_fe80 }}/64;
            }
        }
{% for vpc_name,vpc_values in vpc.items() %}
    {% for igw_host in vpc_values.igw %}
    {% set igw_name = igw_host.split('-v')[0] %}
        {% if ( vpc_values.site == hub_name ) and ( igw_name == device_name )  %}
        unit {{ vpc_values.upstream_vlan }} {
            vlan-id {{ vpc_values.upstream_vlan }};
            description "Vlan {{ vpc_values.upstream_vlan }} - VPC facing transit network";
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
            {% set networkv4 = vpc_values.upstream_vlan_v4.rsplit('/')[0] %}
            {% set networkv6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vpc_values.upstream_vlan ~ "::" %}
            {% set tuples_v4 = networkv4.split('.') %}
            {% set last_tuple_v4 = tuples_v4[3] | int %}
            {% set host = last_tuple_v4 + ( unit_id | int ) %}
            {% set host6 = ( unit_id | int ) %} 
                address {{ tuples_v4[0] }}.{{ tuples_v4[1] }}.{{ tuples_v4[2] }}.{{ host }}/27;
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ networkv6 }}{{ host6 }}/64 {
                    preferred;
                }
            }
        }
        unit {{ vpc_values.downstream_vlan }} {
            vlan-id {{ vpc_values.downstream_vlan }};
            description "Vlan {{ vpc_values.downstream_vlan }} - on-prem facing transit network";
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
            {% set networkv4 = vpc_values.downstream_vlan_v4.rsplit('/')[0] %}
            {% set networkv6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vpc_values.downstream_vlan ~ "::" %}
            {% set tuples_v4 = networkv4.split('.') %}
            {% set last_tuple_v4 = tuples_v4[3] | int %}
            {% set host = last_tuple_v4 + ( unit_id | int ) %}
            {% set host6 = ( unit_id | int ) %}
                address {{ tuples_v4[0] }}.{{ tuples_v4[1] }}.{{ tuples_v4[2] }}.{{ host }}/27;
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ networkv6 }}{{ host6 }}/64 {
                    preferred;
                }
            }
        }
        {% endif %}
    {% endfor %}
{% endfor %}
{% for vpc_name,vpc_values in vpc.items() %}
    {% if vpc_values.site == hub_name %}
    {% if vpc_values.cloud_upstreams is defined %}
        {% for peer_name,peer_values in vpc_values.cloud_upstreams.items() %}
            {% if peer_values.igw == device_name %}
        unit {{ peer_values.vlan }} {
            description "Vlan {{ peer_values.vlan }} - {{ peer_values.descr }}";
            vlan-id {{ peer_values.vlan }};
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                {% if peer_values.lip is defined %}
                address {{ peer_values.lip }};
                {% else %}
                    {% set netmask = peer_values.ip.rsplit('/')[1] %}
                    {% set lip =  peer_values.ip | ipmath(1) %}
                address {{ lip }}/{{ netmask }};
                {% endif %}
            }
                {% if peer_values.ip6 is defined %}
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                    {% if peer_values.lip6 is defined %}
                        {% set lip6 = peer_values.lip6 %}
                address {{ lip6 }} {
                    {% else %}
                        {% set netmask = peer_values.ip6.rsplit('/')[1] %}
                        {% set lip6 = peer_values.ip6 | ipmath(1) %}
                address {{ lip6 }}/{{ netmask }} {
                    {% endif %}
                    preferred;
                }
                {% endif %}
        }
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endif %}
{% endfor %}
    }
    fxp0 {
        description "management interface";
        unit 0 {
            family inet {
                address {{ management_v4 }}/24;
            }
            family inet6 {
                address {{ management_v6 }}/64 {
                    preferred;
                }
                address {{ management_fe80 }}/64;
            }
        }
    }
    lo0 {
        description "loopback interfaces";
        unit 0 {
            description "loopback for {{ hub_name }}-default vrf";
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128;
            }
        }
{% for vpc_name,vpc_values in vpc.items() %}
    {% for egw_string in vpc_values.egw %}
        {% set egw = egw_string.split('-v')[0] %}
        {% if egw == device_name %}
        {% set ns = namespace(count=1) %}
        unit {{ ns.count }} {
            description "loopback for {{ vpc_name }} virtual-router";
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128;
            }
        }
        {% set ns.count = ns.count + 1 %}
        {% endif %}
    {% endfor %}
{% endfor %}
    }
}
replace:
snmp {
    name {{ inventory_hostname }};
    description "AN: {{ asset }}";
    location {{ hub_name  | upper }};
    contact "Network Engineering <neteng@sample.com>";
    interface [ fxp0.0 ae0.200 ];
    community open_sesame {
        authorization read-only;
        clients {
            10.202.253.0/24;
            172.22.253.0/24;
            172.22.222.0/24;
            172.21.253.0/24;
            172.23.253.0/24;
            172.27.253.0/24;
        }
        routing-instance {{ hub_name }}-default;
    }
    trap-options {
        source-address {{ management_v4 }};
    }
    trap-group open_sesame {
        version v2;
        categories{
            authentication;
            chassis;
            link;
            remote-operations;
            routing;
            startup;
            vrrp-events;
            configuration;
            services;
        }
        targets {
            10.202.253.11;
        }
    }
    routing-instance-access;
}
replace:
forwarding-options {
    sampling {
        instance {
            sample-instance01 {
                input {
                    rate 100;
                    max-packets-per-second 65535;
                }
                family inet {
                    output {
                        flow-server {{ netflow_collector }} {
                            port 2055;
                            autonomous-system-type origin;
                            no-local-dump;
                            source-address {{ netflow }};
                            version-ipfix {
                                template {
                                    v4;
                                }
                            }
                        }
                        inline-jflow {
                            source-address {{ netflow }};
                        }
                    }
                }
                family inet6 {
                    output {
                        flow-server {{ netflow_collector }} {
                            port 2055;
                            autonomous-system-type origin;
                            no-local-dump;
                            source-address {{ netflow }};
                            version-ipfix {
                                template {
                                    v6;
                                }
                            }
                        }
                        inline-jflow {
                            source-address {{ netflow }};
                        }
                    }
                }
            }
        }
    }
}
replace:
routing-options {
    router-id {{ loopback_v4 }};
    rib inet6.0 {
        static {
            route ::0/0 {
                qualified-next-hop {{ manage_def_v6 }} {
                    interface fxp0.0;
                }
                retain;
            }
        }
    }
    static {
        route 0.0.0.0/0 {
            qualified-next-hop {{ manage_def_v4 }} { 
                interface fxp0.0
            }
            retain;
        }
    }
    autonomous-system {{ hub_values.asn }};
    forwarding-table {
        export ecmp_policy;
    }
}
replace:
protocols {
    lldp {
        management-address {{ management_v4 }};
{{ lookup('template', 'common/junos/lldp.j2') }}
    }
}
replace:
policy-options {
    policy-statement ecmp_policy {
        then {
            load-balance per-packet;
        }
    }
{# creates upstream import policies #}
{% if device_values.upstream_peers is defined %}
    {% for vpc_name,vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for cfw_name in vpc_values.cfw %}
                {% for peer_name,peer_values in device_values.upstream_peers.items() %}
                    {% if peer_name == cfw_name %}
    /* prefixes to accept FROM upstream cfw being learned FROM upstream vpc, internal routing-instance */
    policy-statement {{ peer_name }}_import-v4 {
                        {% if vpc_values.imports_v4 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.imports_v4 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ peer_name }}_import-v6 {
                        {% if vpc_values.imports_v6 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.imports_v6 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{# creates downstream import policies #}
{% if device_values.downstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for cfw_name in vpc_values.cfw %}
                {% for peer_name,peer_values in device_values.downstream_peers.items() %}
                    {% if peer_name == cfw_name %}
    /* prefixes to accept FROM downstream cfw being learned FROM on-prem, external routing-instance */
    policy-statement {{ peer_name }}_import-v4 {
                        {% if vpc_values.exports_v4 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.exports_v4 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ peer_name }}_import-v6 {
                        {% if vpc_values.exports_v6 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.exports_v6 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{# creates upstream export policies #}
{% if device_values.upstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for cfw_name in vpc_values.cfw %}
                {% for peer_name,peer_values in device_values.upstream_peers.items() %}
                    {% if peer_name == cfw_name %}
    /* prefixes to advertise TO upstream cfw being learned FROM on-prem, internal routing-instance */
    policy-statement {{ peer_name }}_export-v4 {
                        {% if vpc_values.exports_v4 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.exports_v4 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ peer_name }}_export-v6 {
                        {% if vpc_values.exports_v6 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.exports_v6 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{# creates downstream export policies #}
{% if device_values.downstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for cfw_name in vpc_values.cfw %}
                {% for peer_name,peer_values in device_values.downstream_peers.items() %}
                    {% if peer_name == cfw_name %}
    /* prefixes to advertise TO downstream cfw being learned FROM upstream vpc, external routing-instance */
    policy-statement {{ peer_name }}_export-v4 {
                        {% if vpc_values.imports_v4 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.imports_v4 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ peer_name }}_export-v6 {
                        {% if vpc_values.imports_v6 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.imports_v6 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{# creates upstream import policies #}
{% if device_values.upstream_peers is defined %}
    {% for vpc_name, vpc_values in vpc.items() %}
        {% if vpc_values.site == hub_name %}
            {% for cfw_name in vpc_values.cfw %}
                {% for peer_name,peer_values in device_values.upstream_peers.items() %}
                    {% if peer_name == cfw_name %}
    /* prefixes to accept FROM upstream cfw being learned FROM upstream vpc, internal routing-instance */
    policy-statement {{ peer_name }}_import-v4 {
                        {% if vpc_values.imports_v4 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.imports_v4 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ peer_name }}_import-v6 {
                        {% if vpc_values.imports_v6 is defined %}
        term term1 {
            from {
                            {% for foo in vpc_values.imports_v6 %}
                route-filter {{ foo }} exact;
                            {% endfor %}
            }
            then accept;
        }
                        {% endif %}
        term default_deny {
            then reject;
        }
    }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{# this creates the import and export policies for the actual vpc peering #}
{% for vpc_name,vpc_values in vpc.items() %}
    {% if vpc_values.site == hub_name %}
    {% if vpc_values.cloud_upstreams is defined %}
       {% for peer_name,peer_values in vpc_values.cloud_upstreams.items() %}
            {% if peer_values.igw == device_name %}
    /* prefixes to accept FROM upstream vpc, external routing-instance */
    policy-statement {{ peer_name }}_import-v4 {
                {% if vpc_values.imports_v4 is defined %}
        term term1 {
            from {
                    {% for foo in vpc_values.imports_v4 %}
                route-filter {{ foo }} exact;
                    {% endfor %}
            }
            then accept;
        }
                {% endif %}
        term default_deny {
            then reject;
        }
    }
                {% if peer_values.ip6 is defined %}
    policy-statement {{ peer_name }}_import-v6 {
                    {% if vpc_values.imports_v6 is defined %}
        term term1 {
            from {
                        {% for foo in vpc_values.imports_v6 %}
                route-filter {{ foo }} exact;
                        {% endfor %}
            }
            then accept;
        }
                    {% endif %}
        term default_deny {
            then reject;
        }
    }
                {% endif %}
    /* prefixes to advertise TO upstream vpc */
    policy-statement {{ peer_name }}_export-v4 {
                {% if vpc_values.exports_v4 is defined %}
        term term1 {
            from {
                    {% for foo in vpc_values.exports_v4 %}
                route-filter {{ foo }} exact;
                    {% endfor %}
            }
            then accept;
        }
                {% endif %}
        term default_deny {
            then reject;
        }
    }
                {% if peer_values.ip6 is defined %}
    policy-statement {{ peer_name }}_export-v6 {
                    {% if vpc_values.exports_v6 is defined %}
        term term1 {
            from {
                        {% for foo in vpc_values.exports_v6 %}
                route-filter {{ foo }} exact;
                        {% endfor %}
            }
            then accept;
        }
                    {% endif %}
        term default_deny {
            then reject;
        }
    }
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endif %}
{% endfor %}
{# creates export policies for the icr #}
{% for vpc_name,vpc_values in vpc.items() %}
    {% if vpc_values.site == hub_name %}
    policy-statement icr_export-v4 {
        {% if vpc_values.imports_v4 is defined %}
        term vpc_prefixes {
            from {
            {% for foo in vpc_values.imports_v4 %}
                route-filter {{ foo }} exact;
            {% endfor %}
            }
            then accept;
        }
        {% endif %}
        term default_deny {
            then reject;
        }
    }
    policy-statement icr_export-v6 {
        {% if vpc_values.imports_v6 is defined %}
        term vpc_prefixes {
            from {
            {% for foo in vpc_values.imports_v6 %}
                route-filter {{ foo }} exact;
            {% endfor %}
            }
            then accept;
        }
        {% endif %}
        term default_deny {
            then reject;
        }
    }
    {% endif %}
{% endfor %}
}
replace:
routing-instances {
{% set ns = namespace(count=1) %}
{% for vpc_name,vpc_values in vpc.items() %}
    {% for igw_host in vpc_values.igw %}
    {% set igw_name = igw_host.split('-v')[0] %}
    {% if ( vpc_values.site == hub_name ) and ( igw_name == device_name ) %}
    {{ vpc_name }} {
        instance-type virtual-router;
        interface ae0.{{ vpc_values.upstream_vlan }};
        interface lo0.{{ ns.count }};
        {% set ns.count = ns.count + 1 %}
        routing-options {
            multipath;
            aggregate {
                defaults {
                    discard;
                }
            }
            router-id {{ loopback_v4 }};
            autonomous-system {{ hub_values.asn }};
        }
        protocols {
            bgp {
        {% if vpc_values.cloud_upstreams is defined %}
            {% for peer_name,peer_values in vpc_values.cloud_upstreams.items() %}
                {% if ( peer_values.igw == device_name ) %}
                /* ------------------------------ */
                /* cloud provider bgp peer groups */
                /* ------------------------------ */
                group {{ peer_name }} {
                    description "{{ peer_name }}";
                    preference 20;
                    peer-as {{ peer_values.asn }};
                    type external;
                    log-updown;
                    hold-time 30;
                    multipath;
                    {% if ( peer_values.ip is defined ) %}
                    neighbor {{ peer_values.ip | ipaddr('address') }} {
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        description "{{ peer_values.descr }}";
                        import {{ peer_name }}_import-v4;
                        export {{ peer_name }}_export-v4;
                        authentication-key {{ peer_values.key }};
                        {% if peer_values.lip is defined %}
                            {% set lip = peer_values.lip %}
                        {% else %}
                            {% set lip = peer_values.ip | ipmath(1) %}
                        {% endif %}
                        local-address {{ lip }};
                    }
                    {% endif %}
                    {% if ( peer_values.ip6 is defined ) %}
                    neighbor {{ peer_values.ip6 | ipaddr('address') }} {
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        description "{{ peer_values.descr }}";
                        import {{ peer_name }}_import-v6;
                        export {{ peer_name }}_export-v6;
                        authentication-key {{ peer_values.key }};
                        {% if peer_values.lip6 is defined %}
                            {% set lip6 = peer_values.lip6 %}
                        {% else %}
                            {% set lip6 = peer_values.ip6 | ipmath(1) %}
                        {% endif %}
                        local-address {{ lip6 }};
                    }
                    {% endif %}
                }
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if ( vpc_values.cfw is defined ) and ( device_values.downstream_peers is defined ) %}
                /* ----------------------------------------- */
                /* downstream cloud firewall bgp peer groups */
                /* ----------------------------------------- */
            {% for cfw1_name,peer_values in device_values.downstream_peers.items() %}
                {% for cfw2_name in vpc_values.cfw %}
                    {% if cfw1_name == cfw2_name %}
                group {{ cfw1_name }} {
                /* downstream peers to cfw */
                    description "{{ cfw1_name }}";
                    preference 20;
                    type internal;
                    log-updown;
                    hold-time 30;
                    multipath;
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
                    neighbor {{ peer_values.ip }} {
        {% set networkv4 = vpc_values.upstream_vlan_v4.rsplit('/')[0] %}
        {% set tuples_v4 = networkv4.split('.') %}
        {% set last_tuple_v4 = tuples_v4[3] | int %}
        {% set host = last_tuple_v4 + ( unit_id | int ) %}
        {% set host6 = ( unit_id | int ) %}
                        local-address {{ tuples_v4[0] }}.{{ tuples_v4[1] }}.{{ tuples_v4[2] }}.{{ host }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        description "{{ peer_values.descr }}";
                        import {{ cfw1_name }}_import-v4;
                        export {{ cfw1_name }}_export-v4;
                    }
                    neighbor {{ peer_values.ip6 }} {
        {% set networkv6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vpc_values.upstream_vlan ~ "::" %}
                        local-address {{ networkv6 }}{{ host6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        description "{{ peer_values.descr }}";
                        import {{ cfw1_name }}_import-v6;
                        export {{ cfw1_name }}_export-v6;
                    }
                }
            }
        }
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    }
    {% endif %}
    {% endfor %}
{% endfor %}
    {{ hub_name }}-default {
        instance-type virtual-router;
        interface ae0.200;
{% for vpc_name,vpc_values in vpc.items() %}
    {% for igw_string in vpc_values.igw %}
    {% set igw_name = igw_string.split('-v')[0] %}
    {% set interface = igw_string.split('-v')[1] %}
        {% if igw_name == device_name %}
        interface ae0.{{ interface }};
        {% endif %}
    {% endfor %}
{% endfor %}
        interface lo0.0;
        routing-options {
            multipath;
            router-id {{ loopback_v4 }};
            autonomous-system {{ hub_values.asn }};
            aggregate {
                defaults {
                    discard;
                }
            }
        }
        protocols {
            bgp {
{% if device_values.upstream_peers is defined %}
                /* --------------------------------------- */
                /* upstream cloud firewall bgp peer groups */
                /* --------------------------------------- */
    {% for peer_name,peer_values in device_values.upstream_peers.items() %}
                group {{ peer_name }} {
                    description "{{ peer_name }} bgp peer group";
                    type internal;
                    preference 20;
                    log-updown;
                    hold-time 30;
                    multipath;
                    cluster {{ ibgp_cluster }};
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
                    neighbor {{ peer_values.ip }} {
        {% for vpc_name,vpc_values in vpc.items() %}
            {% for cfw_string in vpc_values.cfw %}
                {% if cfw_string == peer_name %}
        {% set networkv4 = vpc_values.downstream_vlan_v4.rsplit('/')[0] %}
        {% set tuples_v4 = networkv4.split('.') %}
        {% set last_tuple_v4 = tuples_v4[3] | int %}
        {% set host = last_tuple_v4 + ( unit_id | int ) %}
        {% set host6 = ( unit_id | int ) %} 
                        local-address {{ tuples_v4[0] }}.{{ tuples_v4[1] }}.{{ tuples_v4[2] }}.{{ host }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        description "{{ peer_values.descr }}";
                        import {{ peer_name }}_import-v4;
                        export {{ peer_name }}_export-v4;
                    }
                    neighbor {{ peer_values.ip6 }} {
        {% set networkv6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ vpc_values.downstream_vlan ~ "::" %}
                        local-address {{ networkv6 }}{{ host6 }};
                {% endif %}
            {% endfor %}
        {% endfor %}
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        description "{{ peer_values.descr }}";
                        import {{ peer_name }}_import-v6;
                        export {{ peer_name }}_export-v6;
                    }
                }
    {% endfor %}
{% endif %}
                group INTERNAL_CORE {
                    description "bgp4 peering to internal core route reflectors";
                    type internal;
                    preference 20;
                    hold-time 30;
                    log-updown;
                    multipath;
                    cluster {{ ibgp_cluster }};
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for spine_name,spine_values in hub_values.spines.items() %}
                    neighbor {{ spine_values.ip }} {
                        description "{{ spine_name }}:inet4bgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        export icr_export-v4;
                    }
                    neighbor {{ spine_values.ip6 }} {
                        description "{{ spine_name }}:inet6bgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        export icr_export-v6;
                    }
{% endfor %}
                }
            }
            ospf {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface lo0.0 {
                        passive;
                    }
                    interface ae0.200 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                }
            }
            ospf3 {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface lo0.0 {
                        passive;
                    }
                    interface ae0.200 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                }
            }
        }
    }
}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
