#jinja2: lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
            {# asset tag logic, kinda silly but this could be a useful field to actually track #}
                {% if device_values.asset is not defined %}
                    {% set asset = "I'm too lazy to define my asset variable!" %}
                {% else %}
                    {% set asset = device_values.asset %}
                {% endif %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set vlan20v4 = hub_values.v20prefix_v4 %}
                {% set vlan21v4 = hub_values.v21prefix_v4 %}
                {% set v6supernet = hub_values.v6_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set v6tuple_list = v6supernet.split(':') %}
                {% set vlan20tuple_list = vlan20v4.split('.') %}
                {% set vlan21tuple_list = vlan21v4.split('.') %}
                {% set unit_id = device_name.split('-')[3] %}
		{% set mgmt_vlan = "2253" %}
                {% if device_values.management_v4 is not defined %}
                    {% if unit_id == "001" %}
                        {% set management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.110" %}
                    {% elif unit_id == "002" %}
                        {% set management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.111" %}
                    {% else %}
                        {% set management_v4 = "management_v4 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set management_v4 = device_values.management_v4 %}
                {% endif %}
                {% if device_values.management_v6 is not defined %}
                    {% if unit_id == "001" %}
                        {% set management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::110" %}
                        {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                    {% elif unit_id == "002" %}
                        {% set management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::111" %}
                         {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                    {% else %}
                        {% set management_v6 = "management_v6 NOT DEFINED" %}
                        {% set management_fe80 = "management_fe80 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                        {% set management_v6 = device_values.management_v6 %}
                        {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                {% endif %}
                {% if device_values.v4loopback_addr is not defined %}
                    {% if unit_id == "001" %}
                        {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.10" %}
                    {% elif unit_id == "002" %}
                        {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.11" %}
                    {% else %}
                        {% set loopback_v4 = "loopback_v4 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set loopback_v4 = device_values.loopback_v4 %}
                {% endif %}
                {% if device_values.v6loopback_addr is not defined %}
                    {% if unit_id == "001" %}
                        {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::10" %}
                    {% elif unit_id == "002" %}
                        {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::11" %}
                    {% else %}
                        {% set loopback_v6 = "loopback_v6 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set loopback_v6 = device_values.loopback_v6 %}
                {% endif %}
                {% if device_values.netflow_exporter is not defined %}
                    {% if unit_id == "001" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".0.10" %}
                    {% elif unit_id == "002" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".0.11" %}
                    {% else %}
                        {% set netflow = "netflow NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set netflow = device_values.netflow_exporter %}
                {% endif %}
                {% if hub_values.netflow_collector is not defined %}
                    {% set netflow_collector = "172.22.253.73" %}
                {% else %}
                    {% set netflow_collector = hub_values.netlfow_collector %}
                {% endif %}
                {% if device_values.management_default_v4 is not defined %}
                    {% set manage_def_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.1" %}
                {% else %}
                    {% set manage_def_v4 = device_values.management_default_v4 %}
                {% endif %}
                {% if device_values.management_default_v6 is not defined %}
                    {% set manage_def_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::1" %}
                {% else %}
                    {% set manage_def_v6 = device_values.management_default_v6 %}
                {% endif %}
                {% if device.values.public_v4 is not defined %}
                    {% if unit_id == "001" %}
                        {% set public_v4 = vlan20tuple_list[0] ~ "." ~ vlan20tuple_list[1] ~ "." ~ vlan20tuple_list[2] ~ ".100" %}
                    {% elif unit_id == "002" %}
                        {% set public_v4 = vlan21tuple_list[0] ~ "." ~ vlan21tuple_list[1] ~ "." ~ vlan21tuple_list[2] ~ ".101" %}
                    {% endif %}
                {% else %}
                    {% set public_v4 = device_values.public_v4 %}
                {% endif %}
                {% if device.values.public_v6 is not defined %}
                    {% if unit_id == "001" %}
                        {% set public_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":20::100" %}
                        {% set vlan20fe80 = "fe80::20:" ~ public_v6.split('::')[1] %}
                    {% elif unit_id == "002" %}
                        {% set public_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":21::101" %}
                        {% set vlan21fe80 = "fe80::21:" ~ public_v6.split('::')[1] %}
                    {% endif %}
                {% else %}
                    {% set public_v6 = device_values.public_v6 %}
                    {% set vlan21fe80 = "fe80::21:" ~ public_v6.split('::')[1] %}
                    {% set vlan20fe80 = "fe80::20:" ~ public_v6.split('::')[1] %}
                {% endif %}
                {% if ( unit_id == "001" ) and ( device_values.vlan200v4 is not defined ) %}
                    {% set vlan200v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".0.10" %}
                {% elif ( unit_id == "001" ) and ( device_values.vlan200v4 is defined ) %}
                    {% set vlan200v4 = device_values.vlan200v4 %}
                {% elif ( unit_id == "002" ) and ( device_values.vlan200v4 is not defined )%}
                    {% set vlan200v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".0.11" %}
                {% elif ( unit_id == "002" ) and ( device_values.vlan200v4 is defined ) %}
                    {% set vlan200v4 = device_values.vlan200v4 %}
                {% else %}
                    {% set vlan200v4 = "vlan200v4 NOT DEFINED" %}
                {% endif %}
                {% if ( unit_id == "001" ) and ( device_values.vlan200v6 is not defined ) %}
                    {% set vlan200v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ "::10" %}
                    {% if device_values.vlan200fe80 is not defined %}
                        {% set vlan200fe80 = "fe80::200:10" %}
                    {% else %}
                        {% set vlan200fe80 = device_values.vlanfe80 %}
                    {% endif %}
                {% elif ( unit_id == "002" ) and ( device_values.vlan200v6 is not defined ) %}
                    {% set vlan200v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ "::11" %}
                    {% if device_values.vlan200fe80 is not defined %}
                        {% set vlan200fe80 = "fe80::200:11" %}
                    {% else %}
                        {% set vlan200fe80 = device_values.vlan200fe80 %}
                    {% endif %}
                {% elif ( unit_id == "001" ) and ( device_values.vlan200v6 is defined ) %}
                    {% set vlan200v6 = device_values.vlan200v6 %}
                    {% if device_values.vlan200fe80 is not defined %}
                        {% set vlan200fe80 = "fe80::200:10" %}
                    {% else %}
                        {% set vlan200fe80 = device_values.vlan200fe80 %}
                    {% endif %}
                {% elif ( unit_id == "002" ) and ( device_values.vlan200v6 is defined ) %}
                    {% set vlan200v6 = device_values.vlan200v6 %}
                    {% if device_values.vlan200fe80 is not defined %}
                        {% set vlan200fe80 = "fe80::200:11" %}
                    {% else %}
                        {% set vlan200fe80 = device_values.vlan200fe80 %}
                    {% endif %}
                {% else %}
                    {% set vlan200v6 = "vlan200v6 NOT DEFINED" %}
                    {% set vlan200fe80 = "vlan200fe80 NOT DEFINED" %}
                {% endif %}
replace:
system {
    host-name {{ inventory_hostname }};
    time-zone UTC;
    auto-snapshot;
    arp {
        aging-timer 10;
        passive-learning;
    }
    internet-options {
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset {
            drop-all-tcp;
        }
    }
    authentication-order [ tacplus password ];
    root-authentication {
        encrypted-password "$5$2xP3n7.z$DwO0p8kgodMLeWaxmsi1oA7NPvAqcqoKGhKouK1DsU/"; ## SECRET-DATA
    }
    tacplus-server {
        10.202.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
        {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    login {
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class RANCID-Class {
            idle-timeout 15;
            permissions [ view view-configuration ];
        }
        user crogers {
            full-name switchninja;
            uid 1337;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDS9O+DvCGv2i0SALUwdlK7PlwvlZugLY9VXH4SHMBh1tn4A8Kcn1fmpozdRQYU8ygbFr8NCEjCbFn2kHjYXmyr01lc+kn6OrBGW8wRtpsfnRk/N93GKYowhRIq86sZpgAeGo7UXkvZUrJOFlLPcCCdspBPX98aF7WSRTWv6S7/kFCXKunpRy+NlRTmwUDS09mkevxNU4kvkyFSYyz+Se55D0xOHaZyCFREUKjY1kGxjVo3dcdp2PiQqrrAwzhtZD+AP8OxOu+l+heCEDD0W0g68dk3+BhdOmny2F7AQmv3cXKu+xBUjmDT6R5Qdgpv7zvfbihIE3lPaBHzJxFjFJAeBXM6JPxpbilLtJ7mlRVkZoW5NahiaPsTtaB/sPSQNm5yYrAUzvQzipwPV6I/fKFkqhW2dgu+U/Hb1X+vSFcqD0UsEVJqee4QQopyp7b8EBMB3W2ZXKqsDeUMSR0X0WtrMcUlGStQsSTxbg9Uy07WvdzLmaRGm2r8WjGwXLsz46Exb/uEZwjGmlbOporVi8262FZAtfFLb2/Jl9jhkM+d6guliEDJqk8bd5J+0wmnYsehUCCitM+B4WG+xtY6jZK5ig75kHoo/bU/9rzmfUolP3CCSR0EudKnFPh4+0Bty1Qskkcfzg2hZq+fVHDmqeb0Od7sYkKyFiHBWrgxvSR2wQ== crogers@fastlane"; ## SECRET-DATA
            }
        }
        user ansible {
            uid 2002;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBTVCLDfgt01MMJDPY32AHCNO2wFudG4T7JWQccGzHhZDjYGbK4Nw1taT6q1sCNf3eeW9MVJX8U802g39sgLiUCZ1AHHSItvjA/ezaAY45347/PG8xztEOU5BR6QaSAlk7WNLSSDh76NeF3lKmuuZjNhYKfo/hDAj8Z6JnytSV3TGxBhulNLrKQ5BLoUXnrvaVAOrOAgEMM6Qn+EqXXSEZ4LVH7T0Pth1KAgel8UHVWdHRnL/tUd6aKSD8MJx7UgtrBK1wqmTqzQdzjVZSpI7WvchQTvuhvF3iMTeeNW1RPU0W/kSX0g9JHcPS/ySj5xCkZKSFMFQvkFogP4cKN5iV kylemc@ironwood"; ## SECRET-DATA
            }
        }
        user kylemc {
            uid 2004;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOmi9gGUoW7cf396aT1PvjxICGMqyTMVArIOCwqYIfgxTZGtKVc9y9kZJICNq6i1vQcbZtMYntbJNYEMa/wKISy/Gdig1YLeCR+9x982/579YtbJthnOebjXZF+lBmXKTvzbbemj0/e5YMC7ASTCPB34wB7rzCecS0J298gK7UNXIedoAksMYLeAwXxmmMLmgDgXaQFVO29jarPRii5HWFk8jcotFbKvHKwi9lu5R5yaKAyPV5PJ0OUrveQXBKOogRD1yQZjUh+CJvdNnDd6zzBGEH+5nT4Am1ZEbHZt4iGLHVjSdZsPQzzZaxb+zIBk82qDMpFd38Hl1OB6kUnieUBDppnP+ztZx/ccB7Ijs8EzM6hVW6RzVhFZJrOyNiWnu0gXJwlt6LO9pAxEs/1KPSq6fsb5lpSZv5s24Tu6Ig/IMLRK/HQYHnQqwQSBLepor0Lur3yJc7JYA3AiwEbturtJXw096qn1JK82mOGi/Y8gTZBon+tNXwPfYK7H2GK4E= kylemc@ironwood-new"; ## SECRET-DATA
            }
        }
        user rancid {
            full-name "RANCID template for remote access";
            uid 2001;
            class RANCID-Class;
        }
        user remote {
            full-name "TACACS+ template for remote access";
            uid 2000;
            class super-user;
        }
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 2;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        archive size 10m files 10;
        user * {
            any emergency;
        }
        host 10.202.253.11 {
            any any;
        }
        file alarmd {
            daemon any;
            match-strings alarmd;
        }
        file ddos_protection {
            any any;
            match-strings DDOS_PROTOCOL_VIOLATION;
        }
        file rpd {
            any any;
            match-strings [ RPD_OSPF_ bgp_ ];
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        time-format year millisecond;
        source-address {{ management_v4 }};
    }
    ddos-protection {
        protocols {
            arp {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
            ndpv6 {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
        }
    }
    ntp {
        server 10.202.253.5;
        server 172.22.253.5;
        server 172.23.253.5;
    }
}
replace:
chassis {
    aggregated-devices {
        ethernet {
            device-count 2;
        }
    }
    fpc 0 {
        pic 2 {
            tunnel-services {
                bandwidth 10g;
            }
        }
    }
    afeb {
        slot 0 {
            sampling-instance sample-instance01;
            inline-services {
                flow-table-size {
                    ipv4-flow-table-size 7;
                    ipv6-flow-table-size 7;
                }
            }
        }
    }
    network-services ip;
}
replace:
services {
    flow-monitoring {
        version-ipfix {
            template v4 { 
                flow-active-timeout 60;
                flow-inactive-timeout 60;
                template-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                option-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                ipv4-template;
            }
            template v6 { 
                flow-active-timeout 60;
                flow-inactive-timeout 60;
                template-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                option-refresh-rate {
                    packets 1000;
                    seconds 10;
                }
                ipv6-template;
            }
        }
    }
{% set ns = namespace(count=0) %}
{% for site_name,site_values in remote_site.items() %}
    service-set ipsec-service_set-{{ site_name }}_v4 {
        tcp-mss 1350;
        service-set-options {
            enable-asymmetric-traffic-processing;
        }
        next-hop-service {
            inside-service-interface ms-0/2/0.{{ ns.count }};
    {% set ns.count = ns.count + 1 %}
            outside-service-interface ms-0/2/0.{{ ns.count }};
    {% set ns.count = ns.count + 1 %}
        }
        ipsec-vpn-options {
            local-gateway {{ public_v4 }} routing-instance {{ hub_name }}-outside;
        }
        ipsec-vpn-rules vpn_rule-{{ site_name }}_v4;
    }
    service-set ipsec-service_set-{{ site_name }}_v6 {
        tcp-mss 1350;
        service-set-options {
            enable-asymmetric-traffic-processing;
        }
        next-hop-service {
            inside-service-interface ms-0/2/0.{{ ns.count }};
    {% set ns.count = ns.count + 1 %}
            outside-service-interface ms-0/2/0.{{ ns.count }};
    {% set ns.count = ns.count + 1 %}
        }
        ipsec-vpn-options {
            local-gateway {{ public_v6 }} routing-instance {{ hub_name }}-outside;
        }
        ipsec-vpn-rules vpn_rule-{{ site_name }}_v6;
    }
    ipsec-vpn {
        rule vpn_rule-{{ site_name }}_v4 {
            term term1 {
                from {
                    source-address {
                        0.0.0.0/0;
                    }
                    destination-address {
                        0.0.0.0/0;
                    }
                }
                then {
    {% if unit_id == "001" %}
                    remote-gateway {{ site_values.ipsec_v4peer01 }};
    {% elif unit_id == "002" %}
                    remote-gateway {{ site_values.ipsec_v4peer02 }};
    {% endif %}
                    dynamic {
                        ike-policy ike_policy-standard01;
                        ipsec-policy ipsec_policy-standard01;
                    }
                    copy-dont-fragment-bit;
                    anti-replay-window-size 4096;
                }
            }
            match-direction input;
        }
        rule vpn_rule-{{ site_name }}_v6 {
            term term1 {
                from {
                    source-address {
                        ::0/0;
                    }
                    destination-address {
                        ::0/0;
                    }
                }
                then {
    {% if unit_id == "001" %}
                        remote-gateway {{ site_values.ipsec_v6peer01 }};
    {% elif unit_id == "002" %}
                        remote-gateway {{ site_values.ipsec_v6peer02 }};
    {% endif %}
                    dynamic {
                        ike-policy ike_policy-standard01;
                        ipsec-policy ipsec_policy-standard01;
                    }
                    copy-dont-fragment-bit;
                    anti-replay-window-size 4096;
                }
            }
            match-direction input;
        }
{% endfor %}
        ipsec {
            proposal ipsec_proposal01 {
                protocol esp;
                authentication-algorithm hmac-sha1-96;
                encryption-algorithm aes-128-cbc;
            }
            policy ipsec_policy-standard01 {
                perfect-forward-secrecy {
                    keys group2;
                }
                proposals ipsec_proposal01;
            }
        }
        ike {
            proposal ike_proposal01 {
                authentication-method pre-shared-keys;
                dh-group group19;
                authentication-algorithm sha1;
                encryption-algorithm aes-128-cbc;
            }
            policy ike_policy-standard01 {
                proposals ike_proposal01;
                pre-shared-key ascii-text "$9$jqkT30ORylMApK87-g4ZUjqfzn/tpORz3SevMN-qmfTz6uORESeCtK87N2gk.P"; ## SECRET-DATA
            }
        }
    }
}
replace:
interfaces {
{% if device_values.site == "west" %}    xe-0/0/0 { {% else %}   xe-2/0/0 {
{% endif %}
        description "LAG member to {{ hub_name }}-net-icr-001";
        gigether-options {
            802.3ad ae0;
        }
    }
{% if device_values.site == "west1" %}    xe-0/1/0 { {% else %}   xe-2/1/0 {
{% endif %}
        description "LAG member to {{ hub_name }}-net-icr-001";
        gigether-options {
            802.3ad ae0;
        }
    }
    ms-0/2/0 {
{% set ns = namespace(count=0) %}
{% for site_name,site_values in remote_site.items() %}
        unit {{ ns.count }} {
            description "Transit: {{ site_name }}-net-vpn-001 [1Gbit] (IPv4 IPSEC Tunnel01 to {{ site_name }})";
            family inet {
                mtu 1400;
                sampling {
                    input;
                    output;
                }
            }
            service-domain inside;
        }
    {% set ns.count = ns.count + 1 %}
        unit {{ ns.count }} {
            description "{{ site_name }} ipv4 ipsec tunnel outside";
            family inet;
            service-domain outside;
        }
    {% set ns.count = ns.count + 1 %}
        unit {{ ns.count }} {
            description "Transit: {{ site_name }}-net-vpn-001 [1Gbit] (IPv6 IPSEC Tunnel02 to {{ site_name }})";
            family inet6 {
                mtu 1400
                sampling {
                    input;
                    output;
                }
            }
            service-domain inside;
        }
    {% set ns.count = ns.count + 1 %}
        unit {{ ns.count }} {
            description "{{ site_name }} ipv6 ipsec tunnel outside";
            family inet6;
            service-domain outside;
        }
    {% set ns.count = ns.count + 1 %}
{% endfor %}
    }
    ae0 {
        description "LAG bundle to {{ device_values.site }}-net-icr-001";
        vlan-tagging;
        mtu 9216;
        aggregated-ether-options {
            lacp {
                active;
                periodic slow;
            }
        }
{% if unit_id == "001" %}
        unit 20 {
            description "Vlan 20 - {{ vlan20v4 }}/24 - {{ hub_name }} External Backbone #01";
            vlan-id 20;
{% elif unit_id == "002" %}
        unit 21 {
            description "Vlan 21 - {{ vlan21v4 }}/24 - {{ hub_name }} External Backbone #02";
            vlan-id 21;
{% endif %}
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ public_v4 }}/24;
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ public_v6 }}/64 {
                    preferred;
                }
{% if unit_id == "001" %}
                address {{ vlan20fe80 }}/64;
{% elif unit_id == "002" %}
                address {{ vlan21fe80 }}/64;
{% endif %}
            }
        }
        unit 200 {
            description "Vlan 200 - {{ hub_name }} Internal Backbone and Transit;
            vlan-id 200;
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan200v4 }}/23;
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan200v6 }}/64 {
                    preferred;
                }
                address {{ vlan200fe80 }}/64;
            }
        }
    }
    fxp0 {
        description "Management Interface";
        unit 0 {
            family inet {
                address {{ management_v4 }}/24;
            }
            family inet6 {
                address {{ management_v6 }}/64 {
                    preferred;
                }
                address {{ management_fe80 }}/64;
            }
       }
    }
    lo0 {
        /* this is for the {{ hub_name }}-default routing-instance */
        unit 0 {
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128 {
                    primary;
                    preferred;
                }
            }
        }
        /* this is for the {{ hub_name }}-outside routing-instance */
        unit 1 {
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128 {
                    primary;
                    preferred;
                }
            }
        }
    }
}
replace:
snmp {
    name {{ device_name }};
    description "AN: {{ asset }};
    location {{ hub_name | upper }};
    contact "Network Engineering <neteng@sample.com>";
    community open_sesame {
        authorization read-only;
        clients {
            10.202.253.0/24;
            172.22.253.0/24;
            172.21.253.0/24;
            172.23.253.0/24;
            172.22.222.0/24;
            172.27.253.0/24;
        }
    }
    trap-options {
        source-address {{ management_v4 }}; 
    }
    trap-group open_sesame {
        version v2; 
        categories {
            authentication;
            chassis;
            link;
            remote-operations;
            routing;
            startup;
            vrrp-events;
            configuration;
            services;
        }
    targets {
        {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11;
    }
}
replace:
forwarding-options {
    sampling {
        instance {
            sample-instance01 {
                input {
                    rate 100;
                    max-packets-per-second 65535;
                }
                family inet {
                    output {
                        flow-server {{ netflow_collector }} {
                            port 2055;
                            autonomous-system-type origin;
                            no-local-dump;
                            source-address {{ netflow }};
                            version-ipfix {
                                template {
                                    v4;
                                }
                            }
                        }
                        inline-jflow {
                            source-address {{ netflow }};
                        }
                    }
                }
                family inet6 {
                    output {
                        flow-server {{ netflow_collector }} {
                            port 2055;
                            autonomous-system-type origin;
                            no-local-dump;
                            source-address {{ netflow }};
                            version-ipfix {
                                template {
                                    v6;
                                }
                            }
                        }
                        inline-jflow {
                            source-address {{ netflow }};
                        }
                    }
                }
            }
        }
    }
}
replace:
routing-options {
    rib inet6.0 {
        static {
            route ::0/0 {
                qualified-next-hop {{ manage_def_v6 }} {
                    interface fxp0.0;
                }
                retain;
            }
        }
    }
    static {
        route 0.0.0.0/0 {
            qualified-next-hop {{ manage_def_v4 }} {
                interface fxp0.0
            }
            retain;
        }
    }
    router-id {{ loopback_v4 }};
    autonomous-system {{ hub_values.asn }};
    rib-groups {
        {{ hub_name }}-default_into_others-v4 {
            import-rib [ {{ hub_name }}-default.inet.0 {{ hub_name }}-outside.inet.0 ];
            import-policy {{ hub_name }}-default_VRFLEAK_v4;
        }
        {{ hub_name }}-default_into_others-v6 {
            import-rib [ {{ hub_name }}-default.inet6.0 {{ hub_name }}-outside.inet6.0 ];
            import-policy {{ hub_name }}-default_VRFLEAK_v6;
        }
    }
    forwarding-table {
        export ecmp_policy;
    }
}
replace:
protocols {
    lldp {
        management-address {{ management_v4 }};
{{ lookup('template', 'common/junos/lldp.j2') }}
}
replace:
policy-options {
    prefix-list {{ hub_name }}_supernets-v4 {
{% for foo in hub_values.vpnv4exports %}
        {{ foo }};
{% endfor %}
    }
    prefix-list {{ hub_name }}_supernets-v6 {
{% for foo in hub_values.vpnv6exports %}
        {{ foo }};
{% endfor %}
    }
    prefix-list rfc1918 {
        10.0.0.0/8;
        169.254.0.0/16;
        172.16.0.0/12;
        192.168.0.0/16;
    }
{% for site_name,site_values in remote_site.items() %}
    prefix-list {{ site_name }}_supernet-v4 {
    {% for foo in site_values.ipv4networks %}
        {{ foo }};
    {% endfor %}
    }
    {% if site_values.ipv4publics is defined %}
    prefix-list {{ site_name }}_publics-v4 {
        {% for foo in site_values.ipv4publics %}
        {{ foo }};
        {% endfor %}
    }
    {% endif %}
    prefix-list {{ site_name }}_supernet-v6 {
    {% for foo in site_values.ipv6networks %}
        {{ foo }};
    {% endfor %}
    }
{% endfor %}
    policy-statement remote_office_to_{{ device_values.site }}_default_import-v4 {
{% for site_name,site_values in remote_site.items() %}
        term {{ site_name }}_supernet-v4 {
            from {
                prefix-list {{ site_name }}_supernet-v4;
    {% if site_values.ipv4publics is defined %}
                prefix-list {{ site_name }}_publics-v4;
    {% endif %}
            }
            then accept;
        }
{% endfor %}
        term default_deny {
            then reject;
        }
    }
    policy-statement remote_office_to_{{ device_values.site }}_default_import-v6 {
{% for site_name,site_values in remote_site.items() %}
        term {{ site_name }}_supernet-v6 {
            from {
                prefix-list {{ site_name }}_supernet-v6;
            }
            then accept;
        }
{% endfor %}
        term default_deny {
            then reject;
        }
    }
    policy-statement EXT_BGP_into_OSPF {
{% for site_name,site_values in remote_site.items() %}
    {% if site_values.ipv4publics is defined %}
        term {{ site_name }}_publics-v4 {
            from {
                protocol bgp;
                prefix-list {{ site_name }}_publics-v4;
            }
            then accept;
        }
    {% endif %}
{% endfor %}
    }
    policy-statement EXT_BGP_into_OSPF3 {
{% for site_name,site_values in remote_site.items() %}
    {% if site_values.ipv4publics is defined %}
        term {{ site_name }}_supernet-v6 {
            from {
                protocol bgp;
                prefix-list {{ site_name }}_supernet-v6;
            }
            then accept;
        }
    {% endif %}
{% endfor %}
    }
    policy-statement BGP_into_OSPF {
{% for site_name,site_values in remote_site.items() %}
        term {{ site_name }}_supernet-v4 {
            from {
                protocol bgp;
                prefix-list {{ site_name }}_supernet-v4;
            }
            then accept;
        }
{% endfor %}
    }
    policy-statement BGP_into_OSPF3 {
{% for site_name,site_values in remote_site.items() %}
        term {{ site_name }}_supernet-v6 {
            from {
                protocol bgp;
                prefix-list {{ site_name }}_supernet-v6;
            }
            then accept;
        }
{% endfor %}
    }
    policy-statement {{ device_values.site }}-default_VRFLEAK-v4 {
{% for site_name,site_values in remote_site.items() %}
    {% if site_values.ipv4publics is defined %}
        term {{ site_name }}_prefixes {
            from {
                prefix-list {{ site_name }}_publics-v4;
            }
            then accept;
        }
    {% endif %}
{% endfor %}
    }
    policy-statement {{ device_values.site }}-default_VRFLEAK-v6 {
{% for site_name,site_values in remote_site.items() %}
        term {{ site_name }}_prefixes {
            from {
                prefix-list {{ site_name }}_supernet-v6;
            }
            then accept;
        }
{% endfor %}
    }
    policy-statement ecmp_policy {
        then {
            load-balance per-packet;
        }
    }
    policy-statement {{ device_values.site }}_to_remote_office_default_export-v4 {
        term default_route {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
        term {{ device_values.site }}_supernet {
            from {
                prefix-list {{ device_values.site }}_supernets-v4;
            }
            then accept;
        }
        term rfc1918 {
            from {
                prefix-list rfc1918;
            }
            then accept;
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ device_values.site }}_to_remote_office_default_export-v6 {
        term default_route {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
        term {{ device_values.site }}_supernet {
            from {
                prefix-list {{ device_values.site }}_supernets-v6;
            }
            then accept;
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement ecr_export-v4 {
{% for site_name,site_values in remote_site.items() %}
    {% if site_values.ipv4publics is defined %}
        term {{ site_name }}_prefixes {
            from {
                prefix-list {{ site_name }}_publics-v4;
            }
            then accept;
        }
    {% endif %}
{% endfor %}
        term default_deny {
            then reject;
        }
    }
    policy-statement ecr_export-v6 {
{% for site_name,site_values in remote_site.items() %}
        term {{ site_name }}_prefixes {
            from {
                prefix-list {{ site_name }}_supernet-v6;
            }
            then accept;
        }
{% endfor %}
        term default_deny {
            then reject;
        }
    }
    policy-statement icr_export-v4 {
{% for site_name,site_values in remote_site.items() %}
        term {{ site_name }}_prefixes {
            from {
                prefix-list {{ site_name }}_supernet-v4;
            }
            then {
                next-hop-self;
                accept;
            }
        }
{% endfor %}
        term default_deny {
            then reject;
        }
    }
    policy-statement icr_export-v6 {
{% for site_name,site_values in remote_site.items() %}
        term {{ site_name }}_prefixes {
            from {
                prefix-list {{ site_name }}_supernet-v6;
            }
            then {
                next-hop-self;
                accept;
            }
        }
{% endfor %}
        term default_deny {
            then reject;
        }
    }
}
replace:
routing-instances {
    {{ device_values.site }}-default {
        instance-type virtual-router;
        interface ae0.200;
        interface lo0.0;
{% set ns = namespace(count=0) %}
{% for site_name,site_values in remote_site.items() %}
        /* {{ site_name }} ipv4 ipsec inside interface */
        interface ms-0/2/0.{{ ns.count }};
        {% set ns.count = ns.count + 2 %}
        /* {{ site_name }} ipv6 ipsec inside interface */
        interface ms-0/2/0.{{ ns.count }};
        {% set ns.count = ns.count + 2 %}
{% endfor %}
        routing-options {
            rib {{ hub_name }}-default.inet6.0 {
                static {
{% set ns = namespace(count=2) %}
{% for site_name,site_values in remote_site.items() %}
                    /* {{ site_name }}-net-efw-001:lo0 */
                    route {{ site_values.v6loopback_addr }} next-hop ms-0/2/0.{{ ns.count }};
    {% set ns.count = ns.count + 4 %}
{% endfor %}
                    /* nail up /40 supernet for bgp advertisement */
                    route 2620:115::/40 {
                        discard;
                        preference 250;
                    }
                }
            }
            static {
{% set ns = namespace(count=0) %}
{% for site_name,site_values in remote_site.items() %}
                /* {{ site_name }}-net-vpn-001:lo0 */
                route {{ site_values.v4loopback_addr }} next-hop ms-0/2/0.{{ ns.count }};
    {% set ns.count = ns.count + 4 %}
{% endfor %}
                /* nail up route for bgp advertisement */
                route 172.16.0.0/12 {
                    discard;
                    preference 250;
                }
                /* nail up route for bgp advertisement */
                route 192.168.0.0/16 {
                    discard;
                    preference 250;
                }
                /* nail up route for bgp advertisement */
                route 10.0.0.0/8 {
                    discard;
                    preference 250;
                }
                /* nail up route for bgp advertisement */
                route 169.254.0.0/16 {
                    discard;
                    preference 250;
                }
            }
            multipath;
            aggregate {
                defaults {
                    discard;
                }
            }
            router-id {{ loopback_v4 }};
            autonomous-system {{ hub_values.asn }};
        }
        protocols {
            bgp {
{% for site_name,site_values in remote_site.items() %}
                group {{ site_name | upper }} {
                    description "ebgp4 peer to {{ site_name }}";
                    type external;
                    multihop {
                        ttl 2;
                    }
                    preference 20;
                    hold-time 30;
                    log-updown;
                    multipath;
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
                    neighbor {{ site_values.v4loopback_addr }} {
                        description {{ site_name }}-net-vpn-001-lo0:inet4bgp4
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        import remote_office_to_{{ device_values.site }}_default_import-v4;
                        export {{ device_values.site }}_to_remote_office_default_export-v4;
                    }
                    neighbor {{ site_values.v6loopback_addr }} {
                        description {{ site_name }}-net-vpn-001-lo0:inet6bgp4
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 1000;
                                }
                            }
                        }
                        import remote_office_to_{{ device_values.site }}_default_import-v6;
                        export {{ device_values.site }}_to_remote_office_default_export-v6;
                    }
                }
{% endfor %}
                group INTERNAL_CORE {
                    description "bgp4 peering to internal core route reflectors";
                    type internal;
                    preference 20;
                    hold-time 30;
                    log-updown;
                    multipath;
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for spine_name,spine_values in hub_values.spines.items() %}
                    neighbor {{ spine_values.ip }} {
                        description "{{ spine_name }}:inet4bgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        export icr_export-v4;
                    }
                    neighbor {{ spine_values.ip6 }} {
                        description "{{ spine_name }}:inet6bgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        export icr_export-v6;
                    }
{% endfor %}
                }
            }
            ospf {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface ae0.200 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                            session-mode automatic;
                        }
                    }
                    interface lo0.0 {
                        passive;
                    }
                }
            }
            ospf3 {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface ae0.200 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                            session-mode automatic;
                        }
                    }
                    interface lo0.0 {
                        passive;
                    }
                }
            }
        }
    }
    {{ hub_name }}-outside {
        instance-type virtual-router;
{% if unit_id == "001" %}
        interface ae0.20;
{% elif unit_id == "002" %}
        interface ae0.21;
{% endif %}
        interface lo0.1;
{% set ns = namespace(count=1) %}
{% for site_name,site_values in remote_site.items() %}
        /* {{ site_name }} ipv4 ipsec outside interface */
        interface ms-0/2/0.{{ ns.count }};
        {% set ns.count = ns.count + 2 %}
        /* {{ site_name }} ipv6 ipsec outside interface */
        interface ms-0/2/0.{{ ns.count }};
        {% set ns.count = ns.count + 2 %}
{% endfor %}
        routing-options {
            router-id {{ loopback_v4 }};
            autonomous-system 18888;
        }
        protocols {
            bgp {
                group EXTERNAL_CORE {
                    description "bgp4 peering to external core route reflectors";
                    type internal;
                    preference 20;
                    hold-time 30;
                    log-updown;
                    multipath;
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for ecr_name,ecr_values in hub_values.ecr.items() %}
                    neighbor {{ ecr_values.ip }} {
                        description "{{ ecr_name }}:inet4bgp4";
                        local-address {{ loopback_v4 }};
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        export ecr_export-v4;
                    }
                    neighbor {{ ecr_values.ip6 }} {
                        description "{{ ecr_name }}:inet6bgp4";
                        local-address {{ loopback_v6 }};
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 100000;
                                }
                            }
                        }
                        export ecr_export-v6;
                    }
{% endfor %}
                }
            }
            ospf {
                reference-bandwidth 1g;
                area 0.0.0.0 {
{% if unit_id == "001" %}
                    interface ae0.20 {
{% elif unit_id == "002" %}
                    interface ae0.21 {
{% endif %}
                        bfd-liveness-detection {
                            minimum-interval 300;
                            multiplier 3;
                            session-mode automatic;
                        }
                    }
                    interface lo0.1 {
                        passive;
                    }
                }
            }
            ospf3 {
                reference-bandwidth 1g;
                area 0.0.0.0 {
{% if unit_id == "001" %}
                    interface ae0.20 {
{% elif unit_id == "002" %}
                    interface ae0.21 {
{% endif %}
                        bfd-liveness-detection {
                            minimum-interval 300;
                            multiplier 3;
                            session-mode automatic;
                        }
                    }
                    interface lo0.1 {
                        passive;
                    }
                }
            }
        }
    }
}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

