#jinja2: ltrim_blocks: True, lstrip_blocks: True
{% for device_name,device_values in devices.items() %}
    {% if device_name == inventory_hostname %}
        {% for hub_name,hub_values in hub_sites.items() %}
            {% if hub_name == device_values.site %}
                {% set mgmt_vlan = "2253" %}
{# asset tag logic, kinda silly but this could be a useful field to actually track #}
                {% if device_values.asset is not defined %}
                    {% set asset = "I'm too lazy to define my asset variable!" %}
                {% else %}
                    {% set asset = device_values.asset %}
                {% endif %}
                {% set internal_prefix = hub_values.rfc1918_supernet %}
                {% set vlan19v4 = hub_values.v19prefix_v4 %}
                {% set vlan20v4 = hub_values.v20prefix_v4 %}
                {% set vlan21v4 = hub_values.v21prefix_v4 %}
                {% set v6supernet = hub_values.v6_supernet %}
                {% set v4tuple_list = internal_prefix.split('.') %}
                {% set v6tuple_list = v6supernet.split(':') %}
                {% set vlan19tuple_list = vlan19v4.split('.') %}
                {% set vlan20tuple_list = vlan20v4.split('.') %}
                {% set vlan21tuple_list = vlan21v4.split('.') %}
                {% set unit_id = device_name.split('-')[3] %}
                {% if device_values.management_v4 is not defined %}
                    {% if unit_id == "01a" %}
                        {% set management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.254" %}
                    {% elif unit_id == "01b" %}
                        {% set management_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.253" %}
                    {% else %}
                        {% set management_v4 = "management_v4 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set management_v4 = device_values.management_v4 %}
                {% endif %}
                {% if device_values.management_v6 is not defined %}
                    {% if unit_id == "01a" %}
                        {% set management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::254" %}
                        {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                    {% elif unit_id == "01b" %}
                        {% set management_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::253" %}
                        {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                    {% else %}
                        {% set management_v6 = "management_v6 NOT DEFINED" %}
                        {% set management_fe80 = "management_fe80 NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set management_v6 = device_values.management_v6 %}
                    {% set management_fe80 = "fe80::" ~ mgmt_vlan ~ ":" ~ management_v6.rsplit('::')[1] %}
                {% endif %}
                {% if device_values.v4loopback_addr is not defined %}
                    {% if unit_id == "01a" %}
                        {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.254" %}
                    {% elif unit_id == "01b" %}
                        {% set loopback_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.253" %}
                    {% else %}
                        {% set loopback_v4 = "loopback_v4 NOT DEFINED" %}
                    {% endif %}
                {% endif %}
                {% if device_values.v6loopback_addr is not defined %}
                    {% if unit_id == "01a" %}
                        {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::254" %}
                    {% elif unit_id == "01b" %}
                        {% set loopback_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::253" %}
                    {% else %}
                        {% set loopback_v6 = "loopback_v6 NOT DEFINED" %}
                    {% endif %}
                {% endif %}
                {% if device_values.netflow_exporter is not defined %}
                    {% if unit_id == "01a" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.252" %}
                    {% elif unit_id == "01b" %}
                        {% set netflow = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.251" %}
                    {% else %}
                        {% set netflow = "netflow NOT DEFINED" %}
                    {% endif %}
                {% else %}
                    {% set netflow = device_values.netflow_exporter %}
                {% endif %}
                {% if hub_values.netflow_collector is not defined %}
                    {% set netflow_collector = "172.22.253.73" %}
                {% else %}
                    {% set netflow_collector = hub_values.netlfow_collector %}
                {% endif %}
                {% if device_values.management_default_v4 is not defined %}
                    {% set manage_def_v4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".253.1" %}
                {% else %}
                    {% set manage_def_v4 = device_values.management_default_v4 %}
                {% endif %}
                {% if device_values.management_default_v6 is not defined %}
                    {% set manage_def_v6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":" ~ mgmt_vlan ~ "::1" %}
                {% else %}
                    {% set manage_def_v6 = device_values.management_default_v6 %}
                {% endif %}
{# replace this with iterating through the hub_values.ecr #}
                {% if unit_id == "01a" %}
                    {% set ibgp_peerv4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.253" %}
                    {% set ibgp_peerv6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::253" %}
                    {% set ibgp_desc = "-net-ecr-01b" %}
                {% elif unit_id == "01b" %}
                    {% set ibgp_peerv4 = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.254" %}
                    {% set ibgp_peerv6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":ffff::254" %}
                    {% set ibgp_desc = "-net-ecr-01a" %}
                {% else %}
                    {% set ibgp_peerv4 = "ibgp_peerv4 NOT DEFINED" %}
                    {% set ibgp_peerv6 = "ibgp_peerv6 NOT DEFINED" %}
                    {% set ibgp_desc = "ibgp_desc NOT DEFINED" %}
                {% endif %}
{# vlan network logic #}
                {% if device_values.vlan20_inet4 is defined %}
                    {% set vlan20_inet4 = device_values.vlan20_inet4 %}
                {% elif ( device_values.vlan20_inet4 is not defined ) and ( unit_id == "01a" ) %}
                    {% set vlan20_inet4 = vlan20tuple_list[0] ~ "." ~ vlan20tuple_list[1] ~ "." ~ vlan20tuple_list[2] ~ ".2"  %}
                {% elif ( device_values.vlan20_inet4 is not defined ) and ( unit_id == "01b" ) %}
                    {% set vlan20_inet4 = vlan20tuple_list[0] ~ "." ~ vlan20tuple_list[1] ~ "." ~ vlan20tuple_list[2] ~ ".3"  %}
                {% endif %}
                {% if device_values.vlan20_inet6 is defined %}
                    {% set vlan20_inet6 = device_values.vlan20_inet6 %}
                    {% set vlan20_fe80 = "fe80::20:" ~  vlan20_inet6.rsplit('::')[1]  %}
                {% elif ( device_values.vlan20_inet6 is not defined ) and ( unit_id == "01a" ) %}
                    {% set vlan20_inet6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":20::2" %}
                    {% set vlan20_fe80 = "fe80::20:" ~ vlan20_inet6.rsplit('::')[1] %}
                {% elif ( device_values.vlan20_inet6 is not defined ) and ( unit_id == "01b" ) %}
                    {% set vlan20_inet6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":20::3" %}
                    {% set vlan20_fe80 = "fe80::20:" ~ vlan20_inet6.rsplit('::')[1] %}
                {% endif %}
                {% if device_values.vlan21_inet4 is defined %}
                    {% set vlan21_inet4 = device_values.vlan20_inet4 %}
                {% elif ( device_values.vlan21_inet4 is not defined ) and ( unit_id == "01a" ) %}
                    {% set vlan21_inet4 = vlan21tuple_list[0] ~ "." ~ vlan21tuple_list[1] ~ "." ~ vlan21tuple_list[2] ~ ".2"  %}
                {% elif ( device_values.vlan21_inet4 is not defined ) and ( unit_id == "01b" ) %}
                    {% set vlan21_inet4 = vlan21tuple_list[0] ~ "." ~ vlan21tuple_list[1] ~ "." ~ vlan21tuple_list[2] ~ ".3"  %}
                {% endif %}
                {% if device_values.vlan21_inet6 is defined %}
                    {% set vlan21_inet6 = device_values.vlan21_inet6 %}
                    {% set vlan21_fe80 = "fe80::21:" ~  vlan21_inet6.rsplit('::')[1]  %}
                {% elif ( device_values.vlan21_inet6 is not defined ) and ( unit_id == "01a" ) %}
                    {% set vlan21_inet6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":21::2" %}
                    {% set vlan21_fe80 = "fe80::21:" ~ vlan21_inet6.rsplit('::')[1] %}
                {% elif ( device_values.vlan20_inet6 is not defined ) and ( unit_id == "01b" ) %}
                    {% set vlan21_inet6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":21::3" %}
                    {% set vlan21_fe80 = "fe80::21:" ~ vlan21_inet6.rsplit('::')[1] %}
                {% endif %}
                {% if device_values.vlan19_inet4 is defined %}
                    {% set vlan19_inet4 = device_values.vlan19_inet4 %}
                {% elif ( device_values.vlan19_inet4 is not defined ) and ( unit_id == "01a" ) %}
                    {% set vlan19_inet4 = vlan19tuple_list[0] ~ "." ~ vlan19tuple_list[1] ~ "." ~ vlan19tuple_list[2] ~ ".254"  %}
                {% elif ( device_values.vlan19_inet4 is not defined ) and ( unit_id == "01b" ) %}
                    {% set vlan19_inet4 = vlan19tuple_list[0] ~ "." ~ vlan19tuple_list[1] ~ "." ~ vlan19tuple_list[2] ~ ".253"  %}
                {% endif %}
                {% if device_values.vlan19_inet6 is defined %}
                    {% set vlan19_inet6 = device_values.vlan19_inet6 %}
                    {% set vlan19_fe80 = "fe80::19:" ~  vlan19_inet6.rsplit('::')[1]  %}
                {% elif ( device_values.vlan19_inet6 is not defined ) and ( unit_id == "01a" ) %}
                    {% set vlan19_inet6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":19::254" %}
                    {% set vlan19_fe80 = "fe80::19:" ~ vlan19_inet6.rsplit('::')[1] %}
                {% elif ( device_values.vlan19_inet6 is not defined ) and ( unit_id == "01b" ) %}
                    {% set vlan19_inet6 = v6tuple_list[0] ~ ":" ~ v6tuple_list[1] ~ ":" ~ v6tuple_list[2] ~ ":19::253" %}
                    {% set vlan19_fe80 = "fe80::19:" ~ vlan19_inet6.rsplit('::')[1] %}
                {% endif %}
{# end vlan irbs #}
                {% if device_values.ibgp_clusterid is not defined %}
                    {% set ibgp_clusterid = v4tuple_list[0] ~ "." ~ v4tuple_list[1] ~ ".254.252" %}
                {% else %}
                    {% set ibgp_clusterid = device_values.ibgp_clusterid %}
                {% endif %}
replace:
system {
    auto-snapshot;
    host-name {{ inventory_hostname }};
    time-zone UTC;
    arp {
        aging-timer 10;
        passive-learning;
    }
    internet-options {
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset drop-all-tcp;
    }
    authentication-order [ tacplus password ];
    root-authentication {
        encrypted-password "$5$2xP3n7.z$DwO0p8kgodMLeWaxmsi1oA7NPvAqcqoKGhKouK1DsU/"; ## SECRET-DATA
    }
    tacplus-server {
        10.202.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
        {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11 {
            secret "$9$iqQnApBIRSqmKW8LbwjHqmz6ApByKWApIcyex7"; ## SECRET-DATA
            timeout 1;
            source-address {{ management_v4 }};
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    login {
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class RANCID-Class {
            idle-timeout 15;
            permissions [ view view-configuration ];
        }
        user crogers {
            full-name switchninja;
            uid 1337;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDS9O+DvCGv2i0SALUwdlK7PlwvlZugLY9VXH4SHMBh1tn4A8Kcn1fmpozdRQYU8ygbFr8NCEjCbFn2kHjYXmyr01lc+kn6OrBGW8wRtpsfnRk/N93GKYowhRIq86sZpgAeGo7UXkvZUrJOFlLPcCCdspBPX98aF7WSRTWv6S7/kFCXKunpRy+NlRTmwUDS09mkevxNU4kvkyFSYyz+Se55D0xOHaZyCFREUKjY1kGxjVo3dcdp2PiQqrrAwzhtZD+AP8OxOu+l+heCEDD0W0g68dk3+BhdOmny2F7AQmv3cXKu+xBUjmDT6R5Qdgpv7zvfbihIE3lPaBHzJxFjFJAeBXM6JPxpbilLtJ7mlRVkZoW5NahiaPsTtaB/sPSQNm5yYrAUzvQzipwPV6I/fKFkqhW2dgu+U/Hb1X+vSFcqD0UsEVJqee4QQopyp7b8EBMB3W2ZXKqsDeUMSR0X0WtrMcUlGStQsSTxbg9Uy07WvdzLmaRGm2r8WjGwXLsz46Exb/uEZwjGmlbOporVi8262FZAtfFLb2/Jl9jhkM+d6guliEDJqk8bd5J+0wmnYsehUCCitM+B4WG+xtY6jZK5ig75kHoo/bU/9rzmfUolP3CCSR0EudKnFPh4+0Bty1Qskkcfzg2hZq+fVHDmqeb0Od7sYkKyFiHBWrgxvSR2wQ== crogers@fastlane"; ## SECRET-DATA
            }
        }
        user ansible {
            uid 2002;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBTVCLDfgt01MMJDPY32AHCNO2wFudG4T7JWQccGzHhZDjYGbK4Nw1taT6q1sCNf3eeW9MVJX8U802g39sgLiUCZ1AHHSItvjA/ezaAY45347/PG8xztEOU5BR6QaSAlk7WNLSSDh76NeF3lKmuuZjNhYKfo/hDAj8Z6JnytSV3TGxBhulNLrKQ5BLoUXnrvaVAOrOAgEMM6Qn+EqXXSEZ4LVH7T0Pth1KAgel8UHVWdHRnL/tUd6aKSD8MJx7UgtrBK1wqmTqzQdzjVZSpI7WvchQTvuhvF3iMTeeNW1RPU0W/kSX0g9JHcPS/ySj5xCkZKSFMFQvkFogP4cKN5iV kylemc@ironwood"; ## SECRET-DATA
            }
        }
        user kylemc {
            uid 2004;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOmi9gGUoW7cf396aT1PvjxICGMqyTMVArIOCwqYIfgxTZGtKVc9y9kZJICNq6i1vQcbZtMYntbJNYEMa/wKISy/Gdig1YLeCR+9x982/579YtbJthnOebjXZF+lBmXKTvzbbemj0/e5YMC7ASTCPB34wB7rzCecS0J298gK7UNXIedoAksMYLeAwXxmmMLmgDgXaQFVO29jarPRii5HWFk8jcotFbKvHKwi9lu5R5yaKAyPV5PJ0OUrveQXBKOogRD1yQZjUh+CJvdNnDd6zzBGEH+5nT4Am1ZEbHZt4iGLHVjSdZsPQzzZaxb+zIBk82qDMpFd38Hl1OB6kUnieUBDppnP+ztZx/ccB7Ijs8EzM6hVW6RzVhFZJrOyNiWnu0gXJwlt6LO9pAxEs/1KPSq6fsb5lpSZv5s24Tu6Ig/IMLRK/HQYHnQqwQSBLepor0Lur3yJc7JYA3AiwEbturtJXw096qn1JK82mOGi/Y8gTZBon+tNXwPfYK7H2GK4E= kylemc@ironwood-new"; ## SECRET-DATA
            }
        }
        user rancid {
            full-name "RANCID template for remote access";
            uid 2001;
            class RANCID-Class;
        }
        user remote {
            full-name "TACACS+ template for remote access";
            uid 2000;
            class super-user;
        }
        message "\nUNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED.\n\nYou must have explicit, authorized permission to access or configure this device.\nUnauthorized attempts and actions to access or use this system may result in civil\nand/or criminal penalties.\n\nAll activities performed on this device are logged and monitored.\n\n";
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            rate-limit 2;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        archive size 10m files 10;
        user * {
            any emergency;
        }
        host 10.202.253.11 {
            any any;
        }
        file alarmd {
            daemon any;
            match-strings alarmd;
        }
        file ddos_protection {
            any any;
            match-strings DDOS_PROTOCOL_VIOLATION;
        }
        file rpd {
            any any;
            match-strings [ RPD_OSPF_ bgp_ ];
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        time-format year millisecond;
        source-address {{ management_v4 }};
    }
    ddos-protection {
        protocols {
            arp {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
            ndpv6 {
                aggregate {
                    bandwidth 10000;
                    burst 1000;
                }
            }
        }
    }
    ntp {
        server 10.202.253.5;
        server 172.22.253.5;
        server 172.23.253.5;
    }
}
replace:
chassis {
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
    network-services ip;
}
replace:
{{ lookup('template', 'common/junos/services.j2') }}
replace:
interfaces {
{% if hub_name == "east1" %}
    xe-0/1/0 {
{% else %}
    xe-2/0/0 {
{% endif %}
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            802.3ad ae0;
        }
    }
{% if hub_name == "east1" %}
    xe-0/1/1 {
{% else %}
    xe-2/0/1 {
{% endif %}
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            802.3ad ae0;
        }
    }
{% if hub_name == "east1" %}
    xe-0/1/6 {
{% else %}
    xe-2/0/2 {
{% endif %}
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            802.3ad ae0;
        }
    }
{% if hub_name == "east1" %}
    xe-0/1/7 {
{% else %}
    xe-2/0/2 {
{% endif %}
        description "LAG member to {{ hub_name }}-net-nlf";
        traps;
        gigether-options {
            802.3ad ae0;
        }
    }
    ae0 {
        description {{ hub_name }}-net-nlf-001;
        vlan-tagging;
{% if hub_name == "east1" %}
        mtu 16000;
{% else %}
        mtu 9192;
{% endif %}
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
            }
        }
        unit 19 {
            description "Vlan 19 - {{ hub_name | upper }} ECR to EGW transit - inet4: {{ vlan19v4 }}/24 && inet6: {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:19::/64"
            vlan-id 19;
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan19_inet4 }}/24;
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan19_inet6 }}/64 {
                    preferred;
                }
                address {{ vlan19_fe80 }}/64;
            }
        }
        unit 20 {
            description "Vlan 20 - {{ hub_name | upper }} ECR to Services Transit - inet4: {{ vlan20v4 }}/24 && inet6: {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:20::/64"
            vlan-id 20;
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan20_inet4 }}/24 {
                    vrrp-group 1 {
                        virtual-address {{ vlan20v4.rsplit('.0/24')[0] }}.1;
                        priority 110;
                        preempt {
                            hold-time 300;
                        }
                        accept-data;
                    }
                    vrrp-group 2 {
                        virtual-address {{ vlan20v4.rsplit('.0/24')[0] }}.4
                        priority 90;
                        accept-data;
                    }
                }
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan20_inet6 }}/64 {
                    preferred;
                    vrrp-inet6-group 1 {
                        virtual-inet6-address {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:20::1;
                        virtual-link-local-address fe80::20:1
                        priority 110;
                        preempt {
                            hold-time 300;
                        }
                        accept-data;
                    }
                    vrrp-inet6-group 2 {
                        virtual-inet6-address {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:20::4;
                        virtual-link-local-address fe80::20:4;
                        priority 90;
                        accept-data;
                    }
                }
                address {{ vlan20_fe80 }}/64;
            }
        }
        unit 21 {
            description "Vlan 21 - {{ hub_name | upper }} ECR to Services Transit - inet4: {{ vlan21v4 }}/24 && inet6: {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:21::/64"
            vlan-id 21;
            family inet {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan21_inet4 }}/24 {
                    vrrp-group 1 {
                        virtual-address {{ vlan21v4.rsplit('.0/24')[0] }}.1;
                        priority 90;
                        accept-data;
                    }
                    vrrp-group 2 {
                        virtual-address {{ vlan21v4.rsplit('.0/24')[0] }}.4;
                        priority 110;
                        preempt {
                            hold-time 300;
                        }
                        accept-data;
                    }
                }
            }
            family inet6 {
                mtu 1500;
                sampling {
                    input;
                    output;
                }
                address {{ vlan21_inet6 }}/64 {
                    preferred;
                    vrrp-inet6-group 1 {
                        virtual-inet6-address {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:21::1;
                        virtual-link-local-address fe80::21:1;
                        priority 90;
                        accept-data;
                    }
                    vrrp-inet6-group 2 {
                        virtual-inet6-address {{ v6tuple_list[0] }}:{{ v6tuple_list[1] }}:{{ v6tuple_list[2] }}:21::4;
                        virtual-link-local-address fe80::21:4;
                        priority 110;
                        preempt {
                            hold-time 300;
                        }
                        accept-data;
                    }
                }
                address {{ vlan21_fe80 }}/64;
            }
        }
        unit 2253 {
            description "netflow exporter"
            vlan-id 2253;
            family inet {
                address {{ netflow }}/24;
            }
        }
    }
    fxp0 {
        description management;
        unit 0 {
            description management;
            family inet {
                address {{ management_v4 }}/24;
            }
            family inet6 {
                address {{ management_v6 }}/64 {
                    preferred;
                }
                address {{ management_fe80 }}/64;
            }
        }
    }
    lo0 {
        description loopback;
        unit 0 {
            description loopback;
            family inet {
                address {{ loopback_v4 }}/32;
            }
            family inet6 {
                address {{ loopback_v6 }}/128 {
                    preferred;
                }
            }
        }
    }
}
replace:
snmp {
    name {{ device_name }};
    description "AN: {{ asset }}";
    location {{ hub_name | upper }};
    contact "Network Engineering <neteng@sample.com>";
    community open_sesame {
        authorization read-only;
        clients {
            10.202.253.0/24;
            172.22.253.0/24;
            172.21.253.0/24;
            172.23.253.0/24;
            172.22.222.0/24;
            172.27.253.0/24;
        }
    }
    trap-options {
        source-address {{ management_v4 }}; 
    }
    trap-group open_sesame {
        version v2; 
        categories {
            authentication;
            chassis;
            link;
            remote-operations;
            routing;
            startup;
            vrrp-events;
            configuration;
            services;
        }
        targets {
            {{ v4tuple_list[0] }}.{{ v4tuple_list[1] }}.253.11;
        }
    }
}
replace:
forwarding-options {
    sampling {
        instance {
            sample-instance01 {
                input {
                    rate 100;
                    max-packets-per-second 65535;
                }
                family inet {
                    output {
                        flow-server {{ netflow_collector }} {
                            port 2055;
                            autonomous-system-type origin;
                            no-local-dump;
                            source-address {{ netflow }};
                            version-ipfix {
                                template {
                                    v4;
                                }
                            }
                        }
                        inline-jflow {
                            source-address {{ netflow }};
                        }
                    }
                }
                family inet6 {
                    output {
                        flow-server {{ netflow_collector }} {
                            port 2055;
                            autonomous-system-type origin;
                            no-local-dump;
                            source-address {{ netflow }};
                            version-ipfix {
                                template {
                                    v6;
                                }
                            }
                        }
                        inline-jflow {
                            source-address {{ netflow }};
                        }
                    }
                }
            }
        }
    }
}
replace:
routing-options {
    rib inet6.0 {
        static {
            route ::0/0 {
                qualified-next-hop {{ manage_def_v6 }} {
                    interface fxp0.0;
                }
                retain;
            }
        }
    }
    static {
        route 0.0.0.0/0 {
            qualified-next-hop {{ manage_def_v4 }} {
                interface fxp0.0
            }
            retain;
        }
    }
    router-id {{ loopback_v4 }};
    autonomous-system 18888;
    forwarding-table {
        export ecmp_policy;
    }
}
replace:
protocols {
    lldp {
        management-address {{ management_v4 }};
{{ lookup('template', 'common/junos/lldp.j2') }}
    }
}
replace:
policy-options {
    prefix-list {{ hub_name }}_networks_v4 {
        {{ vlan20v4 }};
        {{ vlan21v4 }};
    }
    prefix-list {{ hub_name }}_downstreams_v4 {
{% for prefix,prefix_values in hub_values.v4downstreams.items() %}
        {{ prefix }};
{% endfor %}
    }
    prefix-list {{ hub_name }}_networks_v6 {
        {{ v6supernet }};
    }
    prefix-list {{ hub_name }}_downstreams_v6 {
{% for prefix,prefix_values in hub_values.v6downstreams.items() %}
        {{ prefix }};
{% endfor %}
    }
    policy-statement {{ hub_name }}-net-ecr_downstream_export-v4 {
        term default_permit {
            from protocol bgp;
            then {
                next-hop self;
                accept;
            }
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ hub_name }}-net-ecr_downstream_export-v6 {
        term default_permit {
            from protocol bgp;
            then {
                next-hop self;
                accept;
            }
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ hub_name }}-net-ecr_import-v4 {
        term default_permit {
            from protocol bgp;
            then accept;
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ hub_name }}-net-ecr_import-v6 {
        term default_permit {
            from protocol bgp;
            then accept;
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ hub_name }}_egw_export-v4 {
        term {{ hub_name }}_site_prefixes {
            from {
                prefix-list {{ hub_name }}_networks_v4;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term {{ hub_name }}_downstream_prefixes {
            from {
                prefix-list {{ hub_name}}_downstreams_v4;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement {{ hub_name }}_egw_export-v6 {
        term {{ hub_name }}_site_prefixes {
            from {
                prefix-list {{ hub_name }}_networks_v6;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term {{ hub_name }}_downstream_prefixes {
            from {
                prefix-list {{ hub_name }}_downstreams_v6;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement ecmp_policy {
        then {
            load-balance per-packet;
        }
    }
    policy-statement downstream_export-v4 {
        term default_route {
            from {
                protocol bgp;
                route-filter 0.0.0.0/0 exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term default_deny {
            then reject;
        }
    }
    policy-statement downstream_export-v6 {
        term default_route {
            from {
                protocol bgp;
                route-filter ::0/0 exact;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term default_deny {
            then reject;
        }
    }
}
replace:
routing-instances {
    {{ hub_name }}-outside {
        instance-type virtual-router;
        interface ae0.19;
        interface ae0.20;
        interface ae0.21;
        interface lo0.0;
        routing-options {
            static {
{% for prefix,prefix_values in hub_values.v4downstreams.items() %}
                route {{ prefix }} {
                    discard;
                    preference 10;
                }
{% endfor %}
            }
            multipath;
            router-id {{ loopback_v4 }};
            autonomous-system 18888;
        }
        protocols {
            bgp {
                group EXTERNAL_CORE {
                    description "bgp4 peer group for external core route reflectors";
                    type internal;
                    preference 20;
                    log-updown;
                    hold-time 30;
                    multipath;
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for ecr_name,ecr_values in hub_values.ecr.items() %}
    {% if ecr_name != device_name %}
                    neighbor {{ ecr_values.ip }} {
                        description "{{ ecr_name }}:inet4bgp4";
                        family inet {
                            unicast {
                                loops 2;
                            }
                        }
                        local-address {{ loopback_v4 }};
                    }
                    neighbor {{ ecr_values.ip6 }} {
                        description "{{ ecr_name }}:inet6bgp4";
                        family inet6 {
                            unicast {
                                loops 2;
                            }
                        }
                        local-address {{ loopback_v6 }};
                    }
    {% endif %}
{% endfor %}
                }
                group EXTERNAL_GATEWAYS {
                    description "bgp4 peer group for external gateways";
                    type internal;
                    preference 20;
                    log-updown;
                    hold-time 30;
{% for ecr_name,ecr_values in hub_values.ecr.items() %}
    {% if device_name == ecr_name %}
                    cluster {{ ecr_values.cluster }};
    {% endif %}
{% endfor %}
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for egw_name,egw_values in hub_values.egw.items() %}
                    neighbor {{ egw_values.ip }} {
                        description "{{ egw_name }}:inet4bgp4";
                        family inet {
                            unicast {
                                loops 2;
                            }
                        }
                        local-address {{ loopback_v4 }};
                        export {{ hub_name }}_egw_export-v4
                    }
                    neighbor {{ egw_values.ip6 }} {
                        description "{{ egw_name }}:inet6bgp4";
                        family inet6 {
                            unicast {
                                loops 2;
                            }
                        }
                        local-address {{ loopback_v6 }};
                        export {{ hub_name }}_egw_export-v6;
                    }
{% endfor %}
                }
                group VPNS {
                    description "bgp4 peer group for site to site vpn routers";
                    type internal;
                    preference 20;
                    log-updown;
                    hold-time 30;
{% for ecr_name,ecr_values in hub_values.ecr.items() %}
    {% if device_name == ecr_name %}
                    cluster {{ ecr_values.cluster }};
    {% endif %}
{% endfor %}
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for vpn_name,vpn_values in hub_values.vpn.items() %}
                    neighbor {{ vpn_values.ip }} {
                        description "{{ vpn_name }}:inet4bgp4";
                        family inet {
                            unicast {
                                loops 2;
                            }
                        }
                        local-address {{ loopback_v4 }};
                        export downstream_export-v4;
                    }
                    neighbor {{ vpn_values.ip6 }} {
                        description "{{ vpn_name }}:inet6bgp4";
                        family inet6 {
                            unicast {
                                loops 2;
                            }
                        }
                        local-address {{ loopback_v6 }};
                        export downstream_export-v6;
                    }
{% endfor %}
                }
                group EXTERNAL_FIREWALLS {
                    description "bgp4 peer group for the external firewalls";
                    type internal;
                    preference 20;
                    log-updown;
                    hold-time 30;
{% for ecr_name,ecr_values in hub_values.ecr.items() %}
    {% if device_name == ecr_name %}
                    cluster {{ ecr_values.cluster }};
    {% endif %}
{% endfor %}
                    bfd-liveness-detection {
                        minimum-interval 1000;
                        multiplier 3;
                        session-mode automatic;
                    }
{% for efw_name,efw_values in hub_values.efw.items() %}
                    neighbor {{ efw_values.ip }} {
                        description "{{ efw_name }}:inet4bgp4";
                        family inet {
                            unicast {
                                loops 2;
                            }
                        }
                        local-address {{ loopback_v4 }};
                        export downstream_export-v4;
                    }
                    neighbor {{ efw_values.ip6 }} {
                        description "{{ efw_name }}:inet6bgp4";
                        family inet6 {
                            unicast {
                                loops 2;
                            }
                        }
                        local-address {{ loopback_v6 }};
                        export downstream_export-v6;
                    }
{% endfor %}
                }
            }
            ospf {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface lo0.0 {
                        passive;
                    }
                    interface ae0.19 {
{% if unit_id == "01a" %}
                        priority 210;
{% elif unit_id == "01b" %}
                        priority 200;
{% endif %}
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                    interface ae0.20 {
{% if unit_id == "01a" %}
                        priority 210;
{% elif unit_id == "01b" %}
                        priority 200;
{% endif %}
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                    interface ae0.21 {
{% if unit_id == "01a" %}
                        priority 210;
{% elif unit_id == "01b" %}
                        priority 200;
{% endif %}
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                }
            }
            ospf3 {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface lo0.0 {
                        passive;
                    }
                    interface ae0.19 {
{% if unit_id == "01a" %}
                        priority 200;
{% elif unit_id == "01b" %}
                        priority 210;
{% endif %}
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                    interface ae0.20 {
{% if unit_id == "01a" %}
                        priority 200;
{% elif unit_id == "01b" %}
                        priority 210;
{% endif %}
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                    interface ae0.21 {
{% if unit_id == "01a" %}
                        priority 200;
{% elif unit_id == "01b" %}
                        priority 210;
{% endif %}
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            multiplier 3;
                        }
                    }
                }
            }
        }
    }
}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

